---
http_interactions:
- request:
    method: get
    uri: https://api.scrapecreators.com/v1/reddit/ads/search?formats=VIDEO,IMAGE&query=streaming
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"success":true,"ads":[{"id":"stream123","budget_category":"MEDIUM","industry":"ENTERTAINMENT","placements":["FEED"],"objective":"VIDEO_VIEWABLE_IMPRESSIONS","creative":{"id":"t3_stream123","type":"VIDEO","content":[{"destination_url":"https://streaming.example.com","display_url":"streaming.example.com","call_to_action":"Watch Now","media_url":"https://example.com/stream.mp4"}],"headline":"Stream Your Favorite Shows","body":"Unlimited entertainment at your fingertips.","thumbnail_url":"https://b.thumbs.redditmedia.com/stream.jpg","allow_comments":false,"created_at":"2024-07-20T09:00:00+00:00","profile_id":"t2_stream","post_url":"https://www.reddit.com/r/u_streamco/comments/stream123/"},"profile_info":{"name":"u_streamco","snoovatar_icon_url":"https://www.redditstatic.com/avatars/defaults/v2/avatar_default_3.png"}}]}'
  recorded_at: Sun, 23 Nov 2025 12:00:00 GMT
recorded_with: VCR 6.3.1
