---
http_interactions:
- request:
    method: get
    uri: https://api.scrapecreators.com/v1/reddit/ads/search?query=technology
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"success":true,"ads":[{"id":"79e005f1e09ec72245e904d87d2a0869","budget_category":"HIGH","industry":"TECH_B2C","placements":["FEED","COMMENTS_PAGE"],"objective":"CONVERSIONS","creative":{"id":"t3_1cdt7o6","type":"TEXT","content":[{"destination_url":"https://example.com","display_url":"example.com","call_to_action":"Learn More","media_url":null}],"headline":"Discover the Future of Technology","body":"Revolutionary products that change how you work and play. Join millions of satisfied customers today.","thumbnail_url":"https://b.thumbs.redditmedia.com/example.jpg","allow_comments":false,"created_at":"2024-04-26T18:47:57+00:00","profile_id":"t2_example","post_url":"https://www.reddit.com/r/u_techcompany/comments/example/"},"profile_info":{"name":"u_techcompany","snoovatar_icon_url":"https://www.redditstatic.com/avatars/defaults/v2/avatar_default_6.png"}}]}'
  recorded_at: Sun, 23 Nov 2025 12:00:00 GMT
recorded_with: VCR 6.3.1
