---
http_interactions:
- request:
    method: get
    uri: https://api.scrapecreators.com/v1/reddit/ads/search?budgets=HIGH&query=gaming
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"success":true,"ads":[{"id":"gaming123","budget_category":"HIGH","industry":"GAMING","placements":["FEED","COMMENTS_PAGE"],"objective":"CONVERSIONS","creative":{"id":"t3_gaming123","type":"VIDEO","content":[{"destination_url":"https://gaming.example.com","display_url":"gaming.example.com","call_to_action":"Play Now","media_url":"https://example.com/video.mp4"}],"headline":"Epic Gaming Experience Awaits","body":"Join the battle and dominate the leaderboards.","thumbnail_url":"https://b.thumbs.redditmedia.com/gaming.jpg","allow_comments":true,"created_at":"2024-06-15T14:30:00+00:00","profile_id":"t2_gaming","post_url":"https://www.reddit.com/r/u_gamingco/comments/gaming123/"},"profile_info":{"name":"u_gamingco","snoovatar_icon_url":"https://www.redditstatic.com/avatars/defaults/v2/avatar_default_2.png"}}]}'
  recorded_at: Sun, 23 Nov 2025 12:00:00 GMT
recorded_with: VCR 6.3.1
