---
http_interactions:
- request:
    method: get
    uri: https://api.scrapecreators.com/v1/reddit/ads/search?industries=TECH_B2B,TECH_B2C&query=software
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"success":true,"ads":[{"id":"abc123","budget_category":"MEDIUM","industry":"TECH_B2B","placements":["FEED"],"objective":"CLICKS","creative":{"id":"t3_abc123","type":"IMAGE","content":[{"destination_url":"https://software.example.com","display_url":"software.example.com","call_to_action":"Try Free","media_url":"https://example.com/image.jpg"}],"headline":"Enterprise Software Solutions","body":"Streamline your business operations with our platform.","thumbnail_url":"https://b.thumbs.redditmedia.com/software.jpg","allow_comments":true,"created_at":"2024-05-01T10:00:00+00:00","profile_id":"t2_software","post_url":"https://www.reddit.com/r/u_softwareco/comments/abc123/"},"profile_info":{"name":"u_softwareco","snoovatar_icon_url":"https://www.redditstatic.com/avatars/defaults/v2/avatar_default_1.png"}}]}'
  recorded_at: Sun, 23 Nov 2025 12:00:00 GMT
recorded_with: VCR 6.3.1
