---
http_interactions:
- request:
    method: get
    uri: https://api.scrapecreators.com/v1/reddit/post/comments?cursor=ed1jhoi&url=https://www.reddit.com/r/AskReddit/comments/ablzuq/people_who_havent_pooped_in_2019_yet_why_are_you/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1ddf-A0dT/Sr2NR/+GgIYLzI7aZi19ck"
      Rndr-Id:
      - c1b60a4d-2d6b-49be
      X-Render-Origin-Server:
      - Render
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"credits_remaining":24705,"comments":[{"url":"https://www.reddit.com/r/AskReddit/comments/ablzuq/people_who_havent_pooped_in_2019_yet_why_are_you/ed1jhoi/","created_at_iso":"2019-01-01T23:03:05.000Z","subreddit_id":"t5_2qh1i","approved_at_utc":null,"author_is_blocked":false,"comment_type":null,"edited":false,"mod_reason_by":null,"banned_by":null,"ups":63,"num_reports":null,"author_flair_type":"text","total_awards_received":0,"subreddit":"AskReddit","author_flair_template_id":null,"likes":null,"replies":{"items":[{"url":"https://www.reddit.com/r/AskReddit/comments/ablzuq/people_who_havent_pooped_in_2019_yet_why_are_you/ed1jqw6/","created_at_iso":"2019-01-01T23:06:35.000Z","subreddit_id":"t5_2qh1i","approved_at_utc":null,"author_is_blocked":false,"comment_type":null,"edited":false,"mod_reason_by":null,"banned_by":null,"ups":6,"num_reports":null,"author_flair_type":"text","total_awards_received":0,"subreddit":"AskReddit","author_flair_template_id":null,"likes":null,"replies":{"items":[],"more":{"has_more":false,"cursor":null}},"user_reports":[],"saved":false,"id":"ed1jqw6","banned_at_utc":null,"mod_reason_title":null,"gilded":0,"archived":true,"collapsed_reason_code":null,"no_follow":false,"author":"ShoddySubstance","can_mod_post":false,"created_utc":1546383995,"send_replies":true,"parent_id":"t1_ed1jhoi","score":6,"author_fullname":"t2_2uhed5z4","report_reasons":null,"approved_by":null,"all_awardings":[],"collapsed":false,"body":"good!
        be free of 2018","awarders":[],"top_awarded_type":null,"author_flair_css_class":null,"author_patreon_flair":false,"downs":0,"author_flair_richtext":[],"is_submitter":true,"body_html":"&lt;div
        class=\"md\"&gt;&lt;p&gt;good! be free of 2018&lt;/p&gt;\n&lt;/div&gt;","removal_reason":null,"collapsed_reason":null,"associated_award":null,"stickied":false,"author_premium":false,"can_gild":false,"gildings":{},"unrepliable_reason":null,"author_flair_text_color":null,"score_hidden":false,"permalink":"/r/AskReddit/comments/ablzuq/people_who_havent_pooped_in_2019_yet_why_are_you/ed1jqw6/","subreddit_type":"public","locked":false,"name":"t1_ed1jqw6","created":1546383995,"author_flair_text":null,"treatment_tags":[],"link_id":"t3_ablzuq","subreddit_name_prefixed":"r/AskReddit","controversiality":0,"depth":1,"author_flair_background_color":null,"collapsed_because_crowd_control":null,"mod_reports":[],"mod_note":null,"distinguished":null},{"url":"https://www.reddit.com/r/AskReddit/comments/ablzuq/people_who_havent_pooped_in_2019_yet_why_are_you/ed1krkc/","created_at_iso":"2019-01-01T23:20:35.000Z","subreddit_id":"t5_2qh1i","approved_at_utc":null,"author_is_blocked":false,"comment_type":null,"edited":false,"mod_reason_by":null,"banned_by":null,"ups":3,"num_reports":null,"author_flair_type":"text","total_awards_received":0,"subreddit":"AskReddit","author_flair_template_id":null,"likes":null,"replies":{"items":[],"more":{"has_[...]
