---
http_interactions:
- request:
    method: get
    uri: https://api.scrapecreators.com/v1/reddit/post/comments?url=https://www.reddit.com/r/AskReddit/comments/nonexistent123/fake_post/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"65-tf4Wo3gwUFMNfLh427Ov1RJAk3o"
      Rndr-Id:
      - 4bb1a5a4-4a84-4ce3
      X-Render-Origin-Server:
      - Render
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"credits_remaining":24708,"comments":[],"more":{"has_more":false,"next_cursor":null}}'
  recorded_at: Sun, 23 Nov 2025 17:59:55 GMT
recorded_with: VCR 6.3.1
