---
http_interactions:
- request:
    method: get
    uri: https://api.scrapecreators.com/v1/reddit/search?query=machine%20learning&sort=top&timeframe=month&trim=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"success":true,"posts":[{"subreddit":"MachineLearning","title":"Top ML Papers of 2024","author":"ml_researcher","id":"mlmonth123","name":"t3_mlmonth123","score":2500,"ups":2500,"num_comments":340,"created_utc":1731000000,"permalink":"/r/MachineLearning/comments/mlmonth123/top_ml_papers_of_2024/","url":"https://www.reddit.com/r/MachineLearning/comments/mlmonth123/top_ml_papers_of_2024/"}],"after":"t3_mlnext"}'
  recorded_at: Sun, 23 Nov 2025 07:00:00 GMT
recorded_with: VCR 6.3.1
