---
http_interactions:
- request:
    method: get
    uri: https://api.scrapecreators.com/v1/reddit/search?query=web%20scraping
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"success":true,"posts":[{"approved_at_utc":null,"subreddit":"webscraping","selftext":"1. Don''t try putting scraping tools in Lambda.","author_fullname":"t2_b88jvxe1","saved":false,"mod_reason_title":null,"gilded":0,"clicked":false,"title":"After 2 months learning scraping, I''m sharing what I learned!","link_flair_richtext":[],"subreddit_name_prefixed":"r/webscraping","hidden":false,"pwls":6,"link_flair_css_class":null,"downs":0,"thumbnail_height":null,"top_awarded_type":null,"hide_score":false,"name":"t3_1flgwup","quarantine":false,"link_flair_text_color":"dark","upvote_ratio":0.99,"author_flair_background_color":null,"subreddit_type":"public","ups":361,"total_awards_received":0,"media_embed":{},"thumbnail_width":null,"author_flair_template_id":null,"is_original_content":false,"user_reports":[],"secure_media":null,"is_reddit_media_domain":false,"is_meta":false,"category":null,"secure_media_embed":{},"link_flair_text":null,"can_mod_post":false,"score":361,"approved_by":null,"is_created_from_ads_ui":false,"author_premium":false,"thumbnail":"self","edited":1726964065,"author_flair_css_class":null,"author_flair_richtext":[],"gildings":{},"content_categories":null,"is_self":true,"mod_note":null,"created":1726851591,"link_flair_type":"text","wls":6,"removed_by_category":null,"banned_by":null,"author_flair_type":"text","domain":"self.webscraping","allow_live_comments":false,"selftext_html":"<!-- SC_OFF --><div class=\"md\"><ol><li>Don''t try putting scraping tools in Lambda.","likes":null,"suggested_sort":null,"banned_at_utc":null,"view_count":null,"archived":true,"no_follow":false,"is_crosspostable":false,"pinned":false,"over_18":false,"all_awardings":[],"awarders":[],"media_only":false,"can_gild":false,"spoiler":false,"locked":false,"author_flair_text":null,"treatment_tags":[],"visited":false,"removed_by":null,"num_reports":null,"distinguished":null,"subreddit_id":"t5_318ly","author_is_blocked":false,"mod_reason_by":null,"removal_reason":null,"link_flair_background_color":"","id":"1flgwup","is_robot_indexable":true,"report_reasons":null,"author":"Sea_Cardiologist_212","discussion_type":null,"num_comments":102,"send_replies":true,"contest_mode":false,"mod_reports":[],"author_patreon_flair":false,"author_flair_text_color":null,"permalink":"/r/webscraping/comments/1flgwup/after_2_months_learning_scraping_im_sharing_what/","stickied":false,"url":"https://www.reddit.com/r/webscraping/comments/1flgwup/after_2_months_learning_scraping_im_sharing_what/","subreddit_subscribers":58838,"created_utc":1726851591,"num_crossposts":0,"media":null,"is_video":false,"created_at_iso":"2024-09-20T16:59:51.000Z"},{"approved_at_utc":null,"subreddit":"Python","selftext":"I built a web scraping library that handles anti-bot measures.","author_fullname":"t2_abc123","saved":false,"gilded":0,"clicked":false,"title":"New Python Web Scraping Library","link_flair_richtext":[],"subreddit_name_prefixed":"r/Python","hidden":false,"pwls":6,"downs":0,"name":"t3_xyz789","quarantine":false,"upvote_ratio":0.95,"subreddit_type":"public","ups":245,"total_awards_received":0,"is_self":true,"score":245,"author_premium":false,"thumbnail":"self","created":1726851000,"is_original_content":false,"archived":false,"no_follow":false,"is_crosspostable":true,"pinned":false,"over_18":false,"spoiler":false,"locked":false,"subreddit_id":"t5_2qh0y","id":"xyz789","author":"python_dev_123","num_comments":45,"permalink":"/r/Python/comments/xyz789/new_python_web_scraping_library/","stickied":false,"url":"https://www.reddit.com/r/Python/comments/xyz789/new_python_web_scraping_library/","subreddit_subscribers":1200000,"created_utc":1726851000,"is_video":false,"created_at_iso":"2024-09-20T16:50:00.000Z"}],"after":"t3_1ihh437"}'
  recorded_at: Sun, 23 Nov 2025 07:00:00 GMT
recorded_with: VCR 6.3.1
