---
http_interactions:
- request:
    method: get
    uri: https://api.scrapecreators.com/v1/reddit/search?query=ruby%20gems&trim=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"success":true,"posts":[{"subreddit":"ruby","title":"Best Ruby Gems for 2024","author":"ruby_dev","id":"rubygems123","name":"t3_rubygems123","score":450,"ups":450,"num_comments":78,"created_utc":1732250000,"permalink":"/r/ruby/comments/rubygems123/best_ruby_gems_for_2024/","url":"https://www.reddit.com/r/ruby/comments/rubygems123/best_ruby_gems_for_2024/"}],"after":"t3_rubynext"}'
  recorded_at: Sun, 23 Nov 2025 07:00:00 GMT
recorded_with: VCR 6.3.1
