---
http_interactions:
- request:
    method: get
    uri: https://api.scrapecreators.com/v1/reddit/post/comments/simple?trim=true&url=https://www.reddit.com/r/AskReddit/comments/ablzuq/people_who_havent_pooped_in_2019_yet_why_are_you/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"20d9-fHK6bpdzH1uf6gOb9JakePe0Qz0"
      Rndr-Id:
      - d78b7c57-6cae-4d59
      X-Render-Origin-Server:
      - Render
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"ed1czme","author":"sweatybeard","author_fullname":"t2_cep2k","body":"But
        when I finally do, it''ll be the years biggest shit ^^^^^so ^^^^^far","name":"t1_ed1czme","created_utc":1546378524,"created_at_iso":"2019-01-01T21:35:24.000Z","parent_id":"t3_ablzuq","url":"https://www.reddit.com/r/AskReddit/comments/ablzuq/people_who_havent_pooped_in_2019_yet_why_are_you/ed1czme/","ups":12205,"downs":0,"score":12205},{"id":"ed1su6t","author":"jofwu","author_fullname":"t2_6ckuh","body":"Somewhere
        out there, somebody has made the biggest poop of the year. And they don''t
        even know it. ","name":"t1_ed1su6t","created_utc":1546391589,"created_at_iso":"2019-01-02T01:13:09.000Z","parent_id":"t1_ed1czme","url":"https://www.reddit.com/r/AskReddit/comments/ablzuq/people_who_havent_pooped_in_2019_yet_why_are_you/ed1su6t/","ups":2417,"downs":0,"score":2417},{"id":"ed1ye8p","author":"[deleted]","bo[...]
