---
http_interactions:
- request:
    method: get
    uri: https://api.scrapecreators.com/v1/reddit/post/comments/simple?amount=5&url=https://www.reddit.com/r/AskReddit/comments/ablzuq/people_who_havent_pooped_in_2019_yet_why_are_you/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"25d0-bhISwzE0SHYbdXN5fpVcJQLVDus"
      Rndr-Id:
      - 8fc359b9-7779-42f0
      X-Render-Origin-Server:
      - Render
    body:
      encoding: ASCII-8BIT
      string: '[{"created_at_iso":"2019-01-01T21:35:24.000Z","url":"https://www.reddit.com/r/AskReddit/comments/ablzuq/people_who_havent_pooped_in_2019_yet_why_are_you/ed1czme/","subreddit_id":"t5_2qh1i","approved_at_utc":null,"author_is_blocked":false,"comment_type":null,"awarders":[],"mod_reason_by":null,"banned_by":null,"author_flair_type":"text","total_awards_received":0,"subreddit":"AskReddit","author_flair_template_id":null,"likes":null,"user_reports":[],"saved":false,"id":"ed1czme","banned_at_utc":null,"mod_reason_title":null,"gilded":2,"archived":true,"collapsed_reason_code":null,"no_follow":false,"author":"sweatybeard","can_mod_post":false,"created_utc":1546378524,"send_replies":true,"parent_id":"t3_ablzuq","score":12207,"author_fullname":"t2_cep2k","approved_by":null,"mod_note":null,"all_awardings":[],"collapsed":false,"body":"But
        when I finally do, it''ll be the years biggest shit ^^^^^so ^^^^^far","edited":false,"top_awarded_type":null,"author_flair_css_class":null,"name":"t1_ed1czme","is_submitter":false,"downs":0,"author_flair_richtext":[],"author_patreon_flair":false,"body_html":"&lt;div
        class=\"md\"&gt;&lt;p&gt;But when I finally do, it&amp;#39;ll be the years
        biggest shit &lt;sup&gt;&lt;sup&gt;&lt;sup&gt;&lt;sup&gt;&lt;sup&gt;so&lt;/sup&gt;&lt;/sup&gt;&lt;/sup&gt;&lt;/sup&gt;&lt;/sup&gt;
        &lt;sup&gt;&lt;sup&gt;&lt;sup&gt;&lt;sup&gt;&lt;sup&gt;far&lt;/sup&gt;&lt;/sup&gt;&lt;/sup&gt;&lt;/sup&gt;&lt;/sup&gt;&lt;/p&gt;\n&lt;/div&gt;","removal_reason":null,"collapsed_reason":null,"distinguished":null,"associated_award":null,"stickied":false,"author_premium":false,"can_gild":false,"gildings":{},"unrepliable_reason":null,"author_flair_text_color":null,"score_hidden":false,"permalink":"/r/AskReddit/comments/ablzuq/people_who_havent_pooped_in_2019_yet_why_are_you/ed1czme/","subreddit_type":"public","locked":false,"report_reasons":null,"created":1546378524,"author_flair_text":null,"treatment_tags":[],"link_id":"t3_ablzuq","subreddit_name_prefixed":"r/AskReddit","controversiality":0,"depth":0,"author_flair_background_color":null,"collapsed_because_crowd_control":null,"mod_reports":[],"num_reports":null,"ups":12207},{"created_at_iso":"2019-01-02T01:13:09.000Z","url":"https://www.reddit.com/r/AskReddit/comments/ablzuq/people_who_havent_pooped_in_2019_yet_why_are_you/ed1su6t/","subreddit_id":"t5_2qh1i","approved_at_utc":null,"author_is_blocked":false,"comment_type":null,"awarders":[],"mod_reason_by":null,"banned_by":null,"author_flair_type":"text","total_awards_received":0,"subreddit":"AskReddit","author_flair_template_id":null,"likes":null,"user_reports":[],"saved":false,"id":"ed1su6t","banned_at_utc"[...]
