---
http_interactions:
- request:
    method: get
    uri: https://api.scrapecreators.com/v1/reddit/subreddit?subreddit=thissubredditdoesnotexist123456789xyz
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"74-fHx48HVumH+FukdHRIoStTwES+k"
      Rndr-Id:
      - 919dc5b6-1537-4532
      X-Render-Origin-Server:
      - Render
    body:
      encoding: ASCII-8BIT
      string: '{"success":false,"credits_remaining":24722,"error":"not_found","errorStatus":404,"message":"Subreddit
        not found :("}'
  recorded_at: Sun, 23 Nov 2025 06:42:48 GMT
recorded_with: VCR 6.3.1
