---
http_interactions:
- request:
    method: get
    uri: https://api.scrapecreators.com/v1/facebook/post/comments?url=https://www.facebook.com/reel/1206903601483960/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"comments":[{"id":"Y29tbWVudDoxMjA2OTAzNjAxNDgzOTYwXzc4NzQ2NjY0NzI2NTk4Mw==","text":"How are you not 300lbs?","created_at":"2025-09-01T00:38:58.000Z","reply_count":16,"reaction_count":76,"author":{"id":"pfbid0Ay28K5Lc7QpQLD8wZEHrq4ertocvWcZApjZjDoRqfkYQSzSxaPBS7qFt53v95rERl","name":"George Bergerac","gender":"MALE","profile_picture":"https://scontent-iad3-2.xx.fbcdn.net/v/t39.30808-1/505842751_10236156984095460_2868572328330516064_n.jpg","short_name":"George"}},{"id":"Y29tbWVudDoxMjA2OTAzNjAxNDgzOTYwXzEzMjc3MzczMjIyMDEyOTg=","text":"Do these bits have cheese in the middle?","created_at":"2025-09-01T00:52:22.000Z","reply_count":21,"reaction_count":32,"author":{"id":"1527964450","name":"Jill Carney Strother","gender":"FEMALE","profile_picture":"https://scontent-iad3-2.xx.fbcdn.net/v/t1.6435-1/69940743_10220991568328747_1326971802987003904_n.jpg","short_name":"Jill"}},{"id":"Y29tbWVudDoxMjA2OTAzNjAxNDgzOTYwXzE0ODE0MTIwNTYzNTA1NDk=","text":"I cannot even with some of you...this is not meant for dogs","created_at":"2025-09-01T01:46:44.000Z","reply_count":3,"reaction_count":57,"author":{"id":"pfbid0R6rs2W8jPF2sCcAKvZZJmGxsi3yvf49YpXdfxumjuwapfuAYgEEHaW2A9NQDcvMvl","name":"September Martinez","gender":"FEMALE","profile_picture":"https://scontent-iad3-1.xx.fbcdn.net/v/t39.30808-1/538790834_4189629641268107_6434583406373058543_n.jpg","short_name":"September"}}],"cursor":"MToxNzU3MTA2NzYyOg","hasNextPage":true}'
  recorded_at: Sat, 23 Nov 2025 10:00:00 GMT
recorded_with: VCR 6.3.1
