---
http_interactions:
- request:
    method: get
    uri: https://api.scrapecreators.com/v1/facebook/group/posts?url=https://www.facebook.com/groups/742354120555345
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"success":true,"posts":[{"id":"1286289372828481","text":null,"url":"https://www.facebook.com/groups/742354120555345/permalink/1286289372828481/","permalink":"https://www.facebook.com/sofiyati.942655/videos/996458202287759/?idorvanity=742354120555345","author":{"__typename":"User","name":"Sofiyati","short_name":"Sofiyati","id":"61552766652796"},"reactionCount":198,"commentCount":100,"videoViewCount":null,"publishTime":1748639389,"videoDetails":{"sdUrl":"https://video-sea1-1.xx.fbcdn.net/example_sd.mp4","hdUrl":"https://video-sea1-1.xx.fbcdn.net/example_hd.mp4","thumbnailUrl":"https://scontent-sea1-1.xx.fbcdn.net/example_thumb.jpg"},"topComments":[{"id":"Y29tbWVudDoxMjg2Mjg5MzcyODI4NDgxXzEyODY1MTY1MjYxMzkwOTk=","text":"I can find thousands of videos with the same exact trend. And we all know what I am referring to","publishTime":1748666375,"author":{"id":"pfbid0haqAQZCvs4cTVyfGwxCGPidvLYRNhFiboXkCH45LmPLAF1oQ7kJxaVig19KT8nZvl","name":"Trent Slushy","gender":"MALE","url":null}},{"id":"Y29tbWVudDoxMjg2Mjg5MzcyODI4NDgxXzEyODYzMTY4NDYxNTkwNjc=","text":"Nothing new when the brother gets knocked down another brother jumps in from behind.. very disrespectful","publishTime":1748642672,"author":{"id":"pfbid02fRnV4WmvHpX7sx48W2dmfetXpZHCLF5NhE3G4odMC8BniyRA3p4cQ3QYa4fzo57Sl","name":"Paul Demeo","gender":"MALE","url":null}}]},{"id":"1280901910033894","text":null,"url":"https://www.facebook.com/groups/742354120555345/permalink/1280901910033894/","permalink":"h[...]
