---
http_interactions:
- request:
    method: get
    uri: https://api.scrapecreators.com/v1/facebook/group/posts?url=https://www.facebook.com/groups/thisgrouupdoesnotexist123456789xyz/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":"not_found","error_status":404,"message":"The specified group does not exist or is not accessible"}'
  recorded_at: Sun, 23 Nov 2025 18:00:00 GMT
recorded_with: VCR 6.3.1
