---
http_interactions:
- request:
    method: get
    uri: https://api.scrapecreators.com/v1/facebook/post?get_comments=true&url=https://www.facebook.com/reel/1535656380759655
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"creditsRemaining":48025,"postId":"25118307061088489","likeCount":2095,"commentCount":48,"shareCount":133,"viewCount":133000,"description":"Air Fryer Chocolate Cake","feedbackId":"ZmVlZGJhY2s6MjUxMDIxMDY3OTkzNzUxODI=","url":"https://www.facebook.com/reel/1535656380759655","imageUrl":null,"video":{"id":"1535656380759655","sdUrl":"https://video-fml1-1.xx.fbcdn.net/test_sd.mp4","hdUrl":"https://video-fml1-1.xx.fbcdn.net/test_hd.mp4","height":1920,"width":1080,"lengthInSecond":23.36,"thumbnail":"https://scontent-fml1-1.xx.fbcdn.net/test_thumb.jpg"},"author":{"id":"100000076236457","name":"Matt West","isVerified":true,"url":"https://www.facebook.com/matt.west.184","image":"https://scontent-fml1-1.xx.fbcdn.net/test_image.jpg"},"comments":[{"id":"comment_1","text":"Looks delicious!","author":{"id":"123456","name":"John Doe"},"likeCount":5,"publishTime":1700000000},{"id":"comment_2","text":"Trying this tonight!","author":{"id":"789012","name":"Jane Smith"},"likeCount":3,"publishTime":1700001000}]}'
  recorded_at: Sat, 23 Nov 2025 10:00:00 GMT
recorded_with: VCR 6.3.1
