---
http_interactions:
- request:
    method: get
    uri: https://api.scrapecreators.com/v1/facebook/post?get_transcript=true&url=https://www.facebook.com/reel/1535656380759655
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"creditsRemaining":48024,"postId":"25118307061088489","likeCount":2095,"commentCount":48,"shareCount":133,"viewCount":133000,"description":"Air Fryer Chocolate Cake","feedbackId":"ZmVlZGJhY2s6MjUxMDIxMDY3OTkzNzUxODI=","url":"https://www.facebook.com/reel/1535656380759655","imageUrl":null,"video":{"id":"1535656380759655","sdUrl":"https://video-fml1-1.xx.fbcdn.net/test_sd.mp4","hdUrl":"https://video-fml1-1.xx.fbcdn.net/test_hd.mp4","height":1920,"width":1080,"lengthInSecond":23.36,"thumbnail":"https://scontent-fml1-1.xx.fbcdn.net/test_thumb.jpg"},"author":{"id":"100000076236457","name":"Matt West","isVerified":true,"url":"https://www.facebook.com/matt.west.184","image":"https://scontent-fml1-1.xx.fbcdn.net/test_image.jpg"},"transcript":{"text":"Today I am going to show you how to make an amazing air fryer chocolate cake.","segments":[{"start":0.0,"end":3.5,"text":"Today I am going to show you"},{"start":3.5,"end":7.0,"text":"how to make an amazing air fryer chocolate cake."}]}}'
  recorded_at: Sat, 23 Nov 2025 10:00:00 GMT
recorded_with: VCR 6.3.1
