---
http_interactions:
- request:
    method: get
    uri: https://api.scrapecreators.com/v1/facebook/post?url=https://www.facebook.com/reel/99999999999999999999
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"success":false,"error":"not_found","message":"The requested post does not exist or is not accessible."}'
  recorded_at: Sat, 23 Nov 2025 10:00:00 GMT
recorded_with: VCR 6.3.1
