---
http_interactions:
- request:
    method: get
    uri: https://api.scrapecreators.com/v1/facebook/profile/posts?cursor=Cg8Ob3JnYW5pY19jdXJzb3IJ&url=https://www.facebook.com/pacemorby/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"43-NuHway8Et3rHJyMX6gpKzrJh0zc"
      Rndr-Id:
      - 5120e938-1304-4d09
      X-Render-Origin-Server:
      - Render
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"credits_remaining":24711,"posts":[],"cursor":null}'
  recorded_at: Sun, 23 Nov 2025 17:54:51 GMT
recorded_with: VCR 6.3.1
