---
http_interactions:
- request:
    method: get
    uri: https://api.scrapecreators.com/v1/facebook/profile?get_business_hours=true&url=https://www.facebook.com/copperkettleyqr/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"creditsRemaining":9946894,"adLibrary":{"adStatus":"This Page is currently running ads.","pageId":"851606664870954"},"creationDate":"October 29, 2014","businessHours":[{"monday":{"open":"11:00","close":"00:00","fullText":"11:00 - 00:00"}},{"tuesday":{"open":"11:00","close":"21:00","fullText":"11:00 - 21:00"}},{"wednesday":{"open":"11:00","close":"00:00","fullText":"11:00 - 00:00"}},{"thursday":{"open":"11:00","close":"00:00","fullText":"11:00 - 00:00"}},{"friday":{"open":"11:00","close":"01:30","fullText":"11:00 - 01:30"}},{"saturday":{"open":"11:00","close":"01:30","fullText":"11:00 - 01:30"}},{"sunday":{"open":"11:00","close":"00:00","fullText":"11:00 - 00:00"}}],"id":"100064027242849","name":"The Copper Kettle Restaurant","url":"https://www.facebook.com/copperkettleyqr/","gender":"NEUTER","coverPhoto":{"focus":{"x":0.5,"y":0.48327464788732},"photo":{"id":"436705571807014","image":{"uri":"https://scontent.fdel9-1.fna.fbcdn.net/v/t39.30808-6/474477436_1020105193467046_5394070544420517909_n.jpg","width":960,"height":641},"viewerImage":{"height":641,"width":960},"blurredImage":{"uri":"https://scontent.fdel9-1.fna.fbcdn.net/v/t39.30808-6/474477436_1020105193467046.jpg","width":320,"height":214},"url":"https://www.facebook.com/photo/?fbid=436705571807014&set=a.436705548473683"}},"isBusinessPageActive":false,"profilePhoto":{"url":"https://www.facebook.com/photo/?fbid=436705568473681&set=a.436705545140350","viewerImage":{"height":320,"width":320},"id":"436705568473681"},"profilePicLarge":"https://scontent.fdel9-1.fna.fbcdn.net/v/t39.30808-1/298528699_436705561807015_4191178501684731329_n.jpg","profilePicMedium":"https://scontent.fdel9-1.fna.fbcdn.net/v/t39.30808-1/298528699_436705561807015.jpg","profilePicSmall":"https://scontent.fdel9-1.fna.fbcdn.net/v/t39.30808-1/298528699.jpg","pageIntro":"Longstanding local restaurant. Mediterranean specialties, signature gourmet pizzas (Best of YQR for","category":"Pizza place","address":"1953 Scarth Street, Regina, SK, Canada, Saskatchewan","email":"copperkettle.events@gmail.com","links":["https://www.instagram.com/copperkettleyqr"],"phone":"+1 306-525-3545","website":"http://www.thecopperkettle.online/","services":"Outdoor seating","priceRange":"££","rating":"94% recommend (205 reviews)","ratingCount":null,"likeCount":2660,"followerCount":2900}'
  recorded_at: Sat, 23 Nov 2025 10:00:00 GMT
recorded_with: VCR 6.3.1
