---
http_interactions:
- request:
    method: get
    uri: https://api.scrapecreators.com/v1/facebook/profile/posts?url=https://www.facebook.com/thispagedoesnotexist123456789xyz/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"72-Lj1cIfH8FIhZmOJ6dGiw2ZTEOOI"
      Rndr-Id:
      - ecc2a69d-1316-460a
      X-Render-Origin-Server:
      - Render
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"credits_remaining":24712,"error":"not_found","errorStatus":404,"message":"Account
        doesn''t exist"}'
  recorded_at: Sun, 23 Nov 2025 17:54:33 GMT
recorded_with: VCR 6.3.1
