---
http_interactions:
- request:
    method: get
    uri: https://api.scrapecreators.com/v1/pillar?url=https://mypillar.io/angelstrife
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"success":true,"credits_remaining":24000,"id":"d8a5cbb4-a64d-44f2-830d-27a489bbc608","firstName":"Angel","lastName":"Blanco","emailPrimary":"angelrafaelcovablanco@gmail.com","location":"México","email":"angelrafaelcovablanco@gmail.com","amazon":"","medium":"","tiktok":"https://tiktok.com/@angelstrifeoficial","twitch":"","discord":"","patreon":"","spotify":"https://open.spotify.com/artist/3Lse4fAlOchY8msotsYMA6?si=4nKqeTSRRsSDoNj1tfvNtA","twitter":"https://twitter.com/SoyAngelStrife","youtube":"https://www.youtube.com/channel/UCgZSHuBjHSFADbFQOCN1ifg","facebook":"https://www.facebook.com/AngelStrifeOficial","linkedin":"https://mx.linkedin.com/in/angelcovablanco","snapchat":"","instagram":"https://www.instagram.com/angelstrifeoficial","soundcloud":"https://soundcloud.com/contienda-records","appleAppStore":"","googleAppStore":"","links":[{"id":"66472110-1ba7-11ee-b33b-e5396daf72e9","type":"twitter","title":"twitter","url":"https://twitter.com/SoyAngelStrife","clicks":2,"order":null},{"id":"669fef70-1ba7-11ee-b33b-e5396daf72e9","type":"30 mil pies de altura para morir de amor","title":"30 mil pies de altura para morir de amor","url":"https://open.spotify.com/album/14jqUYFbuBs0HcftvQ7jC3?si=bX_bInR7R9Wu-mC9_77Fvw&context=spotify%3Aalbum%3A14jqUYFbuBs0HcftvQ7jC3","clicks":0,"order":2}],"products":[{"id":"254c8681-1d52-11ee-b065-850167411bb1","title":"\"30 Mil Pies De Altura Para Morir de Amor\" - LP","price":0,"url":"https://angel-strife.ueniweb.com/products/merchandise/30-mil-pies-de-altura-para-morir-de-amor-lp-especial-edition-vynil-deluxe-53106871","name":"\"30 Mil Pies De Altura Para Morir de Amor\" - LP","description":"Especial Edition Vynil Deluxe","image":"https://athlane-file-management-prod.s3.amazonaws.com/a925f7b5-77ba-4095-b755-27b2bc221baa"}]}'
  recorded_at: Sun, 24 Nov 2025 12:00:00 GMT
recorded_with: VCR 6.3.1
