---
http_interactions:
- request:
    method: get
    uri: https://api.scrapecreators.com/v1/twitch/clip?url=https://clips.twitch.tv/CloudySavageMarjoramRuleFive--ErzsYbE7UWvgCMQ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Render-Origin-Server:
      - Render
    body:
      encoding: ASCII-8BIT
      string: '[{"data":{"clip":{"id":"387484507","slug":"CloudySavageMarjoramRuleFive--ErzsYbE7UWvgCMQ","url":"https://clips.twitch.tv/CloudySavageMarjoramRuleFive--ErzsYbE7UWvgCMQ","embedURL":"https://clips.twitch.tv/embed?clip=CloudySavageMarjoramRuleFive--ErzsYbE7UWvgCMQ","title":"un grande el mesero","viewCount":52441,"language":"ES","isFeatured":true,"assets":[{"id":"AT-cm|W4NkMPhK87GGxO1Fr4AjEA","aspectRatio":1.7777777777777777,"type":"SOURCE","createdAt":"2024-03-30T21:52:12.134391826Z","creationState":"CREATED","curator":{"id":"192477639","login":"satagul_sy","displayName":"Satagul_SY","profileImageURL":"https://static-cdn.jtvnw.net/jtv_user_pictures/a7d1cf0c-6482-475c-a7ba-9fedf75f0149-profile_image-50x50.png","__typename":"User"},"thumbnailURL":"https://clips-media-assets2.twitch.tv/W4NkMPhK87GGxO1Fr4AjEA/AT-cm%7CW4NkMPhK87GGxO1Fr4AjEA-preview-480x272.jpg","videoQualities":[{"frameRate":60.01382974851694,"quality":"1080","sourceURL":"https://production.assets.clips.twitchcdn.net/W4NkMPhK87GGxO1Fr4AjEA/AT-cm%7CW4NkMPhK87GGxO1Fr4AjEA.mp4","__typename":"ClipVideoQuality"},{"frameRate":60.01382974851694,"quality":"720","sourceURL":"https://production.assets.clips.twitchcdn.net/W4NkMPhK87GGxO1Fr4AjEA/AT-cm%7CW4NkMPhK87GGxO1Fr4AjEA-720.mp4","__typename":"ClipVideoQuality"}],"portraitMetadata":null,"__typename":"ClipAsset"}],"curator":{"id":"192477639","login":"satagul_sy","displayName":"Satagul_SY","profileImageURL":"https://static-cdn.jtvnw.net/jtv_user_pictures/a7d1cf0c-6482-475c-a7ba-9fedf75f0149-profile_image-70x70.png","__typename":"User"},"game":{"id":"509672","name":"IRL","boxArtURL":"https://static-cdn.jtvnw.net/ttv-boxart/509672-52x72.jpg","displayName":"IRL","slug":"irl","__typename":"Game"},"broadcast":{"id":"43930529883","title":null,"__typename":"Broadcast"},"broadcaster":{"id":"167189231","login":"staryuuki","displayName":"Staryuuki","primaryColorHex":"689AFF","isPartner":true,"profileImageURL":"https://static-cdn.jtvnw.net/jtv_user_pictures/b45a3305-bc42-41cc-a754-e6679a2d9ef0-profile_image-70x70.png","followers":{"totalCount":3450065,"__typename":"FollowerConnection"},"stream":null,"lastBroadcast":{"id":"314597248121","startedAt":"2025-01-23T06:52:10.179125Z","__typename":"Broadcast"},"self":null,"__typename":"User"},"thumbnailURL":"https://clips-media-assets2.twitch.tv/W4NkMPhK87GGxO1Fr4AjEA/AT-cm%7CW4NkMPhK87GGxO1Fr4AjEA-preview-260x147.jpg","createdAt":"2024-03-30T21:52:12Z","isPublished":true,"durationSeconds":27,"champBadge":null,"playbackAccessToken":{"signature":"43c84d015eddd8ebc145f914824caa1c37ff6559","value":"{\"authorization\":{\"forbidden\":false,\"reason\":\"\"},\"clip_uri\":\"https://production.assets.clips.twitchcdn.net/W4NkMPhK87GGxO1Fr4AjEA/AT-cm%7CW4NkMPhK87GGxO1Fr4AjEA.mp4\",\"clip_slug\":\"CloudySavageMarjoramRuleFive--ErzsYbE7UWvgCMQ\",\"device_id\":\"gtd1TXg9937g0Ra59d6tJBe2f2vWobM7\",\"expires\":1737831991,\"user_id\":\"\",\"version\":2}","__typename":"PlaybackAccessToken"},"video":null,"videoOffsetSeconds":null,"videoQualities":[{"sourceURL":"https://production.assets.clips.twitchcdn.net/W4NkMPhK87GGxO1Fr4AjEA/AT-cm%7CW4NkMPhK87GGxO1Fr4AjEA.mp4","__typename":"ClipVideoQuality"},{"sourceURL":"https://production.assets.clips.twitchcdn.net/W4NkMPhK87GGxO1Fr4AjEA/AT-cm%7CW4NkMPhK87GGxO1Fr4AjEA-720.mp4","__typename":"ClipVideoQuality"}],"isViewerEditRestricted":true,"suggestedCropping":null,"__typename":"Clip","videoURL":"https://production.assets.clips.twitchcdn.net/W4NkMPhK87GGxO1Fr4AjEA/AT-cm%7CW4NkMPhK87GGxO1Fr4AjEA.mp4?sig=43c84d015eddd8ebc145f914824caa1c37ff6559&token=%7B%22authorization%22%3A%7B%22forbidden%22%3Afalse%2C%22reason%22%3A%22%22%7D%2C%22clip_uri%22%3A%22https%3A%2F%2Fproduction.assets.clips.twitchcdn.net%2FW4NkMPhK87GGxO1Fr4AjEA%2FAT-cm%257CW4NkMPhK87GGxO1Fr4AjEA.mp4%22%2C%22clip_slug%22%3A%22CloudySavageMarjoramRuleFive--ErzsYbE7UWvgCMQ%22%2C%22device_id%22%3A%22gtd1TXg9937g0Ra59d6tJBe2f2vWobM7%22%2C%22expires%22%3A1737831991%2C%22user_id%22%3A%22%22%2C%22version%22%3A2%7D"}},"extensions":{"durationMilliseconds":87,"operationName":"ShareClipRenderStatus","requestID":"01JJD92A0J3G5ND9PWV2SSXCPC"}},{"data":{"user":{"id":"167189231","clips":{"pageInfo":{"hasNextPage":true,"__typename":"PageInfo"},"edges":[{"cursor":null,"node":{"id":"2068359287","slug":"AmusedDiligentDelicataJKanStyle","url":"https://clips.twitch.tv/AmusedDiligentDelicataJKanStyle","embedURL":"https://clips.twitch.tv/embed?clip=AmusedDiligentDelicataJKanStyle","title":"uff","viewCount":134949,"language":"ES","curator":{"id":"106798576","login":"000pk","displayName":"000pk","__typename":"User"},"game":{"id":"509658","slug":"just-chatting","name":"Just Chatting","boxArtURL":"https://static-cdn.jtvnw.net/ttv-boxart/509658-52x72.jpg","__typename":"Game"},"broadcaster":{"id":"167189231","login":"staryuuki","displayName":"Staryuuki","profileImageURL":"https://static-cdn.jtvnw.net/jtv_user_pictures/b45a3305-bc42-41cc-a754-e6679a2d9ef0-profile_image-50x50.png","primaryColorHex":"689AFF","roles":{"isPartner":true,"__typename":"UserRoles"},"__typename":"User"},"thumbnailURL":"https://clips-media-assets2.twitch.tv/31012586624-offset-134-preview-260x147.jpg","createdAt":"2018-10-30T16:52:07Z","durationSeconds":30,"champBadge":null,"isFeatured":false,"guestStarParticipants":null,"__typename":"Clip"},"__typename":"ClipEdge"}],"__typename":"ClipConnection"},"__typename":"User"}},"extensions":{"durationMilliseconds":76,"operationName":"ClipsCards__User","requestID":"01JJD92A0J3G5ND9PWV2SSXCPC"}},{"data":{"user":null},"extensions":{"durationMilliseconds":2,"operationName":"GetDisplayName","requestID":"01JJD92A0J3G5ND9PWV2SSXCPC"}}]'
  recorded_at: Sun, 23 Nov 2025 07:00:00 GMT
recorded_with: VCR 6.3.1
