---
http_interactions:
- request:
    method: get
    uri: https://api.scrapecreators.com/v1/amazon/shop?url=https://www.amazon.com/shop/sydneydelrey
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"success":true,"credits_remaining":24500,"avatar":"https://m.media-amazon.com/images/I/A1rW00V-tHL._CR0%2C0%2C2560%2C2560_._US500_SCLZZZZZZZ_.jpg","name":"sydney del rey","description":"sharing all of my favorite Amazon finds ᥫ᭡ click the icons below to follow me on socials! all photo & video content is also shoppable x","socials":["https://vm.tiktok.com/ZTFrowSpg/","https://www.youtube.com/channel/UCWvW1JOQ-nsAinO1jLFgrVA"],"lists":[{"title":"fall transition fits","itemCount":72,"image":"https://m.media-amazon.com/images/G/01/Influencer/full_bleed_pin_2x.png","url":"https://www.amazon.com/shop/sydneydelrey/list/3QCPC18WETJFQ"},{"title":"fall shoes","itemCount":116,"image":"https://m.media-amazon.com/images/G/01/Influencer/full_bleed_pin_2x.png","url":"https://www.amazon.com/shop/sydneydelrey/list/1OX9UQ28GC2HG"},{"title":"fall fashion","itemCount":156,"image":"https://m.media-amazon.com/images/G/01/Influencer/full_bleed_pin_2x.png","url":"https://www.amazon.com/shop/sydneydelrey/list/3PDR5YVGLMWCO"}],"trendingPicks":[{"url":"https://www.amazon.com/shop/sydneydelrey/getProductDetails/B0DDJFFCB5?showRelatedPost=true","image":"https://m.media-amazon.com/images/I/41xvQcQoEnL._AC_.jpg","price":9.99,"discount":29},{"url":"https://www.amazon.com/shop/sydneydelrey/getProductDetails/B0DK1K4ZWS?showRelatedPost=true","image":"https://m.media-amazon.com/images/I/41IUfXRQSdL._AC_.jpg","price":12.74,"discount":42},{"url":"https://www.amazon.com/shop/sydneydelrey/getProductDetails/B0DJT3TRVY?showRelatedPost=true","image":"https://m.media-amazon.com/images/I/31ZI2vGNq-L._AC_.jpg","price":23.98,"discount":40},{"url":"https://www.amazon.com/shop/sydneydelrey/getProductDetails/B0F7WYS82C?showRelatedPost=true","image":"https://m.media-amazon.com/images/I/31EWj-NfVML._AC_.jpg","price":31.99,"discount":20},{"url":"https://www.amazon.com/shop/sydneydelrey/getProductDetails/B0DP5JNLQR?showRelatedPost=true","image":"https://m.media-amazon.com/images/I/41JJiYz9kVL._AC_.jpg","price":139.99,"discount":26}],"curations":[{"title":"Fall fashion 🍂","postCount":93,"image":"https://m.media-amazon.com/images/S/shoppable-media-external-prod-iad-us-east-1/039230ec-2e77-4287-beca-ecba4b03ca46/8cdde-e153-4e81-b404-a1ebd6c65._SX225_SCLZZZZZZZ_.jpeg","url":"https://www.amazon.com/shop/sydneydelrey/curation/c7bb2f3d-07a2-42f5-85f8-02adbb937961"},{"title":"summer fits - AS SEEN ON SOCIALS","postCount":254,"image":"https://m.media-amazon.com/images/S/shoppable-media-external-prod-iad-us-east-1/b97c7bda-c7b5-413c-a56b-eafa8af6178f/f2c70-8360-4f82-b9ac-e4fc43b66._S[...]
