---
http_interactions:
- request:
    method: get
    uri: https://api.scrapecreators.com/bluesky/profile?handle=thisuserdoesnotexist123456789xyz.bsky.social
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"credits_remaining":24667,"error":"not_found","errorStatus":404,"message":"Profile not found"}'
  recorded_at: Sun, 23 Nov 2025 19:34:21 GMT
recorded_with: VCR 6.3.1
