---
http_interactions:
- request:
    method: get
    uri: https://api.scrapecreators.com/bluesky/user/posts?handle=thisuserdoesnotexist123456789xyz.bsky.social
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 503
      message: Service Unavailable
    headers:
      Content-Type:
      - text/plain
    body:
      encoding: UTF-8
      string: 'upstream connect error or disconnect/reset before headers. reset reason:
        remote connection failure, transport failure reason: TLS_error:|268435581:SSL
        routines:OPENSSL_internal:CERTIFICATE_VERIFY_FAILED:TLS_error_end'
  recorded_at: Sun, 23 Nov 2025 19:48:03 GMT
- request:
    method: get
    uri: https://api.scrapecreators.com/bluesky/user/posts?handle=thisuserdoesnotexist123456789xyz.bsky.social
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"72-ZGXXOYHbkT0ECLYlbtW2OU4qCa0"
      Rndr-Id:
      - 13e28c4d-224c-4f82
      X-Render-Origin-Server:
      - Render
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"credits_remaining":24650,"error":"not_found","errorStatus":404,"message":"Account
        doesn''t exist"}'
  recorded_at: Sun, 23 Nov 2025 19:48:05 GMT
recorded_with: VCR 6.3.1
