---
http_interactions:
- request:
    method: get
    uri: https://api.scrapecreators.com/v1/instagram/basic-profile?userId=314216
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"friendship_status":null,"gating":null,"is_memorialized":false,"is_private":false,"has_story_archive":null,"supervision_info":null,"is_regulated_c18":false,"regulated_news_in_locations":[],"bio_links":[],"linked_fb_info":null,"text_post_app_badge_label":"zuck","show_text_post_app_badge":true,"username":"zuck","text_post_new_post_count":null,"pk":"314216","live_broadcast_visibility":null,"live_broadcast_id":null,"profile_pic_url":"https://instagram.fpoz4-1.fna.fbcdn.net/v/t51.2885-19/550234512_18532404670058217_8758519395071163708_n.jpg","hd_profile_pic_url_info":{"url":"https://instagram.fpoz4-1.fna.fbcdn.net/v/t51.2885-19/550234512_18532404670058217_8758519395071163708_n.jpg"},"is_unpublished":false,"latest_reel_media":0,"has_profile_pic":null,"profile_pic_genai_tool_info":[],"biography":"I build stuff","full_name":"Mark Zuckerberg","is_verified":true,"show_account_transparency_details":true,"account_type":3,"follower_count":16101999,"mutual_followers_count":null,"profile_context_links_with_user_ids":null,"address_street":null,"city_name":null,"is_business":false,"zip":null,"biography_with_entities":{"entities":[]},"category":null,"should_show_category":false,"account_badges":[],"ai_agent_type":null,"external_lynx_url":null,"external_url":"","pronouns":[],"transparency_label":null,"transparency_product":null,"has_chaining":null,"remove_message_entrypoint":null,"fbid_v2":"17841401746480004","is_embeds_disabled":false,"is_professional_account":null,"following_count":617,"media_count":409,"total_clips_count":1,"latest_besties_reel_media":null,"reel_media_seen_timestamp":null,"id":"314216"}'
  recorded_at: Sat, 23 Nov 2025 10:00:00 GMT
recorded_with: VCR 6.3.1
