---
http_interactions:
- request:
    method: get
    uri: https://api.scrapecreators.com/v1/instagram/post/comments?url=https://www.instagram.com/reel/DGg3aQqvOkv/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"success":true,"num_comments_grabbed":15,"credit_cost":1,"comments":[{"id":"17916526530048829","text":"This is amazing! Great content!","created_at":"2025-01-17T14:07:40.000Z","user":{"is_verified":false,"id":"64101106104","pk":"64101106104","is_unpublished":null,"profile_pic_url":"https://scontent-lga3-2.cdninstagram.com/v/example.jpg","username":"user_one","fbid_v2":"17841464143122638"}},{"id":"17931241376801152","text":"Love this so much!","created_at":"2024-08-30T17:24:32.000Z","user":{"is_verified":false,"id":"33778481496","pk":"33778481496","is_unpublished":null,"profile_pic_url":"https://scontent-scl2-1.cdninstagram.com/v/example.png","username":"user_two","fbid_v2":"17841433644902310"}},{"id":"18037210901506897","text":"Keep up the great work!","created_at":"2024-08-28T02:30:25.000Z","user":{"is_verified":true,"id":"1959716030","pk":"1959716030","is_unpublished":null,"profile_pic_url":"https://scontent-lga3-3.cdninstagram.com/v/example.jpg","username":"verified_user","fbid_v2":"17841402040904964"}},{"id":"18356511118113286","text":"@friend check this out","created_at":"2024-07-28T06:34:24.000Z","user":{"is_verified":false,"id":"12556711876","pk":"12556711876","is_unpublished":null,"profile_pic_url":"https://scontent-lga3-2.cdninstagram.com/v/example.jpg","username":"user_three","fbid_v2":"17841412716289588"}},{"id":"18094964092430915","text":"lol this is funny","created_at":"2024-07-01T08:07:04.000Z","user":{"is_verified":false,"id":"5733134375","pk":"5733134375","is_unpublished":null,"profile_pic_url":"https://scontent-lga3-2.cdninstagram.com/v/example.jpg","username":"user_four","fbid_v2":"17841405711276641"}}]}'
  recorded_at: Sat, 23 Nov 2025 10:00:00 GMT
recorded_with: VCR 6.3.1
