---
http_interactions:
- request:
    method: get
    uri: https://api.scrapecreators.com/v1/instagram/user/embed?handle=adrianhorning
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1fed9-CotH3/mWG4zXqQB3CuSSPT3Mb4Y"
      Rndr-Id:
      - e174934b-75db-435a
      X-Render-Origin-Server:
      - Render
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"credits_remaining":24647,"html":"<!DOCTYPE html>\n<html
        lang=\"en\" id=\"facebook\" class=\"no_js\">\n<head><meta charset=\"utf-8\"
        /><meta name=\"referrer\" content=\"origin-when-crossorigin\" id=\"meta_referrer\"
        /><script nonce=\"zNd9QL3f\">function envFlush(e){function t(t){for(var n
        in e)t[n]=e[n]}window.requireLazy?window.requireLazy([\"Env\"],t):(window.Env=window.Env||{},t(window.Env))}envFlush({\"useTrustedTypes\":false,\"isTrustedTypesReportOnly\":false,\"ajaxpipe_token\":\"AXnRQm6Q6ULIfehc6Ag\",\"stack_trace_limit\":30,\"timesliceBufferSize\":5000,\"show_invariant_decoder\":false,\"compat_iframe_token\":\"AUc2zwrsqwvWYvXpCH0qPL4Q-Sw\",\"isCQuick\":false,\"brsid\":\"7576012442679037147\",\"promise_include_trace\":false});</script><script
        nonce=\"zNd9QL3f\">window.openDatabase&&(window.openDatabase=function(){throw
        new Error});</script><script nonce=\"zNd9QL3f\">_btldr={};</script><script
        nonce=\"zNd9QL3f\">(function(){function e(e){return e.parentElement!==document.body&&e.parentElement!==document.head}function
        t(e){var t;return e.nodeName===\"SCRIPT\"||e.nodeName===\"LINK\"&&((t=n(e))==null?void
        0:t.asyncCss)}function n(e){return e.dataset instanceof window.DOMStringMap?e.dataset:null}function
        r(r){var o;try{if(r.nodeType!==Node.ELEMENT_NODE)return}catch(e){return}if(!(e(r)||!t(r))){var
        a=(o=n(r))==null?void 0:o.bootloaderHash;if(a!=null&&a!==\"\"){var i=null,l=function(){window._btldr[a]=1,i==null||i()};i=function(){r.removeEventListener(\"load\",l),r.removeEventListener(\"error\",l)},r.addEventListener(\"load\",l),r.addEventListener(\"error\",l)}}}Array.from(document.querySelectorAll(''script,link[data-async-css=\"1\"]'')).forEach(function(e){return
        r(e)});var o=new MutationObserver(function(e,t){e.forEach(function(e){e.type===\"childList\"&&Array.from(e.addedNodes).forEach(function(e){r(e)})})});o.observe(document.getElementsByTagName(\"html\")[0],{attributes:!1,childList:!0,subtree:!0})})();</script><style
        nonce=\"zNd9QL3f\"></style><script nonce=\"zNd9QL3f\">__DEV__=0;</script><noscript><meta
        http-equiv=\"refresh\" content=\"0; URL=/adrianhorning/embed/?_fb_noscript=1\"
        /></noscript><title id=\"pageTitle\">Instagram</title><meta name=\"bingbot\"
        content=\"noarchive\" /><meta name=\"bingbot\" content=\"noarchive\" /><link
        rel=\"icon\" href=\"https://static.cdninstagram.com/rsrc.php/v4/yI/r/VsNE-OHk_8a.png\"
        /><link type=\"text/css\" rel=\"stylesheet\" href=\"https://static.cdninstagram.com/rsrc.php/v5/yI/l/0,cross/b0mIsipAoOb.css\"
        data-bootloader-hash=\"rjRlueS\" crossorigin=\"anonymous\" />\n<link type=\"text/css\"
        rel=\"stylesheet\" href=\"https://static.cdninstagram.com/rsrc.php/v5/y3/l/0,cross/P43iIkIlZSS.css\"
        data-bootloader-hash=\"OG+PXNF\" crossorigin=\"anonymous\" />\n<link type=\"text/css\"
        rel=\"stylesheet\" href=\"https://static.cdninstagram.com/rsrc.php/v5/yy/l/0,cross/cgezr7HjCqo.css\"
        data-bootloader-hash=\"Hg0wvaJ\" crossorigin=\"anonymous\" />\n<link type=\"text/css\"
        rel=\"stylesheet\" href=\"https://static.cdninstagram.com/rsrc.php/v5/yC/l/0,cross/_4IMEzN2HAq.css\"
        data-bootloader-hash=\"cUoQo58\" crossorigin=\"anonymous\" />\n<link type=\"text/css\"
        rel=\"stylesheet\" href=\"https://static.cdninstagram.com/rsrc.php/v5/y-/l/0,cross/YsX91s15Oek.css\"
        data-bootloader-hash=\"ESa7acZ\" crossorigin=\"anonymous\" />\n<link type=\"text/css\"
        rel=\"stylesheet\" href=\"https://static.cdninstagram.com/rsrc.php/v5/yg/l/0,cross/XxSY6ltYtKW.css\"
        data-bootloader-hash=\"vJYguWY\" crossorigin=\"anonymous\" />\n<script src=\"https://static.cdninstagram.com/rsrc.php/v4/yl/r/8WauLuHIUmG.js\"
        data-bootloader-hash=\"dThAkGE\" crossorigin=\"anonymous\"></script>\n<script
        nonce=\"zNd9QL3f\">requireLazy([\"HasteSupportData\"],function(m){m.handle({\"clpData\":{\"636\":{\"r\":1,\"s\":1},\"1791\":{\"r\":1},\"3707\":{\"r\":1,\"s\":1},\"5674\":{\"r\":1},\"6476\":{\"r\":1000,\"s\":1},\"6934\":{\"r\":1,\"s\":1},\"1744178\":{\"r\":1,\"s\":1},\"1744247\":{\"r\":1},\"1744249\":{\"r\":1},\"1814852\":{\"r\":1},\"1838142\":{\"r\":1,\"s\":1},\"1962341\":{\"r\":1,\"s\":1},\"5537\":{\"r\":1,\"s\":1},\"5851\":{\"r\":1,\"s\":1},\"5852\":{\"r\":1,\"s\":1},\"5853\":{\"r\":1,\"s\":1},\"5854\":{\"r\":1,\"s\":1},\"1828905\":{\"r\":1},\"1848815\":{\"r\":10000,\"s\":1}},\"gkxData\":{\"25394\":{\"result\":true,\"hash\":\"AT6S3O4AIX6vJKrB0yk\"},\"4\":{\"result\":false,\"hash\":null},\"196\":{\"result\":false,\"hash\":null},\"1154\":{\"result\":true,\"hash\":null},\"1174\":{\"result\":false,\"hash\":null},\"1196\":{\"result\":false,\"hash\":null},\"1514\":{\"result\":false,\"hash\":null},\"1624\":{\"result\":false,\"hash\":null},\"1873\":{\"result\":false,\"hash\":null},\"2160\":{\"result\":false,\"hash\":null},\"3193\":{\"result\":false,\"hash\":null},\"3739\":{\"result\":false,\"hash\":null},\"4008\":{\"result[...]
