---
http_interactions:
- request:
    method: get
    uri: https://api.scrapecreators.com/v1/instagram/user/highlight/detail?id=highlight:18067016518767507
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"success":true,"id":"highlight:18067016518767507","latest_reel_media":1745272279,"seen":null,"can_reply":false,"can_gif_quick_reply":true,"can_reshare":true,"reel_type":"highlight_reel","ad_expiry_timestamp_in_millis":null,"is_cta_sticker_available":null,"app_sticker_info":null,"should_treat_link_sticker_as_cta":null,"pool_refresh_ttl_in_sec":null,"can_react_with_avatar":false,"cover_media":{"cropped_image_version":{"width":150,"height":150,"url":"https://scontent-dub4-1.cdninstagram.com/v/t51.2885-15/479737232.jpg"},"crop_rect":[0,0.178,1,0.742],"media_id":"3574665805209826888_21393171","full_image_version":null,"upload_id":null},"user":{"pk":"21393171","pk_id":"21393171","full_name":"Jane Williamson","is_private":false,"strong_id__":"21393171","id":"21393171","username":"jane","is_verified":true,"profile_pic_id":"3583980709961915639_21393171","profile_pic_url":"https://scontent-dub4-1.cdninstagram.com/v/t51.2885-19/482782944.jpg","interop_messaging_user_fbid":119713162748634,"transparency_product_enabled":false},"items":[{"pk":"3565907942018983442","id":"3565907942018983442_21393171","is_visual_reply_commenter_notice_enabled":true,"like_and_view_counts_disabled":false,"is_post_live_clips_media":false,"is_reshare_of_text_post_app_media_in_ig":false,"is_reel_media":true,"fbid":"17968033766718273","device_timestamp":1739309362129426,"caption_is_edited":false,"strong_id__":"3565907942018983442_21393171","is_quicksnap_recap":false,"deleted_reason":0,"mezql_token":"","imported_taken_at":1739305646,"should_request_ads":false,"is_terminal_video_segment":false,"integrity_review_decision":"pending","client_cache_key":"MzU2NTkwNzk0MjAxODk4MzQ0Mg==.3","comment_threading_enabled":true,"is_unified_video":false,"commerciality_status":"not_commercial","caption_position":0,"has_privately_liked":false,"filter_type":0,"taken_at":1739309361,"hide_view_all_comment_entrypoint":false,"is_comments_gif_composer_enabled":false,"video_sticker_locales":[],"is_dash_eligible":1,"number_of_qualities":4,"video_versions":[{"bandwidth":null,"height":852,"type":101,"url":"https://scontent-dub4-1.cdninstagram.com/o1/v/t16/f2/m78/test.mp4","width":480}],"video_duration":55.85,"has_audio":true,"can_viewer_save":false,"shop_routing_user_id":null,"is_organic_product_tagging_eligible":false,"product_suggestions":[],"photo_of_you":false,"can_see_insights_as_brand":false,"media_type":2,"code":"DF8pmFZySYS","caption":null,"sharing_friction_info":{"bloks_app_url":null,"should_have_sharing_friction":false,"sharing_friction_payload":null},"timeline_pinned_user_ids":[],"has_translation":false,"original_media_has_visual_reply_media":false,"coauthor_producers":[],"coauthor_producer_can_see_organic_insights":false,"invited_coauthor_producers":[],"is_in_profile_grid":false,"profile_grid_control_enabled":false,"user":{"fbid_v2":"17841400515130334","full_name":"Jane Williamson","id":"21393171","username":"jane"},"owner":{"full_name":"Jane Williamson","id":"21393171","is_private":false,"pk":"21393171","pk_id":"21393171","strong_id__":"21393171","account_type":3,"account_badges":[],"hd_profile_pic_versions":[{"height":640,"url":"https://scontent-dub4-1.cdninstagram.com/v/t51.2885-19/482782944.jpg","width":640}],"is_verified":true,"profile_pic_id":"3583980709961915639_21393171","profile_pic_url":"https://scontent-dub4-1.cdninstagram.com/v/t51.2885-19/482782944.jpg","username":"jane"},"image_versions2":{"candidates":[{"width":640,"height":1136,"url":"https://scontent-dub4-1.cdninstagram.com/v/t51.2885-15/477141407.jpg","scans_profile":""}]},"original_width":1080,"original_height":1920,"product_type":"story","is_paid_partnership":false,"music_metadata":null,"ig_media_sharing_disabled":false,"boost_unavailable_identifier":null,"boost_unavailable_reason":null,"boost_unavailable_reason_v2":[],"subscribe_cta_visible":false,"is_cutout_sticker_allowed":false,"cutout_sticker_info":[],"fb_aggregated_like_count":0,"fb_aggregated_comment_count":0,"open_carousel_show_follow_button":false,"is_tagged_media_shared_to_viewer_profile_grid":false,"should_show_author_pog_for_tagged_media_shared_to_profile_grid":false,"is_open_to_public_submission":false,"likers":[],"archive_story_deletion_ts":0,"can_send_prompt":false,"is_first_take":false,"is_from_discovery_surface":false,"is_rollcall_v2":false,"supports_reel_reactions":true,"is_photo_mash_story":false,"can_play_spotify_audio":false,"is_superlative":false,"show_one_tap_fb_share_tooltip":true,"can_reply":false,"can_reshare":true}],"is_nux":false,"title":"GRWM chats","created_at":1743889595,"is_pinned_highlight":false,"prefetch_count":0,"media_count":25,"media_ids":["3565907942018983442","3571582656468967287","3573813516152622297","3574665805209826888","3575425853896904238","3588933496974183264","3591096492485996216","3600585437359112490","3611472316234390003","3615928471546994312"],"is_converted_to_clips":false,"disabled_reply_types":["story_remix_reply","story_selfie_reply"],"highlight_reel_type":"DEFAULT","is_added_to_main_grid":false,"is_archived":false,"is_fit_green":true}'
  recorded_at: Sat, 23 Nov 2025 10:00:00 GMT
recorded_with: VCR 6.3.1
