---
http_interactions:
- request:
    method: get
    uri: https://api.scrapecreators.com/v1/instagram/post?url=https://www.instagram.com/reel/DF5s0duxDts/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"xdt_shortcode_media":{"__typename":"XDTGraphVideo","__isXDTGraphMediaInterface":"XDTGraphVideo","id":"3565077699422862188","shortcode":"DF5s0duxDts","thumbnail_src":"https://scontent-sea1-1.cdninstagram.com/v/t51.2885-15/477122965_649465970874204_1961845900289272695_n.jpg","dimensions":{"height":1136,"width":640},"gating_info":null,"fact_check_overall_rating":null,"fact_check_information":null,"sensitivity_friction_info":null,"sharing_friction_info":{"should_have_sharing_friction":false,"bloks_app_url":null},"media_overlay_info":null,"media_preview":"ABgqlppqxtFVpzhse1QUNJoqPNFAE4uyx4Xr3zTXckYx9easLaKnTP8A+ustt4OMfN0J9f8APp2oaGiZZlJxgg0VUZJISC6kAck//X6UUAdD3zTDCrHd+OKenQf59acOg/CtLEXFOO9FIaKYH//Z","display_url":"https://scontent-sea1-1.cdninstagram.com/v/t51.2885-15/477122965_649465970874204_1961845900289272695_n.jpg","display_resources":[{"src":"https://scontent-sea1-1.cdninstagram.com/v/t51.2885-15/477122965_649465970874204_1961845900289272695_n.jpg","config_width":640,"config_height":1136},{"src":"https://scontent-sea1-1.cdninstagram.com/v/t51.2885-15/477122965_649465970874204_1961845900289272695_n.jpg","config_width":750,"config_height":1331},{"src":"https://scontent-sea1-1.cdninstagram.com/v/t51.2885-15/477122965_649465970874204_1961845900289272695_n.jpg","config_width":1080,"config_height":1917}],"accessibility_caption":null,"has_audio":true,"video_url":"https://scontent-sea1-1.cdninstagram.com/o1/v/t16/f2/m86/example.mp4","video_view_count":1639,"video_play_count":4651,"encoding_status":null,"is_published":true,"product_type":"clips","title":"","video_duration":71.1,"clips_music_attribution_info":{"artist_name":"adrianhorning","song_name":"Original audio","uses_original_audio":true,"should_mute_audio":false,"should_mute_audio_reason":"","audio_id":"1306404793971715"},"is_video":true,"tracking_token":"eyJ2ZXJzaW9uIjo1fQ==","upcoming_event":null,"edge_media_to_tagged_user":{"edges":[]},"owner":{"id":"2700692569","username":"adrianhorning","is_verified":true,"profile_pic_url":"https://scontent-sea1-1.cdninstagram.com/v/t51.2885-19/430086429_362220943449758_2621012714660517106_n.jpg","blocked_by_viewer":false,"restricted_by_viewer":null,"followed_by_viewer":false,"full_name":"Adrian Horning","has_blocked_viewer":false,"is_embeds_disabled":false,"is_private":false,"is_unpublished":false,"requested_by_viewer":false,"pass_tiering_recommendation":true,"edge_owner_to_timeline_media":{"count":72},"edge_followed_by":{"count":25139}},"edge_media_to_caption":{"edges":[{"node":{"created_at":"1739210436","text":"I built my own gumroad in 24 hours with AI","id":"17957841497904836"}}]},"can_see_insights_as_brand":false,"caption_is_edited":false,"has_ranked_comments":false,"like_and_view_counts_disabled":false,"edge_media_to_parent_comment":{"count":17,"page_info":{"has_next_page":true,"end_cursor":"cursor123"},"edges":[{"node":{"id":"18063179545902021","text":"🔥","created_at":1739307412,"did_report_as_spam":false,"owner":{"id":"61973745595","is_verified":false,"profile_pic_url":"https://scontent-sea1-1.cdninstagram.com/v/t51.2885-19/474798440_440451159035533_6502503228258065643_n.jpg","username":"helioslabsofficial"},"viewer_has_liked":false,"edge_liked_by":{"count":1},"is_restricted_pending":false,"edge_threaded_comments":{"count":0,"page_info":{"has_next_page":false,"end_cursor":null},"edges":[]}}}]},"edge_media_to_hoisted_comment":{"edges":[]},"edge_media_preview_comment":{"count":17,"edges":[{"node":{"id":"18063179545902021","text":"🔥","created_at":1739307412,"did_report_as_spam":false,"owner":{"id":"61973745595","is_verified":false,"profile_pic_url":"https://scontent-sea1-1.cdninstagram.com/v/t51.2885-19/474798440_440451159035533_6502503228258065643_n.jpg","username":"helioslabsofficial"},"viewer_has_liked":false,"edge_liked_by":{"count":1},"is_restricted_pending":false}}]},"comments_disabled":false,"commenting_disabled_for_viewer":false,"taken_at_timestamp":1739210435,"edge_media_preview_like":{"count":153,"edges":[]},"edge_media_to_sponsor_user":{"edges":[]},"is_affiliate":false,"is_paid_partnership":false,"location":null,"nft_asset_info":null,"viewer_has_liked":false,"viewer_has_saved":false,"viewer_has_saved_to_collection":false,"viewer_in_photo_of_you":false,"viewer_can_reshare":true,"is_ad":false,"edge_web_media_to_related_media":{"edges":[]},"coauthor_producers":[],"pinned_for_users":[]}},"extensions":{"is_final":true},"status":"ok"}'
  recorded_at: Sat, 23 Nov 2025 10:00:00 GMT
recorded_with: VCR 6.3.1
