---
http_interactions:
- request:
    method: get
    uri: https://api.scrapecreators.com/v2/instagram/user/posts?handle=barstoolsports
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"profile_grid_items":null,"profile_grid_items_cursor":null,"pinned_profile_grid_items_ids":null,"special_empty_state":null,"num_results":12,"more_available":true,"items":[{"pk":"3600545900919030401","id":"3600545900919030401_260462810","fbid":"18362930887133514","device_timestamp":1743438518281933,"caption_is_edited":false,"strong_id__":"3600545900919030401_260462810","deleted_reason":0,"has_shared_to_fb":0,"has_delayed_metadata":false,"share_count_disabled":false,"is_visual_reply_commenter_notice_enabled":true,"like_and_view_counts_disabled":false,"comment_threading_enabled":true,"is_unified_video":false,"has_privately_liked":false,"filter_type":0,"taken_at":1743438570,"photo_of_you":false,"can_see_insights_as_brand":false,"media_type":2,"code":"DH3tWudxIKB","caption":{"bit_flags":0,"created_at":1743438572,"created_at_utc":1743438572,"did_report_as_spam":false,"pk":"18362930947133514","content_type":"comment","media_id":"3600545900919030401","status":"Active","type":1,"user_id":"260462810","text":"Dana is neglecting a pretty important level of the food pyramid @danabeers @francisccellis","user":{"pk":"260462810","pk_id":"260462810","id":"260462810","username":"barstoolsports","full_name":"Barstool Sports","is_private":false,"is_verified":true,"profile_pic_url":"https://instagram.example.com/profile.jpg"}},"timeline_pinned_user_ids":[],"play_count":35499,"has_views_fetching":true,"ig_play_count":35499,"display_uri":"https://instagram.example.com/display.jpg","user":{"fbid_v2":"17841401404304069","feed_post_reshare_disabled":false,"full_name":"Barstool Sports","id":"260462810","is_private":false,"pk":"260462810","pk_id":"260462810","username":"barstoolsports","account_type":2,"is_verified":true,"profile_pic_url":"https://instagram.example.com/profile.jpg"},"owner":{"fbid_v2":"17841401404304069","full_name":"Barstool Sports","id":"260462810","is_private":false,"pk":"260462810","username":"barstoolsports","is_verified":true,"profile_pic_url":"https://instagram.example.com/profile.jpg"},"image_versions2":{"candidates":[{"width":720,"height":1280,"url":"https://instagram.example.com/image.jpg"}]},"original_width":720,"original_height":1280,"product_type":"clips","is_paid_partnership":false,"organic_tracking_token":"eyJ2ZXJzaW9uIjo1fQ==","is_third_party_downloads_eligible":true,"comment_count":12,"has_liked":false,"like_count":387,"video_duration":76.717,"has_audio":true,"video_versions":[{"bandwidth":null,"height":853,"type":101,"url":"https://instagram.example.com/video.mp4","width":480}],"can_viewer_save":true,"can_viewer_reshare":true,"has_more_comments":true,"url":"https://www.instagram.com/barstoolsports/p/DH3tWudxIKB/"},{"pk":"3599731065704772932","id":"3599731065704772932_260462810","fbid":"18362930887133515","device_timestamp":1743351918281933,"caption_is_edited":false,"strong_id__":"3599731065704772932_260462810","deleted_reason":0,"has_shared_to_fb":0,"share_count_disabled":false,"comment_threading_enabled":true,"is_unified_video":false,"filter_type":0,"taken_at":1743351970,"photo_of_you":false,"media_type":1,"code":"DH1xyzABCDE","caption":{"created_at":1743351972,"pk":"18362930947133515","text":"Another great post","user":{"pk":"260462810","username":"barstoolsports","full_name":"Barstool Sports","is_verified":true}},"user":{"full_name":"Barstool Sports","id":"260462810","is_private":false,"pk":"260462810","username":"barstoolsports","is_verified":true,"profile_pic_url":"https://instagram.example.com/profile.jpg"},"image_versions2":{"candidates":[{"width":1080,"height":1080,"url":"https://instagram.example.com/image2.jpg"}]},"original_width":1080,"original_height":1080,"product_type":"feed","comment_count":45,"like_count":1234,"can_viewer_save":true,"url":"https://www.instagram.com/barstoolsports/p/DH1xyzABCDE/"}],"next_max_id":"3599731065704772932_260462810","user":{"pk":"260462810","pk_id":"260462810","username":"barstoolsports","full_name":"Barstool Sports","is_private":false,"is_active_on_text_post_app":true,"profile_grid_display_type":"default","id":"260462810","is_verified":true,"profile_pic_url":"https://instagram.example.com/profile.jpg"},"auto_load_more_enabled":false,"status":"ok"}'
  recorded_at: Sat, 23 Nov 2025 10:00:00 GMT
recorded_with: VCR 6.3.1
