---
http_interactions:
- request:
    method: get
    uri: https://api.scrapecreators.com/v1/instagram/profile?handle=adrianhorning
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"user":{"ai_agent_type":null,"biography":"Scraping the web","bio_links":[{"title":"Social Media APIs","lynx_url":"https://l.instagram.com/?u=https%3A%2F%2Fscrapecreators.com%2F","url":"https://scrapecreators.com","link_type":"external"},{"title":"My web scraping course!","lynx_url":"https://l.instagram.com/?u=https%3A%2F%2Fadrianhorning.gumroad.com","url":"https://adrianhorning.gumroad.com/l/the-ultimate-web-scraping-course","link_type":"external"}],"fb_profile_biolink":null,"biography_with_entities":{"raw_text":"Scraping the web","entities":[]},"blocked_by_viewer":false,"restricted_by_viewer":null,"country_block":false,"eimu_id":"114948679895803","external_url":"https://scrapecreators.com/","external_url_linkshimmed":"https://l.instagram.com/?u=https%3A%2F%2Fscrapecreators.com%2F","edge_followed_by":{"count":25116},"fbid":"17841402777077586","followed_by_viewer":false,"edge_follow":{"count":101},"follows_viewer":false,"full_name":"Adrian Horning","group_metadata":null,"has_ar_effects":false,"has_clips":true,"has_guides":false,"has_channel":false,"has_blocked_viewer":false,"highlight_reel_count":0,"has_onboarded_to_text_post_app":true,"has_requested_viewer":false,"hide_like_and_view_counts":false,"id":"2700692569","is_business_account":true,"is_professional_account":true,"is_supervision_enabled":false,"is_guardian_of_viewer":false,"is_supervised_by_viewer":false,"is_supervised_user":false,"is_embeds_disabled":false,"is_joined_recently":false,"guardian_id":null,"business_address_json":"{\"city_name\": \"Austin, Texas\"}","business_contact_method":"UNKNOWN","business_email":null,"business_phone_number":null,"business_category_name":"None","overall_category_name":null,"category_enum":null,"category_name":"Entrepreneur","is_private":false,"is_verified":true,"is_verified_by_mv4b":false,"is_regulated_c18":false,"edge_mutual_followed_by":{"count":0,"edges":[]},"pinned_channels_list_count":0,"profile_pic_url":"https://scontent-iad3-1.cdninstagram.com/v/t51.2885-19/430086429_362220943449758_2621012714660517106_n.jpg","profile_pic_url_hd":"https://scontent-iad3-1.cdninstagram.com/v/t51.2885-19/430086429_362220943449758_2621012714660517106_n.jpg","requested_by_viewer":false,"should_show_category":false,"should_show_public_contacts":true,"show_account_transparency_details":true,"show_text_post_app_badge":false,"remove_message_entrypoint":false,"transparency_label":null,"transparency_product":null,"username":"adrianhorning","connected_fb_page":null,"pronouns":[],"edge_felix_video_timeline":{"count":0,"page_info":{"has_next_page":false,"end_cursor":null},"edges":[]},"edge_owner_to_timeline_media":{"count":71,"page_info":{"has_next_page":true,"end_cursor":"QVFDdUZKSGhpeXExcGp5SVppc09Pd1lNbDhkSEZfeDhzUlNwaThFTlNZckdmZG40Q2hKSmxuX1FVS3dlbmpqWkVvMTBGUkVvSklVMWktWEx2T1JlRGlFQw=="},"edges":[{"node":{"__typename":"GraphVideo","id":"3540614075954356349","shortcode":"DEiyb48AeB9","dimensions":{"height":1920,"width":1080},"display_url":"https://scontent-iad3-2.cdninstagram.com/v/t51.2885-15/472965900_18326364268092570_5931185706033057724_n.jpg","edge_media_to_tagged_user":{"edges":[]},"fact_check_overall_rating":null,"fact_check_information":null,"gating_info":null,"sharing_friction_info":{"should_have_sharing_friction":false,"bloks_app_url":null},"media_overlay_info":null,"owner":{"id":"2700692569","username":"adrianhorning"},"is_video":true,"has_upcoming_event":false,"accessibility_caption":null,"has_audio":true,"video_view_count":1318,"edge_media_to_caption":{"edges":[]},"edge_media_to_comment":{"count":12},"comments_disabled":false,"taken_at_timestamp":1736294201,"edge_liked_by":{"count":126},"edge_media_preview_like":{"count":126},"location":null,"nft_asset_info":null,"thumbnail_src":"https://scontent-iad3-2.cdninstagram.com/v/t51.2885-15/472965900.jpg","coauthor_producers":[],"pinned_for_users":[],"viewer_can_reshare":true,"like_and_view_counts_disabled":false,"product_type":"clips"}}]},"edge_saved_media":{"count":0,"page_info":{"has_next_page":false,"end_cursor":null},"edges":[]},"edge_media_collections":{"count":0,"page_info":{"has_next_page":false,"end_cursor":null},"edges":[]},"edge_related_profiles":{"edges":[{"node":{"id":"66873381803","full_name":"ally","is_private":false,"is_verified":false,"profile_pic_url":"https://scontent-iad3-2.cdninstagram.com/v/t51.2885-19/465249338.jpg","username":"itsallykrinsky"}}]}}},"status":"ok"}'
  recorded_at: Sat, 23 Nov 2025 10:00:00 GMT
recorded_with: VCR 6.3.1
