---
http_interactions:
- request:
    method: get
    uri: https://api.scrapecreators.com/v1/instagram/user/reels/simple?amount=5&handle=adrianhorning
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '[{"media":{"taken_at":1736294201,"pk":"3540614075954356349","id":"3540614075954356349_2700692569","media_type":2,"code":"DEiyb48AeB9","caption":null,"play_count":3865,"user":{"full_name":"Adrian Horning","id":"2700692569","username":"adrianhorning","is_verified":true},"product_type":"clips","comment_count":12,"like_count":126,"video_duration":76.783,"has_audio":true,"url":"https://www.instagram.com/reel/DEiyb48AeB9"}},{"media":{"taken_at":1736207801,"pk":"3539889225954356350","id":"3539889225954356350_2700692569","media_type":2,"code":"DEfxyzABCDE","caption":null,"play_count":2500,"user":{"full_name":"Adrian Horning","id":"2700692569","username":"adrianhorning","is_verified":true},"product_type":"clips","comment_count":8,"like_count":95,"video_duration":45.5,"has_audio":true,"url":"https://www.instagram.com/reel/DEfxyzABCDE"}},{"media":{"taken_at":1736121401,"pk"[...]
