---
http_interactions:
- request:
    method: get
    uri: https://api.scrapecreators.com/v1/instagram/song/reels?audio_id=18151049539042235
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"success":false,"error":"Unauthorized","message":"Invalid API key provided"}'
  recorded_at: Sat, 23 Nov 2025 10:00:00 GMT
recorded_with: VCR 6.3.1
