---
http_interactions:
- request:
    method: get
    uri: https://api.scrapecreators.com/v2/instagram/media/transcript?url=https://www.instagram.com/p/nonexistent123456789/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"success":false,"error":"Post not found","message":"The Instagram post or reel could not be found"}'
  recorded_at: Sat, 23 Nov 2025 10:00:00 GMT
recorded_with: VCR 6.3.1
