---
http_interactions:
- request:
    method: get
    uri: https://api.scrapecreators.com/v2/instagram/media/transcript?url=https://www.instagram.com/p/DI2UdChyFfP/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"transcripts":[{"id":"3621456789012345678","shortcode":"DI2UdChyFfP","text":null}]}'
  recorded_at: Sat, 23 Nov 2025 10:00:00 GMT
recorded_with: VCR 6.3.1
