---
http_interactions:
- request:
    method: get
    uri: https://api.scrapecreators.com/v1/detect-age-gender?url=https://www.tiktok.com/@charlidamelio
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"ageRange":{"low":18,"high":24},"gender":"Female","confidence":{"gender":95.32456779479981}}'
  recorded_at: Sun, 24 Nov 2025 20:00:00 GMT
recorded_with: VCR 6.3.1
