---
http_interactions:
- request:
    method: get
    uri: https://api.scrapecreators.com/v1/youtube/channel/shorts/simple?amount=10&handle=upflip
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"85a-rtPvXAiSLnKhymV9Nk6sz7SS+Go"
      Rndr-Id:
      - 330d9727-8637-46ea
      X-Render-Origin-Server:
      - Render
    body:
      encoding: ASCII-8BIT
      string: '[{"type":"short","id":"S7zXalTgO6I","url":"https://www.youtube.com/watch?v=S7zXalTgO6I","title":"Live
        Tomorrow! How to Grow from 0 to 700K Instagram Followers","thumbnail":"https://i.ytimg.com/vi/S7zXalTgO6I/oar2.jpg?sqp=-oaymwEoCJUDENAFSFqQAgHyq4qpAxcIARUAAIhC2AEB4gEKCBgQAhgGOAFAAQ==&rs=AOn4CLDUDPgMaFIY27ZSShTEpR6FQVJG_Q","viewCountText":"2.5K","viewCountInt":2500},{"type":"short","id":"qGo5WDGay6s","url":"https://www.youtube.com/watch?v=qGo5WDGay6s","title":"How
        to Get Clients Fast without Paid Ads (Live Tomorrow!)","thumbnail":"https://i.ytimg.com/vi/qGo5WDGay6s/oar2.jpg?sqp=-oaymwEoCJUDENAFSFqQAgHyq4qpAxcIARUAAIhC2AEB4gEKCBgQAhgGOAFAAQ==&rs=AOn4CLBSPmneBpkNOJtiw6bVCyMdEb_ClQ","viewCountText":"3.6K","viewCountInt":3600},{"type":"short","id":"xubzguEp_mA","url":"https://www.youtube.com/watch?v=xubzguEp_mA","title":"How
        to Build your [...]
