---
http_interactions:
- request:
    method: get
    uri: https://api.scrapecreators.com/v1/youtube/channel/shorts?handle=upflip&sort=popular
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"90-Epxn+8Ra4xEsbOGOGacvDHzqsF8"
      Rndr-Id:
      - 89aa7264-0650-417c
      X-Render-Origin-Server:
      - Render
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"credits_remaining":24689,"videos":[],"channels":[],"playlists":[],"shorts":[],"shelves":[],"lives":[],"continuationToken":null}'
  recorded_at: Sun, 23 Nov 2025 18:17:16 GMT
recorded_with: VCR 6.3.1
