---
http_interactions:
- request:
    method: get
    uri: https://api.scrapecreators.com/v1/youtube/channel-videos?handle=thishandledefinitelydoesnotexist123456789xyz
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 503
      message: Service Unavailable
    headers:
      Content-Type:
      - text/plain
    body:
      encoding: UTF-8
      string: 'upstream connect error or disconnect/reset before headers. reset reason:
        remote connection failure, transport failure reason: TLS_error:|268435581:SSL
        routines:OPENSSL_internal:CERTIFICATE_VERIFY_FAILED:TLS_error_end'
  recorded_at: Sun, 23 Nov 2025 17:53:04 GMT
[...]
- request:
    method: get
    uri: https://api.scrapecreators.com/v1/youtube/channel-videos?handle=thishandledefinitelydoesnotexist123456789xyz
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e2-NP/9UDjGOqM68S11FXDe/CATALM"
      Rndr-Id:
      - 53f2f20c-e2e7-4c55
      X-Render-Origin-Server:
      - Render
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"credits_remaining":24717,"channel":"https://www.youtube.com/@thishandledefinitelydoesnotexist123456789xyz/videos","message":"Channel
        not found","accountDoesNotExist":true,"error":"not_found","errorStatus":404}'
  recorded_at: Sun, 23 Nov 2025 17:53:08 GMT
recorded_with: VCR 6.3.1
