---
http_interactions:
- request:
    method: get
    uri: https://api.scrapecreators.com/v1/youtube/channel/shorts?handle=thishandledefinitelydoesnotexist123456789xyz
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6f-Zom9zmjq6csVRlnhNvZ/jSYD5xA"
      Rndr-Id:
      - 9f5c399f-8a04-4f04
      X-Render-Origin-Server:
      - Render
    body:
      encoding: ASCII-8BIT
      string: '{"success":false,"credits_remaining":24691,"error":"not_found","errorStatus":404,"message":"Channel
        not found"}'
  recorded_at: Sun, 23 Nov 2025 18:17:08 GMT
recorded_with: VCR 6.3.1
