---
http_interactions:
- request:
    method: get
    uri: https://api.scrapecreators.com/v1/youtube/channel/shorts/simple?amount=5&handle=thishandledefinitelydoesnotexist123456789xyz
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5f-Hqo+d8av1+zlCCenBhbq/kJMXGc"
      Rndr-Id:
      - 159bd608-e6d4-4401
      X-Render-Origin-Server:
      - Render
    body:
      encoding: ASCII-8BIT
      string: '{"credits_remaining":24685,"error":"not_found","errorStatus":404,"message":"Channel
        not found"}'
  recorded_at: Sun, 23 Nov 2025 18:28:02 GMT
recorded_with: VCR 6.3.1
