---
http_interactions:
- request:
    method: get
    uri: https://api.scrapecreators.com/v1/youtube/community-post?url=https://www.youtube.com/post/Ugkxvj2KoApYAXoqLWnKVr6zZe5JjeHrQeP8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"513-hE3Bc99iZFUbg/byFQIdJThLrz4"
      Rndr-Id:
      - '02225383-63cb-4aba'
      X-Render-Origin-Server:
      - Render
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"credits_remaining":24593,"id":"Ugkxvj2KoApYAXoqLWnKVr6zZe5JjeHrQeP8","channel":{"id":"UChhw6DlKKTQ9mYSpTfXUYqA","title":"Starter
        Story","url":"https://www.youtube.com/@starterstory","handle":"starterstory"},"content":"How
        to build something meaningful\n\n1. sit down\n2. set a timer for 2 hours\n3.
        work\n4. do that over and over and over\n\nNOTHING meaningful was built in
        a day, a week, or even a month\n\nyou should launch quickly, but the work
        can''t end there\n\nsuccessful products have YEARS of craft behind them\n\nstart
        building yours today: http://starterstory.com/bsm","images":["https://yt3.ggpht.com/uer4ij-RqnTqudtdT5VZNvEjzVXA3PGLHwNpjMfraB7mfbX_Bm0-fSpaFXkfw3EA4uZ7BY8YPa1gU08=s640-c-fcrop64=1,20000000dfffffff-rw-nd-v1","https://yt3.ggpht.com/va-8_8IWK7qI85YZLI66Z6hynbM1V8P2FnoC9piDh1YxdUW0Df5o-XPb0RGp9ePTIpdn7rxK_jrg7-0=s640-c-fcrop64=1,20000000dfffffff-rw-nd-v1","https://yt3.ggpht.com/s9KPa9gKfenu_CvipeYKAPV5ZyhpzwfS2YDoPv9QB3sZR_Z6RdSFpKecAkX5LElHzpcgujB5aKgJSQ=s640-c-fcrop64=1,20000000dfffffff-rw-nd-v1","https://yt3.ggpht.com/QGeo4ddYFARxBEL69nLGoafe_TAlfQ7aZlPSo0oY8Qbj9sx85Nh3YdzbfPdoofFrpHw4GTDEhmQs2w=s640-c-fcrop64=1,20000000dfffffff-rw-nd-v1"],"likeCount":789,"publishedTimeText":"2
        weeks ago","publishedTime":"2025-11-10T06:20:10.723Z","video":null}'
  recorded_at: Mon, 24 Nov 2025 06:20:10 GMT
recorded_with: VCR 6.3.1
