---
http_interactions:
- request:
    method: get
    uri: https://api.scrapecreators.com/v1/youtube/playlist?playlist_id=PLnonexistentplaylistid123456789xyz
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5d-NHEEkNgmokXgwflGnDbvRm44NQI"
      Rndr-Id:
      - e74fc4fc-466e-407b
      X-Render-Origin-Server:
      - Render
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"credits_remaining":24606,"owner":{"url":"https://www.youtube.comundefined"}}'
  recorded_at: Mon, 24 Nov 2025 06:03:59 GMT
recorded_with: VCR 6.3.1
