---
http_interactions:
- request:
    method: get
    uri: https://api.scrapecreators.com/v1/youtube/playlist?playlist_id=PLrAXtmErZgOeiKm4sgNOknGvNjby9efdf
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 503
      message: Service Unavailable
    headers:
      Content-Type:
      - text/plain
    body:
      encoding: UTF-8
      string: 'upstream connect error or disconnect/reset before headers. reset reason:
        remote connection failure, transport failure reason: TLS_error:|268435581:SSL
        routines:OPENSSL_internal:CERTIFICATE_VERIFY_FAILED:TLS_error_end'
  recorded_at: Mon, 24 Nov 2025 06:04:00 GMT
- request:
    method: get
    uri: https://api.scrapecreators.com/v1/youtube/playlist?playlist_id=PLrAXtmErZgOeiKm4sgNOknGvNjby9efdf
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"41c-QxrxalO5P/oJZyCSt6CLXAPCnlc"
      Rndr-Id:
      - 9864a551-1e22-436b
      X-Render-Origin-Server:
      - Render
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"credits_remaining":24605,"title":"Select Lectures","owner":{"id":"UCSHZKyawb77ixDdsGog4iWA","name":"Lex
        Fridman","url":"https://www.youtube.com/@lexfridman","handle":"lexfridman"},"totalVideos":2,"videos":[{"id":"0VH1Lim8gL8","title":"Deep
        Learning State of the Art (2020)","thumbnail":"https://i.ytimg.com/vi/0VH1Lim8gL8/hqdefault.jpg?sqp=-oaymwEnCNACELwBSFryq4qpAxkIARUAAIhCGAHYAQHiAQoIGBACGAY4AUAB&rs=AOn4CLDBcqXcQgMuFJPmPgzl348OTUM9Ew","url":"https://www.youtube.com/watch?v=0VH1Lim8gL8","lengthText":"1:27:41","lengthSeconds":5261,"channel":{"title":"Lex
        Fridman","url":"https://www.youtube.com/@lexfridman"}},{"id":"O5xeyoRL95U","title":"Deep
        Learning Basics: Introduction and Overview","thumbnail":"https://i.ytimg.com/vi/O5xeyoRL95U/hqdefault.jpg?sqp=-oaymwEnCNACELwBSFryq4qpAxkIARUAAIhCGAHYAQHiAQoIGBACGAY4AUAB&rs=AOn4CLDGBeMkey-NVeqX_YEBkTST3FdCWw","url":"https://www.youtube.com/watch?v=O5xeyoRL95U","lengthText":"1:08:06","lengthSeconds":4086,"channel":{"title":"Lex
        Fridman","url":"https://www.youtube.com/@lexfridman"}}]}'
  recorded_at: Mon, 24 Nov 2025 06:04:03 GMT
recorded_with: VCR 6.3.1
