---
http_interactions:
- request:
    method: get
    uri: https://api.scrapecreators.com/v1/youtube/search/hashtag?hashtag=funny&type=shorts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2c33-8itx11578vHLSR6Vzk9LCEzRmrA"
      Rndr-Id:
      - de532f45-a08e-40ca
      X-Render-Origin-Server:
      - Render
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"credits_remaining":24632,"results":{"videos":[],"channels":[],"playlists":[],"shorts":[{"type":"short","id":"l3tdk8T582Q","url":"https://www.youtube.com/watch?v=l3tdk8T582Q","thumbnail":"https://i.ytimg.com/vi/l3tdk8T582Q/oar2.jpg?sqp=-oaymwEoCOADENAFSFqQAgHyq4qpAxcIARUAAIhC2AEB4gEKCBgQAhgGOAFAAQ==&rs=AOn4CLDX6PwN95K-WVhXe_Eq4JXRZ2f5Mw","viewCountText":"83M","viewCountInt":83000000},{"type":"short","id":"VWzx_M8j-1U","url":"https://www.youtube.com/watch?v=VWzx_M8j-1U","thumbnail":"https://i.ytimg.com/vi/VWzx_M8j-1U/oardefault.jpg?sqp=-oaymwEoCJUDENAFSFqQAgHyq4qpAxcIARUAAIhC2AEB4gEKCBgQAhgGOAFAAQ==&rs=AOn4CLCD6j2QwQCefXyBliuJhnx_ov3WWA","viewCountText":"79M","viewCountInt":79000000},{"type":"short","id":"edQ2gsAKSNI","url":"https://www.youtube.com/watch?v=edQ2gsAKSNI","thumbnail":"https://i.ytimg.com/vi/edQ2gsAKSNI/oardefault.jpg?sqp=-oaymwEoCJUDENAFSFqQAgHyq4qpAxc[...]
