---
http_interactions:
- request:
    method: get
    uri: https://api.scrapecreators.com/v1/youtube/search/hashtag?hashtag=funny&type=shorts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"29f1-7NFiTVD23vQUlQ5BK3L0vFw6dgk"
      Rndr-Id:
      - 5c8ab5e3-2145-443a
      X-Render-Origin-Server:
      - Render
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"credits_remaining":24626,"results":{"videos":[],"channels":[],"playlists":[],"shorts":[{"type":"short","id":"l3tdk8T582Q","url":"https://www.youtube.com/watch?v=l3tdk8T582Q","thumbnail":"https://i.ytimg.com/vi/l3tdk8T582Q/oar2.jpg?sqp=-oaymwEdCOADENAFSFWQAgHyq4qpAwwIARUAAIhCcAHAAQY=&rs=AOn4CLBgppWzvZi-OdntdO28LqjAh5Zh8g","viewCountText":"83M","viewCountInt":83000000},{"type":"short","id":"VWzx_M8j-1U","url":"https://www.youtube.com/watch?v=VWzx_M8j-1U","thumbnail":"https://i.ytimg.com/vi/VWzx_M8j-1U/oardefault.jpg?sqp=-oaymwEdCJUDENAFSFWQAgHyq4qpAwwIARUAAIhCcAHAAQY=&rs=AOn4CLAJol9tJMET-Vb6vIHqy3vTWK9gHA","viewCountText":"79M","viewCountInt":79000000},{"type":"short","id":"edQ2gsAKSNI","url":"https://www.youtube.com/watch?v=edQ2gsAKSNI","thumbnail":"https://i.ytimg.com/vi/edQ2gsAKSNI/oardefault.jpg?sqp=-oaymwEdCJUDENAFSFWQAgHyq4qpAwwIARUAAIhCcAHAAQY[...]
