---
http_interactions:
- request:
    method: get
    uri: https://api.scrapecreators.com/v1/youtube/search/hashtag?hashtag=funny&type=shorts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"14a3-Cv1HVfvMf6GXmjRFXuw5cJGqW80"
      Rndr-Id:
      - 2b6c0d78-92b8-46d4
      X-Render-Origin-Server:
      - Render
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"credits_remaining":24618,"results":{"videos":[],"channels":[],"playlists":[],"shorts":[{"type":"short","id":"l3tdk8T582Q","url":"https://www.youtube.com/watch?v=l3tdk8T582Q","viewCountText":"83M","viewCountInt":83000000},{"type":"short","id":"VWzx_M8j-1U","url":"https://www.youtube.com/watch?v=VWzx_M8j-1U","viewCountText":"79M","viewCountInt":79000000},{"type":"short","id":"edQ2gsAKSNI","url":"https://www.youtube.com/watch?v=edQ2gsAKSNI","viewCountText":"27M","viewCountInt":27000000},{"type":"short","id":"0VNAzK36-4g","url":"https://www.youtube.com/watch?v=0VNAzK36-4g","viewCountText":"35M","viewCountInt":35000000},{"type":"short","id":"tWbzxx1qHAI","url":"https://www.youtube.com/watch?v=tWbzxx1qHAI","[...]
