---
http_interactions:
- request:
    method: get
    uri: https://api.scrapecreators.com/v1/youtube/video?url=https://www.youtube.com/watch?v=nonexistentvideo123xyz
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1c9-hdD7u+FjJM+QkKtvZ3d6B/aChd4"
      Rndr-Id:
      - cb3655bb-f22a-4480
      X-Render-Origin-Server:
      - Render
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"credits_remaining":24681,"id":"nonexistentvideo123xyz","thumbnail":"https://img.youtube.com/vi/nonexistentvideo123xyz/maxresdefault.jpg","url":"https://www.youtube.com/watch?v=nonexistentvideo123xyz","type":"video","description":null,"commentCountInt":null,"likeCountInt":null,"viewCountInt":null,"collaborators":[],"channel":{"url":"https://www.youtube.comundefined"},"chapters":[],"keywords":[],"durationMs":null,"durationFormatted":null}'
  recorded_at: Sun, 23 Nov 2025 19:06:09 GMT
recorded_with: VCR 6.3.1
