---
http_interactions:
- request:
    method: get
    uri: https://api.scrapecreators.com/v1/youtube/video/transcript?url=https://www.youtube.com/shorts/ydPkyvWtmg4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b3-HnUTyGksrem2yi33y3z4eKbwmog"
      Rndr-Id:
      - 0c6203e4-8fa6-4307
      X-Render-Origin-Server:
      - Render
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"credits_remaining":24673,"videoId":"ydPkyvWtmg4","type":"shorts","url":"https://www.youtube.com/shorts/ydPkyvWtmg4","transcript":null,"transcript_only_text":null}'
  recorded_at: Sun, 23 Nov 2025 19:14:31 GMT
recorded_with: VCR 6.3.1
