---
http_interactions:
- request:
    method: get
    uri: https://api.scrapecreators.com/v1/google/company/ads?cursor=CgoAP7zm82Y5sMRjEhBwPifBwIMxRttsqvUAAAAAGgn8&domain=foreplay.co
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"credits_remaining":9926555,"ads":[{"advertiserId":"AR09628680369637163009","creativeId":"CR98765432109876543210","format":"image","adUrl":"https://adstransparency.google.com/advertiser/AR09628680369637163009/creative/CR98765432109876543210","advertiserName":"Foreplay Ventures Inc","domain":"foreplay.co","imageUrl":"https://example.com/ad-image.png","firstShown":"2025-05-15T10:00:00.000Z","lastShown":"2025-11-08T14:30:00.000Z"}],"cursor":null}'
  recorded_at: Sat, 23 Nov 2025 10:00:00 GMT
recorded_with: VCR 6.3.1
