---
http_interactions:
- request:
    method: get
    uri: https://api.scrapecreators.com/v1/google/company/ads?domain=foreplay.co&topic=all
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"credits_remaining":9926559,"ads":[{"advertiserId":"AR09628680369637163009","creativeId":"CR15036700036807262209","format":"text","adUrl":"https://adstransparency.google.com/advertiser/AR09628680369637163009/creative/CR15036700036807262209","advertiserName":"Foreplay Ventures Inc","domain":"foreplay.co","imageUrl":null,"firstShown":"2024-08-02T12:33:35.000Z","lastShown":"2025-11-10T19:31:13.000Z"}],"cursor":null}'
  recorded_at: Sat, 23 Nov 2025 10:00:00 GMT
recorded_with: VCR 6.3.1
