---
http_interactions:
- request:
    method: get
    uri: https://api.scrapecreators.com/v1/tiktok/shop/products?url=https://www.tiktok.com/shop/store/goli-nutrition/7495794203056835079
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"success":true,"shopInfo":{"seller_id":"7495794203056835079","sold_count":3767605,"on_sell_product_count":36,"review_count":284185,"global_seller_id":"7495794203056835079","global_sold_count":"3767605","followers_count":"237879","video_count":"2413","enable_follow":true,"shop_name":"Goli Nutrition","shop_logo":{"height":300,"width":300,"uri":"tos-useast5-i-omjb5zjo8w-tx/e7478d3e93d4487a9e772fa74e10f506","url_list":["https://p16-oec-general-useast5.ttcdn-us.com/tos-useast5-i-omjb5zjo8w-tx/e7478d3e93d4487a9e772fa74e10f506~tplv-fhlh96nyum-resize-webp:300:300.webp"]},"shop_rating":"4.6","shop_link":"https://www.tiktok.com/shop/store/goli-nutrition/7495794203056835079","format_sold_count":"3.7M","region":"US","display_on_sell_product_count":"36","format_global_sold_count":"3.7M","shop_slogan":"Health Simple. Vegan. Gluten-Free. Non-GMO.","format_followers_count":"237.8K+","format_video_count":"2413","store_sub_score":[{"score":0.9967,"type":1,"score_percentage":"100","high_light_tag":1,"platform_rate_type":1},{"score":0.5020439123674718,"type":2,"score_percentage":"50","high_light_tag":0,"platform_rate_type":0},{"score":0.888,"type":3,"score_percentage":"89","platform_rate_type":0}],"worst_rating":"0","best_rating":"5","creator_name":"Goli Nutrition","desc":"Shop Goli Nutrition on TikTok Shop!"},"products":[{"product_id":"1729527313880355335","title":"Goli Ashwagandha & Vitamin D Gummy - Mixed Berry, KSM-66, Vegan, Plant Based, Non-GMO, Gluten-Free & Gelatin Free","image":{"height":1500,"width":1500,"uri":"tos-useast5-i-omjb5zjo8w-tx/30fc1338a2bf474a9d252a790e4c119f","url_list":["https://p16-oec-general-useast5.ttcdn-us.com/tos-useast5-i-omjb5zjo8w-tx/30fc1338a2bf474a9d252a790e4c119f~tplv-fhlh96nyum-crop-webp:1500:1500.webp"]},"product_price_info":{"sku_id":"1729527298861535751","symbol_position":1,"show_currency_space":false,"currency_show_mode":1,"currency_name":"USD","currency_symbol":"$","sale_price_decimal":"14.96","origin_price_decimal":"24.99","sale_price_format":"14.96","origin_price_format":"24.99","discount_format":"40%","discount_decimal":"0.4","reduce_price_format":"Saving $10.03","single_product_price_format":"14.96","single_product_price_decimal":"14.96","sale_price_integer_part_format":"14","sale_price_decimal_part_format":"96","decimal_point_symbol":".","promotion_deduction_details":{"seller_subtotal_deduction":"10.03","seller_subtotal_deduction_decimal":"10.03"}},"rate_info":{"score":4.5,"review_count":"91316"},"sold_info":{"sold_count":1235089},"seller_info":{"seller_id":"7495794203056835079","shop_name":"Goli Nutrition","shop_logo":{"height":300,"width":300,"uri":"tos-useast5-i-omjb5zjo8w-tx/e7478d3e93d4487a9e772fa74e10f506","url_list":["https://p16-oec-general-useast5.ttcdn-us.com/tos-useast5-i-omjb5zjo8w-tx/e7478d3e93d4487a9e772fa74e10f506~tplv-fhlh96nyum-resize-png:300:300.png"]}},"seo_url":{"updated_at":"1754035613102","canonical_url":"https://www.tiktok.com/shop/pdp/ashwagandha-gummies-by-goli-ksm-66-mixed-berry-vegan-non-gmo/1729527313880355335","slug":"ashwagandha-gummies-by-goli-ksm-66-mixed-berry-vegan-non-gmo","type":2,"version":2}},{"product_id":"1729527313880355336","title":"Goli Apple Cider Vinegar Gummy Vitamins - 60 Count","image":{"height":1500,"width":1500,"uri":"tos-useast5-i-omjb5zjo8w-tx/acv_image","url_list":["https://p16-oec-general-useast5.ttcdn-us.com/acv-image.webp"]},"product_price_info":{"sku_id":"1729527298861535752","symbol_position":1,"show_currency_space":false,"currency_show_mode":1,"currency_name":"USD","currency_symbol":"$","sale_price_decimal":"19.99","origin_price_decimal":"29.99","sale_price_format":"19.99","origin_price_format":"29.99","discount_format":"33%","discount_decimal":"0.33"},"rate_info":{"score":4.7,"review_count":"45000"},"sold_info":{"sold_count":500000},"seller_info":{"seller_id":"7495794203056835079","shop_name":"Goli Nutrition","shop_logo":{"height":300,"width":300,"uri":"tos-useast5-i-omjb5zjo8w-tx/e7478d3e93d4487a9e772fa74e10f506","url_list":["https://p16-oec-general-useast5.ttcdn-us.com/logo.png"]}},"seo_url":{"canonical_url":"https://www.tiktok.com/shop/pdp/goli-acv-gummies/1729527313880355336","slug":"goli-acv-gummies"}}]}'
  recorded_at: Sun, 23 Nov 2025 06:00:00 GMT
recorded_with: VCR 6.3.1
