---
http_interactions:
- request:
    method: get
    uri: https://api.scrapecreators.com/v1/tiktok/shop/products?url=https://www.tiktok.com/shop/store/goli-nutrition/7495794203056835079
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"success":true,"shopInfo":{"seller_id":"7495794203056835079","shop_name":"Goli Nutrition"},"products":[{"product_id":"1729527313880355335","title":"Goli Ashwagandha Gummy","image":{"height":1500,"width":1500,"url_list":["https://example.com/image.webp"]},"product_price_info":{"sku_id":"1729527298861535751","currency_name":"USD","currency_symbol":"$","sale_price_decimal":"14.96","origin_price_decimal":"24.99","sale_price_format":"14.96","origin_price_format":"24.99","discount_format":"40%"},"rate_info":{"score":4.5,"review_count":"91316"},"sold_info":{"sold_count":1235089},"seller_info":{"seller_id":"7495794203056835079","shop_name":"Goli Nutrition"}}]}'
  recorded_at: Sun, 23 Nov 2025 06:00:00 GMT
recorded_with: VCR 6.3.1
