---
http_interactions:
- request:
    method: get
    uri: https://api.scrapecreators.com/v1/pinterest/board?cursor=Y2JURlEwTWsxNlp6Vk&trim=true&url=https://www.pinterest.com/lizmrodgers/moms-night/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"38-/9aNuONH6w2zUS7ZMJAbesMfd/M"
      Rndr-Id:
      - e344ecd9-720e-49d3
      X-Render-Origin-Server:
      - Render
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"credits_remaining":24613,"cursor":null}'
  recorded_at: Sun, 23 Nov 2025 20:17:26 GMT
recorded_with: VCR 6.3.1
