---
http_interactions:
- request:
    method: get
    uri: https://api.scrapecreators.com/v1/pinterest/search?cursor=Y2JVSG81V2&query=photography&trim=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3b-qRXwllq4fdVgWXr6gIwmhAaB1vU"
      Rndr-Id:
      - 627f4fe9-e1d3-4d6a
      X-Render-Origin-Server:
      - Render
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"credits_remaining":24663,"cursor":"-end-"}'
  recorded_at: Sun, 23 Nov 2025 19:38:36 GMT
recorded_with: VCR 6.3.1
