---
http_interactions:
- request:
    method: get
    uri: https://api.scrapecreators.com/v1/pinterest/search?cursor=Y2JVSG81V2&query=home%20decor
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3b-hKJJ8FK89i+o91eiOJAb+JEjY44"
      Rndr-Id:
      - 89881da5-0cd0-4bd4
      X-Render-Origin-Server:
      - Render
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"credits_remaining":24661,"cursor":"-end-"}'
  recorded_at: Sun, 23 Nov 2025 19:38:41 GMT
recorded_with: VCR 6.3.1
