---
http_interactions:
- request:
    method: get
    uri: https://api.scrapecreators.com/v1/linkedin/ads/search?company=Microsoft
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"ads":[{"id":"823975056","description":"The countdown has begun – grab your discounted tickets now for #FabConEurope in Vienna!\nJoin us for an unforgettable experience filled with deep learning, expert insights, and top-tier networking opportunities.\n\nRegister today and be part of the future of innovation: http://msft.it/6043sMFt3 \n\n#MicrosoftFabric","headline":null,"poster":"Microsoft","posterTitle":"Promoted","promotedBy":null,"targeting":{"language":"Targeting includes English","location":"Targeting includes Netherlands","company":"Exclusion targeting applied"},"image":"https://media.licdn.com/dms/image/v2/D5610AQH8f223ANJdoQ/image-shrink_1280/B56ZiDa0MFHkAQ-/0/1754551502346?e=2147483647&v=beta&t=ZuZ0zUs1KInS8ysVO7FxzmlzxHP9B_JX2b6kdMU8GT4","video":null,"carouselImages":[],"adType":"Single Image Ad","advertiser":"Microsoft","advertiserLinkedinPage":"https://www.linkedin.com/company/1035","cta":null,"destinationUrl":"http://msft.it/6043sMFt3?trk=ad_library_ad_preview_headline_content","adDuration":"Ran from Aug 10, 2025 to Aug 10, 2025","startDate":"2025-08-10T05:00:00.000Z","endDate":"2025-08-10T05:00:00.000Z","totalImpressions":"< 1k","impressionsByCountry":[]},{"id":"756473943","description":"Tailor your language with Microsoft 365 Copilot Chat so your message connects with any audience.","headline":"Speak to your audience with Microsoft 365 Copilot Chat.","poster":"Microsoft 365","posterTitle":"Promoted","promotedBy":null,"targeting":{},"image":null,"video":"https://dms.licdn.com/playlist/vid/v2/D4D10AQFRXuUWwLFasQ/mp4-720p-30fp-crf28/B4DZiFJPraHYCQ-/0/1754580468019/SRTs_Copilot_Linkedin-Theme2-15s_USA_1080x1080_VIP_SubTheme2E_COMM-EN_NA_Standard_SQV_TCN_NA_1mp4?e=2147483647&v=beta&t=O5kDsmtaT10Gp-tWI_-_gDmBXZyN02Qd2BJR_j5f5tY","carouselImages":[],"adType":"Video Ad","advertiser":"Microsoft 365","advertiserLinkedinPage":"https://www.linkedin.com/company/3509299","cta":"Learn more","destinationUrl":"https://ad.doubleclick.net/ddm/trackclk/N572608.271051LINKEDIN/B33660529.424033181","adDuration":"","startDate":null,"endDate":null,"totalImpressions":null,"impressionsByCountry":[]}],"paginationToken":"756412693-1754569518292","isLastPage":false}'
  recorded_at: Sat, 23 Nov 2025 10:00:00 GMT
recorded_with: VCR 6.3.1
