---
http_interactions:
- request:
    method: get
    uri: https://api.scrapecreators.com/v1/linkedin/ads/search?company=Microsoft&paginationToken=756412693-1754569518292
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"ads":[{"id":"756473944","description":"Next page of Microsoft ads.","headline":"Microsoft Azure","poster":"Microsoft Azure","posterTitle":"Promoted","promotedBy":null,"targeting":{},"image":"https://media.licdn.com/azure.jpg","video":null,"carouselImages":[],"adType":"Single Image Ad","advertiser":"Microsoft Azure","advertiserLinkedinPage":"https://www.linkedin.com/company/microsoft-azure","cta":"Try free","destinationUrl":"https://azure.microsoft.com","adDuration":"","startDate":null,"endDate":null,"totalImpressions":"50k-100k","impressionsByCountry":[]}],"paginationToken":"756473944-1754569518293","isLastPage":true}'
  recorded_at: Sat, 23 Nov 2025 10:00:00 GMT
recorded_with: VCR 6.3.1
