---
http_interactions:
- request:
    method: get
    uri: https://api.scrapecreators.com/v1/facebook/adLibrary/ad?url=https://www.facebook.com/ads/library/?id=702369045530963
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1d6a-oVAF4UUwa/0CGjQlB1PFJNFJrMk"
      Rndr-Id:
      - 580587f4-a102-4e2c
      X-Render-Origin-Server:
      - Render
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"credits_remaining":24561,"adid":0,"adArchiveID":702369045530963,"archiveTypes":[],"categories":[0],"containsDigitallyCreatedMedia":false,"containsSensitiveContent":false,"collationCount":null,"collationID":null,"currency":"","endDate":1747983600,"entityType":"person_profile","fevInfo":null,"finServAdData":{"is_deemed_finserv":false,"is_limited_delivery":false},"gatedType":"eligible","hasUserReported":false,"hiddenSafetyData":false,"hideDataStatus":"NONE","impressionsWithIndex":{"impressionsText":null,"impressionsIndex":-1},"isAAAEligible":true,"isAdAccountActioned":false,"isActive":false,"isProfilePage":false,"pageID":166258896830103,"pageInfo":null,"pageIsDeleted":false,"pageName":"Porto
        Montenegro","politicalCountries":[],"reachEstimate":null,"regionalRegulationData":{"finserv":{"is_deemed_finserv":false,"is_limited_delivery":false},"tw_anti_scam":{"is_limited_delivery":false}},"reportCount":null,"snapshot":{"ad_creative_id":1066536401993375,"cards":[],"body_translations":{},"byline":null,"caption":"www.portomontenegro.com","cta_text":"Learn
        more","dynamic_item_flags":{},"dynamic_versions":null,"edited_snapshots":[],"effective_authorization_category":"NONE","event":[],"extra_images":[],"extra_links":[],"extra_texts":[],"extra_videos":[],"instagram_shopping_products":[],"display_format":"video","title":null,"link_description":null,"link_url":"https://www.portomontenegro.com/attractions-events/boka-place-grand-opening/","page_welcome_message":null,"images":[],"videos":[{"video_hd_url":"https://video.fphl1-1.fna.fbcdn.net/o1/v/t2/f2/m69/AQNcyjGmaajRuPJyLbta4Y3JmeqkjowHsT2vUipsmF1wKPiQGw3NBC7U5v1yBOu2TvvBS0EvxW4rnrP6wSMnrH5u.mp4?strext=1&_nc_cat=105&_nc_oc=AdllIqnLjdkszHkdPQ1F8TfYhrvJuEft1i4pFMVuMVqo0jdE2NjeZWqSlrHn4ZkOfzs&_nc_sid=8bf8fe&_nc_ht=video.fphl1-1.fna.fbcdn.net&_nc_ohc=Kyj0Miz2sSUQ7kNvwGNn1IH&efg=eyJ2ZW5jb2RlX3RhZyI6Inhwdl9wcm9ncmVzc2l2ZS5WSV9VU0VDQVNFX1BST0RVQ1RfVFlQRS4uQzMuNzIwLmFzaWNfaHEyX2hkX3Byb2dyZXNzaXZlIiwieHB2X2Fzc2V0X2lkIjo3MzA1NTY5MDYxOTI3MDUsImFzc2V0X2FnZV9kYXlzIjowLCJ2aV91c2VjYXNlX2lkIjoxMDY4MCwiZHVyYXRpb25fcyI6NywidXJsZ2VuX3NvdXJjZSI6Ind3dyJ9&ccb=17-1&_nc_gid=ca1-LPuFTdcPm_oTUYCZyg&_nc_zt=28&oh=00_AflBmO2-pvgXbXviEeGUTmK66XSmL5OCqhgbEJnh_W1tyQ&oe=693801F5","video_sd_url":"https://video.fphl1-1.fna.fbcdn.net/o1/v/t2/f2/m69/AQPLIZiLtDs-J3D33Z0kljTea6E7ntX6JMIYQxWjzjkS1p3O4YEOlnSnGgGxpdM3HIbL866SgVK7VYrYaCXi7RQE.mp4?strext=1&_nc_cat=107&_nc_oc=Adm6tJn4qZpl7Gji16yicVWvHN_WvvD9uBVDn263ZPYI_63anjPyIkDz0RnDNtgfxcI&_nc_sid=8bf8fe&_nc_ht=video.fphl1-1.fna.fbcdn.net&_nc_ohc=05T1YZeSbeYQ7kNvwHbO5fM&efg=eyJ2ZW5jb2RlX3RhZyI6Inhwdl9wcm9ncmVzc2l2ZS5WSV9VU0VDQVNFX1BST0RVQ1RfVFlQRS4uQzMuMzYwLmFzaWNfaHExX3NkX3Byb2dyZXNzaXZlIiwieHB2X2Fzc2V0X2lkIjo3MzA1NTY5MDYxOTI3MDUsImFzc2V0X2FnZV9kYXlzIjowLCJ2aV91c2VjYXNlX2lkIjoxMDY4MCwiZHVyYXRpb25fcyI6NywidXJsZ2VuX3NvdXJjZSI6Ind3dyJ9&ccb=17-1&_nc_gid=ca1-LPuFTdcPm_oTUYCZyg&_nc_zt=28&oh=00_AflOvKJMD-MeU-JD-sIpbldla9ym42nxRqMU6gqgIELoDw&oe=693828AB","watermarked_video_sd_url":"","watermarked_video_hd_url":"","video_preview_image_url":"https://scontent.fphl1-1.fna.fbcdn.net/v/t39.35426-6/499149696_1837810423819060_5242520759436861939_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=c53f8f&_nc_ohc=9oQRDVPzVKYQ7kNvwFN2TzM&_nc_oc=Adk1yRfFfwq5j9dzVOupxVqAUvCsZ41pjZEg4O6uIVGWHttIqYaZ4Q8IBaGlETZjqoI&_nc_zt=14&_nc_ht=scontent.fphl1-1.fna&_nc_gid=ca1-LPuFTdcPm_oTUYCZyg&oh=00_AfnZFkzXn0YpzM-7XOwhfwFarZrfkDDnhrhiqacky_gO1g&oe=69380FFA"}],"creation_time":1764832260,"page_id":598631456674530,"page_name":"Porto
        Montenegro Experience","page_profile_picture_url":"https://scontent.fphl1-1.fna.fbcdn.net/v/t39.35426-6/498588182_739875508369121_8639482247199838788_n.jpg?stp=dst-jpg_s60x60_tt6&_nc_cat=110&ccb=1-7&_nc_sid=c53f8f&_nc_ohc=u4x2V71BMKIQ7kNvwFqhKAi&_nc_oc=AdkywCEIXwawoSAFMJFsVJCD1ac5xI6ZOtjQmpNTaHnkn4mUEJOUFAXXznrSfLUohAM&_nc_zt=14&_nc_ht=scontent.fphl1-1.fna&_nc_gid=ca1-LPuFTdcPm_oTUYCZyg&oh=00_AfmiERi2FPHrh_PdtQK9OriMB9wM-xE9H0s4OiowNLE93w&oe=69382184","page_categories":{"197251360301109":"Marina"},"page_entity_type":"person_profile","page_is_profile_page":false,"instagram_actor_name":"Porto
        Montenegro Experience","instagram_profile_pic_url":"https://scontent.fphl1-1.fna.fbcdn.net/v/t39.35426-6/499922917_1078294804160843_5583552140592065526_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=c53f8f&_nc_ohc=vZl8L0HJMLAQ7kNvwFt5uAh&_nc_oc=AdmO3oxf8KGJE835uldfxJCwlTPeY-dTYrSDOm1cUjT9YuoCAPPbqN2-XpQwCf4RERg&_nc_zt=14&_nc_ht=scontent.fphl1-1.fna&_nc_gid=ca1-LPuFTdcPm_oTUYCZyg&oh=00_AfkXx0LXRKTV8iDynLvzRX4WZZ_8vuCrdSRicH8dxJE-Kw&oe=6937F943","instagram_url":"","instagram_handle":"","is_reshared":false,"version":3,"body":"Reflections
        ripple, light gathers,<br /> and tomorrow brings a new rhythm to the square.
        <br /> <br /> One day until the Grand Opening of Boka Place.","brazil_tax_id":null,"branded_content":{"page_id":166258896830103,"page_name":"Porto
        Montenegro","page_profile_picture_url":"https://scontent.fphl1-1.fna.fbcdn.net/v/t39.35426-6/499920502_2382687582132053_334434608727983440_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=c53f8f&_nc_ohc=j2tQaOSYdyEQ7kNvwEvZ_GX&_nc_oc=AdmGcwioo51oi5N7I3-LGVipIBL5V742iSIVwZfSKUYQQY3n9JwwKplvDOzQs7yjA14&_nc_zt=14&_nc_ht=scontent.fphl1-1.fna&_nc_gid=ca1-LPuFTdcPm_oTUYCZyg&oh=00_AfmOStC1n_cCA1sE5aZhzgPXHK1lfmZWBv5SAvuPTgzyvg&oe=69381955","page_categories":{"197251360301109":"Marina"},"current_page_name":"Porto
        Montenegro","page_profile_uri":"https://www.facebook.com/portomontenegrotivat/","page_is_deleted":false},"current_page_name":"Porto
        Montenegro Experience","disclaimer_label":null,"page_like_count":2,"page_profile_uri":"https://www.facebook.com/61575286107814/","page_is_deleted":false,"root_reshared_post":null,"cta_type":"LEARN_MORE","additional_info":null,"ec_certificates":null,"country_iso_code":null,"instagram_branded_content":{"instagram_bc_sponsor_id":"17841400741682419","instagram_bc_sponsor_name":"porto_montenegro"},"final_url":null},"spend":null,"startDate":1747897200,"stateMediaRunLabel":null,"publisherPlatform":["facebook","instagram","audience_network"],"menuItems":[],"targetedOrReachedCountries":[],"totalActiveTime":41782,"url":"https://www.facebook.com/ads/library?id=702369045530963","startDateString":"2025-05-22T07:00:00.000Z","endDateString":"2025-05-23T07:00:00.000Z","aaa_info":{"targets_eu":true,"location_audience":[{"name":"Dubrovnik,
        Croatia","num_obfuscated":0,"type":"CITY","excluded":false}],"gender_audience":"All","age_audience":{"min":18,"max":65},"eu_total_reach":1657,"age_country_gender_reach_breakdown":[{"country":"HR","age_gender_breakdowns":[{"age_range":"45-54","male":101,"female":77,"unknown":4},{"age_range":"55-64","male":55,"female":55,"unknown":1},{"age_range":"65+","male":37,"female":29,"unknown":null},{"age_range":"18-24","male":161,"female":152,"unknown":7},{"age_range":"25-34","male":374,"female":238,"unknown":8},{"age_range":"35-44","male":196,"female":133,"unknown":5}]}]},"eu_transparency":{"targets_eu":true,"location_audience":[{"name":"Dubrovnik,
        Croatia","num_obfuscated":0,"type":"CITY","excluded":false}],"gender_audience":"All","age_audience":{"min":18,"max":65},"eu_total_reach":1657,"age_country_gender_reach_breakdown":[{"country":"HR","age_gender_breakdowns":[{"age_range":"45-54","male":101,"female":77,"unknown":4},{"age_range":"55-64","male":55,"female":55,"unknown":1},{"age_range":"65+","male":37,"female":29,"unknown":null},{"age_range":"18-24","male":161,"female":152,"unknown":7},{"age_range":"25-34","male":374,"female":238,"unknown":8},{"age_range":"35-44","male":196,"female":133,"unknown":5}]}]}}'
  recorded_at: Fri, 05 Dec 2025 02:11:15 GMT
recorded_with: VCR 6.3.1
