---
http_interactions:
- request:
    method: get
    uri: https://api.scrapecreators.com/v1/facebook/adLibrary/ad?id=702369045530963
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"adid":0,"adArchiveID":702369045530963,"archiveTypes":[],"categories":[0],"containsDigitallyCreatedMedia":false,"containsSensitiveContent":false,"collationCount":null,"collationID":null,"currency":"","endDate":1747983600,"entityType":"person_profile","fevInfo":null,"finServAdData":{"is_deemed_finserv":false,"is_limited_delivery":false},"gatedType":"eligible","hasUserReported":false,"hiddenSafetyData":false,"hideDataStatus":"NONE","impressionsWithIndex":{"impressionsText":null,"impressionsIndex":-1},"isAAAEligible":true,"isAdAccountActioned":false,"isActive":false,"isProfilePage":false,"pageID":166258896830103,"pageInfo":null,"pageIsDeleted":false,"pageName":"Porto Montenegro","politicalCountries":[],"reachEstimate":null,"regionalRegulationData":{"finserv":{"is_deemed_finserv":false,"is_limited_delivery":false},"tw_anti_scam":{"is_limited_delivery":false}},"reportCount":null,"snapshot":{"ad_creative_id":1066536401993375,"cards":[],"body_translations":{},"byline":null,"caption":"www.portomontenegro.com","cta_text":"Learn more","dynamic_item_flags":{},"dynamic_versions":null,"edited_snapshots":[],"effective_authorization_category":"NONE","event":[],"extra_images":[],"extra_links":[],"extra_texts":[],"extra_videos":[],"instagram_shopping_products":[],"display_format":"video","title":null,"link_description":null,"link_url":"https://www.portomontenegro.com/attractions-events/boka-place-grand-opening/","page_welcome_message":null,"images":[],"videos":[{"video_hd_url":"https://video-lga3-1.xx.fbcdn.net/v/t42.1790-2/491479560_702369072197627_5775200790449116407_n.mp4","video_sd_url":"https://video-lga3-1.xx.fbcdn.net/v/t42.1790-2/499448662_702369075530960_5981246750517589666_n.mp4","watermarked_video_sd_url":"","watermarked_video_hd_url":"","video_preview_image_url":"https://scontent-lga3-1.xx.fbcdn.net/v/t39.35426-6/499149696_1837810423819060_5242520759436861939_n.jpg"}],"creation_time":1747908203,"page_id":598631456674530,"page_name":"Porto Montenegro Experience","page_profile_picture_url":"https://scontent-lga3-3.xx.fbcdn.net/v/t39.35426-6/498588182_739875508369121_8639482247199838788_n.jpg","page_categories":{"197251360301109":"Marina"},"page_entity_type":"person_profile","page_is_profile_page":false,"instagram_actor_name":"Porto Montenegro Experience","instagram_profile_pic_url":"https://scontent-lga3-2.xx.fbcdn.net/v/t39.35426-6/499922917_1078294804160843_5583552140592065526_n.jpg","instagram_url":"","instagram_handle":"","is_reshared":false,"version":3,"body":"Reflections ripple, light gathers,<br /> and tomorrow brings a new rhythm to the square. <br /> <br /> One day until the Grand Opening of Boka Place.","brazil_tax_id":null,"branded_content":{"page_id":166258896830103,"page_name":"Porto Montenegro","page_profile_picture_url":"https://scontent-lga3-1.xx.fbcdn.net/v/t39.35426-6/499920502_2382687582132053_334434608727983440_n.jpg","page_categories":{"197251360301109":"Marina"},"current_page_name":"Porto Montenegro","page_profile_uri":"https://www.facebook.com/portomontenegrotivat/","page_is_deleted":false},"current_page_name":"Porto Montenegro Experience","disclaimer_label":null,"page_like_count":1,"page_profile_uri":"https://www.facebook.com/61575286107814/","page_is_deleted":false,"root_reshared_post":null,"cta_type":"LEARN_MORE","additional_info":null,"ec_certificates":null,"country_iso_code":null,"instagram_branded_content":{"instagram_bc_sponsor_id":"17841400741682419","instagram_bc_sponsor_name":"porto_montenegro"}},"spend":null,"startDate":1747897200,"stateMediaRunLabel":null,"publisherPlatform":["facebook","instagram","audience_network"],"menuItems":[],"targetedOrReachedCountries":[],"totalActiveTime":41782,"url":"https://www.facebook.com/ads/library?id=702369045530963","startDateString":"2025-05-22T07:00:00.000Z","endDateString":"2025-05-23T07:00:00.000Z","aaa_info":{"targets_eu":true,"location_audience":[{"name":"Dubrovnik, Croatia","num_obfuscated":0,"type":"CITY","excluded":false}],"gender_audience":"All","age_audience":{"min":18,"max":65},"eu_total_reach":1657,"age_country_gender_reach_breakdown":[{"country":"HR","age_gender_breakdowns":[{"age_range":"45-54","male":101,"female":77,"unknown":4},{"age_range":"55-64","male":55,"female":55,"unknown":1},{"age_range":"65+","male":37,"female":29,"unknown":null},{"age_range":"18-24","male":161,"female":152,"unknown":7},{"age_range":"25-34","male":374,"female":238,"unknown":8},{"age_range":"35-44","male":196,"female":133,"unknown":5}]}],"payer_beneficiary_data":[{"payer":"Porto Montenegro","beneficiary":"Porto Montenegro"}],"has_violating_payer_beneficiary":false,"is_ad_taken_down":false}}'
  recorded_at: Sat, 23 Nov 2025 10:00:00 GMT
recorded_with: VCR 6.3.1
