---
http_interactions:
- request:
    method: get
    uri: https://api.scrapecreators.com/v1/facebook/adLibrary/ad?id=702369045530963&trim=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"adArchiveID":702369045530963,"pageName":"Porto Montenegro","isActive":false,"startDate":1747897200,"endDate":1747983600,"publisherPlatform":["facebook","instagram","audience_network"],"url":"https://www.facebook.com/ads/library?id=702369045530963","snapshot":{"display_format":"video","body":"Reflections ripple, light gathers, and tomorrow brings a new rhythm to the square.","cta_text":"Learn more"}}'
  recorded_at: Sat, 23 Nov 2025 10:00:00 GMT
recorded_with: VCR 6.3.1
