---
http_interactions:
- request:
    method: get
    uri: https://api.scrapecreators.com/v1/facebook/adLibrary/company/ads?language=EN&pageId=367152833370567
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"results":[{"ad_archive_id":"1162496978867592","page_id":"367152833370567","page_name":"Instagram","is_active":true,"snapshot":{"body":{"text":"English language ad"},"display_format":"VIDEO"}}],"cursor":"AQHRBUAxNmFlxBVMFL6u"}'
  recorded_at: Thu, 05 Dec 2025 10:00:00 GMT
recorded_with: VCR 6.3.1
