---
http_interactions:
- request:
    method: get
    uri: https://api.scrapecreators.com/v1/twitter/community/tweets?url=https://x.com/i/communities/1926186499399139650
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"tweets":[{"id":"1940874916771123735","source":"<a href=\"http://twitter.com/download/iphone\" rel=\"nofollow\">Twitter for iPhone</a>","view_count":"8660","bookmark_count":10,"bookmarked":false,"created_at":"Thu Jul 03 20:46:54 +0000 2025","conversation_id_str":"1940874916771123735","display_text_range":[0,27],"favorite_count":173,"favorited":false,"full_text":"You just need 1 viral tweet https://t.co/Z4Q5jtsxAp","is_quote_status":false,"lang":"en","possibly_sensitive":false,"possibly_sensitive_editable":true,"quote_count":2,"reply_count":55,"retweet_count":3,"retweeted":false,"user_id_str":"73647967","id_str":"1940874916771123735","user":{"__typename":"User","id":"VXNlcjo3MzY0Nzk2Nw==","rest_id":"73647967","affiliates_highlighted_label":{},"avatar":{"image_url":"https://pbs.twimg.com/profile_images/1590652776719286274/eeualJ2p_normal.jpg"},"core":{"created_at":"Sat Sep 12 14:00:05 +0000 2009","name":"Mike in'' Software","screen_name":"mikeinsoftware"},"dm_permissions":{},"is_blue_verified":true,"legacy":{"default_profile":true,"default_profile_image":false,"description":"Senior SWE Indie hacking my way to financial freedom Follow for free early access to next project","entities":{"description":{"urls":[]}},"fast_followers_count":0,"favourites_count":7532,"followers_count":1173,"friends_count":990,"has_custom_timelines":true,"is_translator":false,"listed_count":8,"media_count":518,"normal_followers_count":1173,"pinned_tweet_ids_str":["1945599110876176561"],"possibly_sensitive":false,"profile_interstitial_type":"","statuses_count":2931,"translator_type":"none","withheld_in_countries":[]},"location":{"location":""},"media_permissions":{},"parody_commentary_fan_label":"None","profile_image_shape":"Circle","professional":{"rest_id":"1928057904189559014","professional_type":"Creator","category":[{"id":1055,"name":"Software developer/Programmer/Software engineer","icon_name":"IconBriefcaseStroke"}]},"privacy":{"protected":false},"relationship_perspectives":{},"tipjar_settings":{"is_enabled":false,"bandcamp_handle":"","bitcoin_handle":"","cash_app_handle":"","ethereum_handle":"","gofundme_handle":"","patreon_handle":"","pay_pal_handle":"","venmo_handle":""},"verification":{"verified":false}}},{"id":"1940123456789012345","source":"<a href=\"https://mobile.twitter.com\" rel=\"nofollow\">Twitter Web App</a>","view_count":"5432","bookmark_count":5,"bookmarked":false,"created_at":"Wed Jul 02 15:30:00 +0000 2025","conversation_id_str":"1940123456789012345","display_text_range":[0,140],"favorite_count":89,"favorited":false,"full_text":"Building in public is the best way to grow your audience. Share your progress, wins, and lessons learned.","is_quote_status":false,"lang":"en","poss[...]
