---
http_interactions:
- request:
    method: get
    uri: https://api.scrapecreators.com/v1/twitter/tweet?url=https://x.com/user/status/999999999999999999999
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"success":false,"error":"Tweet not found","message":"The tweet could not be found or may have been deleted"}'
  recorded_at: Sat, 23 Nov 2025 10:00:00 GMT
recorded_with: VCR 6.3.1
