---
http_interactions:
- request:
    method: get
    uri: https://api.scrapecreators.com/v1/twitter/tweet?trim=true&url=https://x.com/adrian_horning_/status/1628769691547074562
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"__typename":"Tweet","rest_id":"1628769691547074562","views":{"count":"101132","state":"EnabledWithCount"},"legacy":{"bookmark_count":1159,"created_at":"Thu Feb 23 14:52:10 +0000 2023","favorite_count":402,"full_text":"I have scraped huge retailers, real estate sites, county websites, and sold https://t.co/Fv4phrfgen, which scraped lululemon. \n\nAnd here is EVERYTHING I know about web scraping","quote_count":7,"reply_count":41,"retweet_count":30,"id_str":"1628769691547074562"}}'
  recorded_at: Sat, 23 Nov 2025 10:00:00 GMT
recorded_with: VCR 6.3.1
