---
http_interactions:
- request:
    method: get
    uri: https://api.scrapecreators.com/v1/tiktok/user/audience?handle=thisuserdoesnotexist123456789
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"70-roEW7yMkJn7b/fT+6pEyKBkapCw"
      Rndr-Id:
      - 4d09e74e-56f2-41d9
      X-Render-Origin-Server:
      - Render
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"credits_remaining":24917,"error":"not_found","errorStatus":404,"message":"Account
        deactivated"}'
  recorded_at: Sat, 15 Nov 2025 06:09:58 GMT
recorded_with: VCR 6.3.1
