---
http_interactions:
- request:
    method: get
    uri: https://api.scrapecreators.com/v1/tiktok/user/audience?handle=thisuserdoesnotexist123456789
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"70-O5a5Nbzx98ryRrUgLRxIbCiz2vM"
      Rndr-Id:
      - '08fc0b83-c45d-4af7'
      X-Render-Origin-Server:
      - Render
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"credits_remaining":24797,"error":"not_found","errorStatus":404,"message":"Account
        deactivated"}'
  recorded_at: Sat, 15 Nov 2025 06:41:51 GMT
recorded_with: VCR 6.3.1
