---
http_interactions:
- request:
    method: get
    uri: https://api.scrapecreators.com/v1/tiktok/user/audience?handle=somehandle
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"70-K3PRuuPYwJrGlkG/gBFflQSqWWU"
      Rndr-Id:
      - 25e84ddd-28f6-4f2a
      X-Render-Origin-Server:
      - Render
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"credits_remaining":24771,"error":"not_found","errorStatus":404,"message":"Account
        deactivated"}'
  recorded_at: Sat, 15 Nov 2025 06:41:52 GMT
recorded_with: VCR 6.3.1
