---
http_interactions:
- request:
    method: get
    uri: https://api.scrapecreators.com/v1/tiktok/profile?handle=thisuserdoesnotexist123456789
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"90-141puzfwQs6qdk/yFk5OEWKQ3+I"
      Rndr-Id:
      - 9cc4bc58-d886-4a7e
      X-Render-Origin-Server:
      - Render
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"credits_remaining":24970,"account_deactivated":true,"handle":"thisuserdoesnotexist123456789","message":"Account
        doesn''t exist"}'
  recorded_at: Sat, 15 Nov 2025 06:09:54 GMT
recorded_with: VCR 6.3.1
