---
http_interactions:
- request:
    method: get
    uri: https://api.scrapecreators.com/v1/tiktok/profile?handle=thisuserdoesnotexist123456789
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"90-kE9/ggah44AdVvSWpk472sft/WE"
      Rndr-Id:
      - e9c1e3a3-77c6-4f00
      X-Render-Origin-Server:
      - Render
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"credits_remaining":24911,"account_deactivated":true,"handle":"thisuserdoesnotexist123456789","message":"Account
        doesn''t exist"}'
  recorded_at: Sat, 15 Nov 2025 06:17:36 GMT
recorded_with: VCR 6.3.1
