---
http_interactions:
- request:
    method: get
    uri: https://api.scrapecreators.com/v3/tiktok/profile-videos?userId=6659752019493208069
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"8c-MYO9AHoRjiwSfucsDZc6/ER+7aI"
      Rndr-Id:
      - 68dac5d6-0137-43a0
      X-Render-Origin-Server:
      - Render
    body:
      encoding: UTF-8
      string: '{"success":false,"credits_remaining":24988,"error":"missing_parameter","errorStatus":400,"message":"You
        must provide a handle or a user_id"}'
  recorded_at: Sat, 15 Nov 2025 06:09:02 GMT
recorded_with: VCR 6.3.1
