---
http_interactions:
- request:
    method: get
    uri: https://api.scrapecreators.com/v1/tiktok/search/top?cursor=30&query=dance
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"success":true,"items":[{"id":"7528150371680767264","desc":"Page 2 dance video #dance","content_type":"video","create_time":"2025-07-15T10:00:00.000Z","region":"US","statistics":{"play_count":30000,"digg_count":3000,"comment_count":300},"author":{"uid":"789012","unique_id":"dancer2","nickname":"Dancer Two"},"url":"https://www.tiktok.com/@dancer2/video/7528150371680767264"}],"cursor":60}'
  recorded_at: Thu, 21 Nov 2025 12:00:00 GMT
recorded_with: VCR 6.3.1
