---
http_interactions:
- request:
    method: get
    uri: https://api.scrapecreators.com/v1/tiktok/search/top?publish_time=this-month&query=dance&region=US&sort_by=relevance
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"success":true,"items":[{"id":"7528150371680767265","desc":"Filtered dance video #dance #monthly #us","content_type":"video","create_time":"2025-11-01T12:00:00.000Z","region":"US","statistics":{"play_count":100000,"digg_count":10000,"comment_count":1000},"author":{"uid":"456789","unique_id":"profilter","nickname":"Pro Filter"},"url":"https://www.tiktok.com/@profilter/video/7528150371680767265"}],"cursor":30}'
  recorded_at: Thu, 21 Nov 2025 12:00:00 GMT
recorded_with: VCR 6.3.1
