---
http_interactions:
- request:
    method: get
    uri: https://api.scrapecreators.com/v1/tiktok/search/hashtag?hashtag=fyp&trim=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"aweme_list":[{"aweme_id":"6862153058223197445","desc":"To the 🐝 🐝 🐝  #fyp","author":{"unique_id":"bellapoarch","nickname":"Bella Poarch"},"statistics":{"play_count":852942803,"digg_count":68933772}}],"cursor":12,"has_more":1,"status_code":0}'
  recorded_at: Fri, 21 Nov 2025 12:00:00 GMT
recorded_with: VCR 6.3.1
