---
http_interactions:
- request:
    method: get
    uri: https://api.scrapecreators.com/v1/tiktok/search/top?query=dance&sort_by=most-liked
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"success":true,"items":[{"id":"7528150371680767263","desc":"Most liked dance video #dance","content_type":"video","create_time":"2025-07-17T20:28:28.000Z","region":"US","statistics":{"play_count":1000000,"digg_count":500000,"comment_count":10000},"author":{"uid":"123456","unique_id":"topdancer","nickname":"Top Dancer"},"url":"https://www.tiktok.com/@topdancer/video/7528150371680767263"}],"cursor":30}'
  recorded_at: Thu, 21 Nov 2025 12:00:00 GMT
recorded_with: VCR 6.3.1
