---
http_interactions:
- request:
    method: get
    uri: https://api.scrapecreators.com/v1/tiktok/song/videos?clipId=7439295283975702544
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2f2e-eqHJen61ebvoJjblLacjOcoO7iY"
      Rndr-Id:
      - 4fb59fa6-5b27-463d
      X-Render-Origin-Server:
      - Render
    body:
      encoding: ASCII-8BIT
      string: '{"aweme_list":[{"aweme_id":"7452069943757114646","desc":"Test video","create_time":1735070246,"author":{"uid":"7431412724132922400","unique_id":"testuser","nickname":"Test User"},"statistics":{"play_count":100000,"digg_count":5000},"video":{"duration":9700},"music":{"id":7439295283975703000,"id_str":"7439295283975702544","title":"luther"}}],"cursor":12,"has_more":1,"status_code":0,"status_msg":""}'
  recorded_at: Sun, 23 Nov 2025 06:05:28 GMT
recorded_with: VCR 6.3.1
