---
http_interactions:
- request:
    method: get
    uri: https://api.scrapecreators.com/v1/tiktok/song/videos?clipId=7439295283975702544&cursor=12
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2f2e-eqHJen61ebvoJjblLacjOcoO7iY"
      Rndr-Id:
      - 4fb59fa6-5b27-463c
      X-Render-Origin-Server:
      - Render
    body:
      encoding: ASCII-8BIT
      string: '{"aweme_list":[{"aweme_id":"7452069943757114647","desc":"Another video using luther #fyp","create_time":1735070300,"author":{"uid":"7431412724132922401","unique_id":"anotheruser","nickname":"Another User","sec_uid":"MS4wLjABAAAAtest"},"statistics":{"play_count":1000000,"digg_count":50000,"comment_count":100,"share_count":5000,"collect_count":2000},"video":{"duration":15000,"cover":{"url_list":["https://p16-pu-sign-no.tiktokcdn-eu.com/test-cover.jpeg"]}},"music":{"id":7439295283975703000,"id_str":"7439295283975702544","title":"luther","author":"Kendrick Lamar & SZA","album":"GNX","duration":59}}],"cursor":24,"has_more":1,"status_code":0,"status_msg":"","can_pin_video":false,"extra":{"logid":"202502180605274FFF1CE5D6043F4CF935","now":1739829928000}}'
  recorded_at: Sun, 23 Nov 2025 06:05:27 GMT
recorded_with: VCR 6.3.1
