---
http_interactions:
- request:
    method: get
    uri: https://api.scrapecreators.com/v1/tiktok/song?clipId=6717159721276540930
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2f2e-eqHJen61ebvoJjblLacjOcoO7iY"
      Rndr-Id:
      - 4fb59fa6-5b27-463b
      X-Render-Origin-Server:
      - Render
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"credits_remaining":24743,"music_info":{"album":"Different","allow_offline_music_to_detail_page":false,"artists":[{"avatar":{"uri":"tos-maliva-avt-0068/e7d4971260ccf9834d92fe6a3c63e848","url_list":["https://p77-sign-va.tiktokcdn.com/tos-maliva-avt-0068/e7d4971260ccf9834d92fe6a3c63e848~tplv-tiktokx-cropcenter:168:168.webp?dr=10397&refresh_token=2ea3ab1c&x-expires=1763956800&x-signature=rx%2FXqQGgc70ROvvcmeyyYd6zc7U%3D&t=4d5b0474&ps=13740610&shp=544a444f&shcp=f6441914&idc=no1a","https://p16-sign-va.tiktokcdn.com/tos-maliva-avt-0068/e7d4971260ccf9834d92fe6a3c63e848~tplv-tiktokx-cropcenter:168:168.webp?dr=10397&refresh_token=9cbfe6cb&x-expires=1763956800&x-signature=bf9BU2acGnYW8K6%2BspRayR3mNYk%3D&t=4d5b0474&ps=13740610&shp=544a444f&shcp=f6441914&idc=no1a","https://p77-sign-va.tiktokcdn.com/tos-maliva-avt-0068/e7d4971260ccf9834d92fe6a3c63e848~tplv-tiktokx-cropcenter:168:168.jpeg?dr=10397&refresh_token=39d6c608&x-expires=1763956800&x-signature=NeEslU6myZkBNJ1CjtT5%2Fx341sQ%3D&t=4d5b0474&ps=13740610&shp=544a444f&shcp=f6441914&idc=no1a"],"url_prefix":null},"enter_type":2,"follow_status":0,"follower_status":0,"handle":"micahtylertok","is_block":false,"is_blocked":false,"is_private_account":false,"is_verified":false,"is_visible":false,"nick_name":"Micah
        Tyler","sec_uid":"MS4wLjABAAAAEdwuYUJfZcFMddE2j_F7VdBPJ-mFgfmhvS_OEZc_CwP9mgiFLDBlqsJOgEaAaHR5","status":1,"uid":"7086245766293226538"}],"audition_duration":60,"author":"Micah
        Tyler","author_deleted":false,"author_position":null,"avatar_medium":{"height":720,"uri":"musically-maliva-obj/1594805258216454","url_list":["https://p16-sign-va.tiktokcdn.com/musically-maliva-obj/1594805258216454~tplv-tiktokx-cropcenter:720:720.webp?dr=10399&refresh_token=b2b830b4&x-expires=1763956800&x-signature=xvFUvNJgqqL1Td2yaeL5%2FJLmgRc%3D&t=4d5b0474&ps=13740610&shp=544a444f&shcp=f6441914&idc=no1a","https://p77-sign-va-lite.tiktokcdn.com/musically-maliva-obj/1594805258216454~tplv-tiktokx-cropcenter:720:720.webp?dr=10399&refresh_token=09f49fb1&x-expires=1763956800&x-signature=My03N8%2BiNhJCezkBPw1Pq3jOxnE%3D&t=4d5b0474&ps=13740610&shp=544a444f&shcp=f6441914&idc=no1a","https://p16-sign-va.tiktokcdn.com/musically-maliva-obj/1594805258216454~tplv-tiktokx-cropcenter:720:720.jpeg?dr=10399&refresh_token=f8f855ef&x-expires=1763956800&x-signature=IorvrHH%2Br2hvqC2Y2Y1A8Tm68%2BI%3D&t=4d5b0474&ps=13740610&shp=544a444f&shcp=f6441914&idc=no1a"],"url_prefix":null,"width":720},"avatar_thumb":{"height":720,"uri":"musically-maliva-obj/1594805258216454","url_list":["https://p16-sign-va.tiktokcdn.com/musically-maliva-obj/1594805258216454~tplv-tiktokx-cropcenter:100:100.webp?dr=10399&refresh_token=e8b00bf2&x-expires=1763956800&x-signature=mtg4jmGZXkqdCfVpcdwvFf6yp6s%3D&t=4d5b0474&ps=13740610&shp=544a444f&shcp=f6441914&idc=no1a","https://p77-sign-va.tiktokcdn.com/musically-maliva-obj/1594805258216454~tplv-tiktokx-cropcenter:100:100.webp?dr=10399&refresh_token=2e159cf2&x-expires=1763956800&x-signature=l9YkPJ%2FqCmyu2jdpiOqmk%2BXgmt4%3D&t=4d5b0474&ps=13740610&shp=544a444f&shcp=f6441914&idc=no1a","https://p16-sign-va.tiktokcdn.com/musically-maliva-obj/1594805258216454~tplv-tiktokx-cropcenter:100:100.jpeg?dr=10399&refresh_token=02a91868&x-expires=1763956800&x-signature=eTrbXKhCwNvBGD%2Bnv%2FUKoyQYPZ8%3D&t=4d5b0474&ps=13740610&shp=544a444f&shcp=f6441914&idc=no1a"],"url_prefix":null,"width":720},"binded_challenge_id":0,"can_be_stitched":false,"can_not_reuse":false,"collect_stat":0,"commercial_right_type":3,"cover_large":{"height":720,"uri":"tos-alisg-v-2774/okeuMAAZnBBv88JZBjFEgjDOtWCZQ4AEEwfoQb","url_list":["https://p16-sg.tiktokcdn.com/aweme/720x720/tos-alisg-v-2774/okeuMAAZnBBv88JZBjFEgjDOtWCZQ4AEEwfoQb.jpeg"],"url_prefix":null,"width":720},"cover_medium":{"height":720,"uri":"tos-alisg-v-2774/okeuMAAZnBBv88JZBjFEgjDOtWCZQ4AEEwfoQb","url_list":["https://p16-sg.tiktokcdn.com/aweme/200x200/tos-alisg-v-2774/okeuMAAZnBBv88JZBjFEgjDOtWCZQ4AEEwfoQb.jpeg"],"url_prefix":null,"width":720},"cover_thumb":{"height":720,"uri":"tos-alisg-v-2774/okeuMAAZnBBv88JZBjFEgjDOtWCZQ4AEEwfoQb","url_list":["https://p16-sg.tiktokcdn.com/aweme/100x100/tos-alisg-v-2774/okeuMAAZnBBv88JZBjFEgjDOtWCZQ4AEEwfoQb.jpeg"],"url_prefix":null,"width":720},"create_time":1563960621,"dmv_auto_show":false,"duration":60,"duration_high_precision":{"audition_duration_precision":60,"duration_precision":60,"shoot_duration_precision":60,"video_duration_precision":60},"external_song_info":[],"extra":"{\"aed_music_dur\":35.15,\"amplitude_peak\":0.90573657,\"apple_song_id\":1294619219,\"beats\":{\"audio_effect_onset\":\"https://sf77-ies-music-sg.tiktokcdn.com/obj/tos-alisg-v-2774/oUAUk8ZzzEAU6HBiB7fAhDsjbAN8yAAEhqQTWg\",\"beats_tracker\":\"https://sf77-ies-music-sg.tiktokcdn.com/obj/tos-alisg-v-2774/oAF3bCnBfkAAUeZDlsqGFACtgETHBYaEAAH5DZ\",\"energy_trace\":\"https://sf16-ies-music-sg.tiktokcdn.com/obj/tos-alisg-v-2774/ow8bhfzzsWgaaEAjQHhEKiABkApQUJA5gyNpRA\",\"merged_beats\":\"https://sf16-ies-music-sg.tiktokcdn.com/obj/tos-alisg-v-2774/oUIygAzuEAAhAAHCNWBQEYAfF8HjMRdiUFZshk\"},\"can_read\":true,\"can_reuse\":true,\"erase_type\":0,\"erase_uid\":0,\"from_user_id\":7536732527927723030,\"full_song_beat_info\":{},\"full_song_beats\":{},\"has_edited\":0,\"is_batch_take_down_music\":false,\"is_ugc_mapping\":false,\"is_used\":0,\"loudness_lufs\":-11.893368,\"music_vid\":\"v10ad6g50000ctcrhlvog65o48qsdm1g\",\"owner_id\":0,\"resource_status\":0,\"review_unshelve_reason\":0,\"reviewed\":0,\"schedule_search_time\":0}","has_commerce_right":false,"id":6717159721276541000,"id_str":"6717159721276540930","is_audio_url_with_cookie":false,"is_author_artist":true,"is_commerce_music":true,"is_matched_metadata":false,"is_original":false,"is_original_sound":false,"is_pgc":true,"is_shooting_allow":true,"log_extra":"{\"meta_song_matched_type\":\"pgc\",\"ttm_matched_type\":\"\",\"ttm_track_id\":\"\",\"matched_meta_song_id\":\"\",\"vid\":\"\",\"owner_id\":\"\"}","lyric_short_position":null,"matched_song":{"author":"Micah
        Tyler","chorus_info":{"duration_ms":85824,"start_ms":91968},"cover_medium":{"height":720,"uri":"tos-alisg-v-2774/okeuMAAZnBBv88JZBjFEgjDOtWCZQ4AEEwfoQb","url_list":["https://p16-sg.tiktokcdn.com/aweme/200x200/tos-alisg-v-2774/okeuMAAZnBBv88JZBjFEgjDOtWCZQ4AEEwfoQb.jpeg"],"url_prefix":null,"width":720},"full_duration":195120,"h5_url":"","id":"6717159725093390337","performers":null,"title":"Different
        - Acoustic"},"meme_song_info":{},"mid":"6717159721276540930","multi_bit_rate_play_info":[{"bit_rate":65661,"dub_infos":null,"gear_name":"medium","play_addr":{"url_list":["https://v16m.tiktokcdn-eu.com/679784d19a5c4af769c71809e1cfd6e5/6923e175/video/tos/alisg/tos-alisg-ve-2774/oYtuQXQgQfCFGEbcSQZswWfG2jDABBBYNPbnRz/?a=1233&bti=OnYpenFxQGo4NDZAOm1rbGhyYCMvNTNg&ch=0&cr=0&dr=0&er=0&cd=0%7C0%7C0%7C0&br=128&bt=64&ft=.NpOcInz7Th6sLCPXq8Zmo&mime_type=audio_mp4&qs=3&rc=OWY0O2VlPDM2Omk8aDtpOEBpanB2O3I5cm91dzMzODlkNEAyYV8tMy9eXi4xYS1fMzQvYSMuYW4xMmRzZWBgLS1kYS1zcw%3D%3D&vvpl=1&l=2025112304381748FD4070E713D70036AF&btag=e00090000","https://v77.tiktokcdn-eu.com/9a67da99bb32b6aca7cb43921786c5d7/6923e175/video/tos/alisg/tos-alisg-ve-2774/oYtuQXQgQfCFGEbcSQZswWfG2jDABBBYNPbnRz/?a=1233&bti=OnYpenFxQGo4NDZAOm1rbGhyYCMvNTNg&ch=0&cr=0&dr=0&er=0&cd=0%7C0%7C0%7C0&br=128&bt=64&ft=.NpOcInz7Th6sLCPXq8Zmo&mime_type=audio_mp4&qs=3&rc=OWY0O2VlPDM2Omk8aDtpOEBpanB2O3I5cm91dzMzODlkNEAyYV8tMy9eXi4xYS1fMzQvYSMuYW4xMmRzZWBgLS1kYS1zcw%3D%3D&vvpl=1&l=2025112304381748FD4070E713D70036AF&btag=e00090000"],"url_prefix":null},"quality_type":3},{"bit_rate":257710,"dub_infos":null,"gear_name":"highest","play_addr":{"url_list":["https://v16m.tiktokcdn-eu.com/0e54524f27d06dd21804735c290b04c5/6923e175/video/tos/alisg/tos-alisg-ve-2774/o42ZrIxi1jsXQMuItAizBu9BwDoCBAsNfNrWG4/?a=1233&bti=OnYpenFxQGo4NDZAOm1rbGhyYCMvNTNg&ch=0&cr=0&dr=0&er=0&cd=0%7C0%7C0%7C0&br=502&bt=251&ft=.NpOcInz7Th6sLCPXq8Zmo&mime_type=audio_mp4&qs=7&rc=ZmczaDY1NTQzOGRnNGVkO0BpanB2O3I5cm91dzMzODlkNEAtNS42LjUyXzMxYS0tMS0vYSMuYW4xMmRzZWBgLS1kYS1zcw%3D%3D&vvpl=1&l=20251123[...]
