---
http_interactions:
- request:
    method: get
    uri: https://api.scrapecreators.com/v1/tiktok/get-trending-feed?region=US
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Render-Origin-Server:
      - Render
    body:
      encoding: ASCII-8BIT
      string: '{"aweme_list":[{"aweme_id":"7540000301621841183","desc":"#hudsonvalley #fallgetaway #farm #upstateny #resort","desc_language":"un","region":"US","statistics":{"aweme_id":"7540000301621841183","comment_count":646,"digg_count":71423,"download_count":130,"play_count":1443873,"share_count":8440,"forward_count":0,"lose_count":0,"lose_comment_count":0,"whatsapp_share_count":37,"collect_count":21957,"repost_count":0},"video":{"play_addr":{"uri":"https://v16m.tiktokcdn-us.com/video.mp4","url_list":["https://v16m.tiktokcdn-us.com/video.mp4"],"width":720,"height":720},"cover":{"uri":"tos-useast8-i-photomode-tx2/cover.webp","url_list":["https://p19-pu-sign-useast8.tiktokcdn-us.com/cover.webp"],"width":640,"height":853}},"author":{"uid":"6754760670083138566","short_id":"0","nickname":"Bre","signature":"3rd grade teacher | making life cute | home inspo loading","avatar_thumb":{"uri":"tos-useast8-avt-0068-tx2/avatar.heic","url_list":["https://p19-pu-sign-useast8.tiktokcdn-us.com/avatar.heic"]},"region":"US","language":"en","sec_uid":"MS4wLjABAAAANbZGXVN-iwJvesiIVGgD_nRTpyI4PGOXHEbt01cN9U5S3Ih21qUe5WQ9ztsn2J6h"},"create_time":1755543133,"is_ad":false,"is_eligible_for_commission":false,"create_time_utc":"2025-08-18T18:52:13.000Z","url":"https://www.tiktok.com/@breannafriedman0/photo/7540000301621841183"},{"aweme_id":"7540968798585670968","desc":"Thrilling 3D motorcycle chases in the city. Evade cops at top speed!","desc_language":"en","region":"VN","statistics":{"aweme_id":"7540968798585670968","comment_count":27,"digg_count":6035,"download_count":72,"play_count":589406,"share_count":192,"forward_count":0,"lose_count":0,"lose_comment_count":0,"whatsapp_share_count":6,"collect_count":442,"repost_count":0},"video":{"play_addr":{"uri":"v14033g50000d2jed4vog65sp3hesl60","url_list":["https://v16m.tiktokcdn-us.com/video.mp4"],"width":576,"height":1024},"download_addr":{"uri":"v14033g50000d2jed4vog65sp3hesl60","url_list":["https://v16m.tiktokcdn-us.com/video_download.mp4"],"width":720,"height":720}},"author":{"uid":"7457141013010826241","short_id":"0","nickname":"lyngame.52","signature":"","unique_id":"lyngame.52","region":"VN","language":"vi","sec_uid":"MS4wLjABAAAAQLDjklcDNJ4ylkeY_3oFIf5KtaEorKG1-n0ZwmRORZig3y30uvmayXicp8pAdUvt"},"create_time":1755768714,"is_ad":false,"is_eligible_for_commission":false,"create_time_utc":"2025-08-21T09:31:54.000Z","url":"https://www.tiktok.com/@lyngame.52/video/7540968798585670968"}]}'
  recorded_at: Sun, 23 Nov 2025 06:05:26 GMT
recorded_with: VCR 6.3.1
