---
http_interactions:
- request:
    method: get
    uri: https://api.scrapecreators.com/v1/tiktok/get-trending-feed?region=US
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"aweme_list":[{"aweme_id":"7540000301621841183","desc":"#hudsonvalley #fallgetaway #farm #upstateny #resort","region":"US","statistics":{"aweme_id":"7540000301621841183","comment_count":646,"digg_count":71423,"download_count":130,"play_count":1443873,"share_count":8440,"collect_count":21957},"author":{"uid":"6754760670083138566","nickname":"Bre"},"create_time":1755543133,"url":"https://www.tiktok.com/@breannafriedman0/photo/7540000301621841183"}]}'
  recorded_at: Sun, 23 Nov 2025 06:05:26 GMT
recorded_with: VCR 6.3.1
