---
http_interactions:
- request:
    method: get
    uri: https://api.scrapecreators.com/v1/tiktok/user/live?handle=thisuserdoesnotexist123456789
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 503
      message: Service Unavailable
    headers:
      Content-Type:
      - text/plain
    body:
      encoding: UTF-8
      string: 'upstream connect error or disconnect/reset before headers. reset reason:
        remote connection failure, transport failure reason: TLS_error:|268435581:SSL
        routines:OPENSSL_internal:CERTIFICATE_VERIFY_FAILED:TLS_error_end'
  recorded_at: Sat, 15 Nov 2025 06:41:27 GMT
- request:
    method: get
    uri: https://api.scrapecreators.com/v1/tiktok/user/live?handle=thisuserdoesnotexist123456789
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"40-lWi7tGiuN6/LwGJfh3FwE7uDYtw"
      Rndr-Id:
      - 05ba9f6e-c3d9-432a
      X-Render-Origin-Server:
      - Render
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"credits_remaining":24826,"liveRoomUserInfo":{}}'
  recorded_at: Sat, 15 Nov 2025 06:41:30 GMT
recorded_with: VCR 6.3.1
