---
http_interactions:
- request:
    method: get
    uri: https://api.scrapecreators.com/v1/tiktok/user/followers?handle=stoolpresidente&min_time=1737751140
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 503
      message: Service Unavailable
    headers:
      Content-Type:
      - text/plain
    body:
      encoding: UTF-8
      string: 'upstream connect error or disconnect/reset before headers. reset reason:
        remote connection failure, transport failure reason: TLS_error:|268435581:SSL
        routines:OPENSSL_internal:CERTIFICATE_VERIFY_FAILED:TLS_error_end'
  recorded_at: Sat, 15 Nov 2025 06:41:40 GMT
[...]
- request:
    method: get
    uri: https://api.scrapecreators.com/v1/tiktok/user/followers?handle=stoolpresidente&min_time=1737751140
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"198-cHUQa2aJz+gESviELxmoegcsRhA"
      Rndr-Id:
      - 23326948-291e-4924
      X-Render-Origin-Server:
      - Render
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"credits_remaining":24824,"extra":{"fatal_item_ids":[],"logid":"202511150641454F2250CDA057B5D13CDC","now":1763188906000},"followers":[],"has_more":false,"log_pb":{"impr_id":"202511150641454F2250CDA057B5D13CDC"},"max_time":1763188906,"min_time":-1,"myself_user_id":"0","next_page_token":"eyJtYXhfY3Vyc29yIjotMSwibWluX2N1cnNvciI6LTF9","offset":0,"status_code":0,"status_msg":"","total":4511321}'
  recorded_at: Sat, 15 Nov 2025 06:41:46 GMT
recorded_with: VCR 6.3.1
