---
http_interactions:
- request:
    method: get
    uri: https://api.scrapecreators.com/v1/tiktok/user/followers?handle=stoolpresidente&min_time=1737751140
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"198-mveheGPCuN3zjA7vqhHn4KyFaK0"
      Rndr-Id:
      - ba4041de-1cde-4ea9
      X-Render-Origin-Server:
      - Render
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"credits_remaining":24903,"extra":{"fatal_item_ids":[],"logid":"20251115061808F24FB60142025DC59430","now":1763187488000},"followers":[],"has_more":false,"log_pb":{"impr_id":"20251115061808F24FB60142025DC59430"},"max_time":1763187488,"min_time":-1,"myself_user_id":"0","next_page_token":"eyJtYXhfY3Vyc29yIjotMSwibWluX2N1cnNvciI6LTF9","offset":0,"status_code":0,"status_msg":"","total":4511324}'
  recorded_at: Sat, 15 Nov 2025 06:18:09 GMT
recorded_with: VCR 6.3.1
