---
http_interactions:
- request:
    method: get
    uri: https://api.scrapecreators.com/v1/tiktok/user/live?handle=someliveuser
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"40-IccD7ynPSD3DJ47xV8mh+KdXhaY"
      Rndr-Id:
      - 8ea2a1a1-fa2d-450d
      X-Render-Origin-Server:
      - Render
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"credits_remaining":24978,"liveRoomUserInfo":{}}'
  recorded_at: Sat, 15 Nov 2025 06:09:30 GMT
recorded_with: VCR 6.3.1
