---
http_interactions:
- request:
    method: get
    uri: https://api.scrapecreators.com/v1/tiktok/user/followers?handle=thisuserdoesnotexist123456789
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6c-2nrIwDb2jW7RMKgWWC/yVUmK+Vc"
      Rndr-Id:
      - 30ee679e-1948-4585
      X-Render-Origin-Server:
      - Render
    body:
      encoding: ASCII-8BIT
      string: '{"success":false,"credits_remaining":24903,"error":"not_found","errorStatus":404,"message":"User
        not found"}'
  recorded_at: Sat, 15 Nov 2025 06:18:10 GMT
recorded_with: VCR 6.3.1
