---
http_interactions:
- request:
    method: get
    uri: https://api.scrapecreators.com/v1/tiktok/user/following?handle=thisuserdoesnotexist123456789
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 503
      message: Service Unavailable
    headers:
      Content-Type:
      - text/plain
    body:
      encoding: UTF-8
      string: 'upstream connect error or disconnect/reset before headers. reset reason:
        remote connection failure, transport failure reason: TLS_error:|268435581:SSL
        routines:OPENSSL_internal:CERTIFICATE_VERIFY_FAILED:TLS_error_end'
  recorded_at: Sat, 15 Nov 2025 06:41:11 GMT
[...]
- request:
    method: get
    uri: https://api.scrapecreators.com/v1/tiktok/user/following?handle=thisuserdoesnotexist123456789
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6c-Zt/4aFoTo/k382Q8s3apY9ocXFI"
      Rndr-Id:
      - 15f54ffd-c8f7-45ec
      X-Render-Origin-Server:
      - Render
    body:
      encoding: ASCII-8BIT
      string: '{"success":false,"credits_remaining":24829,"error":"not_found","errorStatus":404,"message":"User
        not found"}'
  recorded_at: Sat, 15 Nov 2025 06:41:15 GMT
recorded_with: VCR 6.3.1
