---
http_interactions:
- request:
    method: get
    uri: https://api.scrapecreators.com/v1/tiktok/user/live?handle=someliveuser
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"40-OrJDJ5bZSt7Lcx91hDanKhLBFgE"
      Rndr-Id:
      - 6e6d8893-e9f3-4dcd
      X-Render-Origin-Server:
      - Render
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"credits_remaining":24827,"liveRoomUserInfo":{}}'
  recorded_at: Sat, 15 Nov 2025 06:41:26 GMT
recorded_with: VCR 6.3.1
