---
http_interactions:
- request:
    method: get
    uri: https://api.scrapecreators.com/v1/tiktok/user/followers?handle=stoolpresidente&min_time=1737751140
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"198-nzBtPCRDTyipl3Ofyq/7ixrvp0M"
      Rndr-Id:
      - 3c91a51c-f1b4-4d65
      X-Render-Origin-Server:
      - Render
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"credits_remaining":24974,"extra":{"fatal_item_ids":[],"logid":"20251115060940FE9F896514AA28C42526","now":1763186980000},"followers":[],"has_more":false,"log_pb":{"impr_id":"20251115060940FE9F896514AA28C42526"},"max_time":1763186980,"min_time":-1,"myself_user_id":"0","next_page_token":"eyJtYXhfY3Vyc29yIjotMSwibWluX2N1cnNvciI6LTF9","offset":0,"status_code":0,"status_msg":"","total":4511327}'
  recorded_at: Sat, 15 Nov 2025 06:09:41 GMT
recorded_with: VCR 6.3.1
