---
http_interactions:
- request:
    method: get
    uri: https://api.scrapecreators.com/v1/tiktok/user/live?handle=thisuserdoesnotexist123456789
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"40-h02FzQ1MhX0pSkQKbpzwfaCfo9Y"
      Rndr-Id:
      - cb53c6cf-8bd5-49c1
      X-Render-Origin-Server:
      - Render
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"credits_remaining":24977,"liveRoomUserInfo":{}}'
  recorded_at: Sat, 15 Nov 2025 06:09:32 GMT
recorded_with: VCR 6.3.1
