---
http_interactions:
- request:
    method: get
    uri: https://api.scrapecreators.com/v2/tiktok/video?getTranscript=true&url=https://www.tiktok.com/@stoolpresidente/video/7445883744370625822
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1c4-73X+O+IH2ZXwSfyPyuBQsnSJXPE"
      Rndr-Id:
      - 9c47c94c-0178-42e1
      X-Render-Origin-Server:
      - Render
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"credits_remaining":24915,"extra":{"fatal_item_ids":[],"logid":"2025111506100452B2207342E4D13C3B5C","now":1763187004000},"log_pb":{"impr_id":"2025111506100452B2207342E4D13C3B5C"},"status_code":0,"status_msg":"","aweme_detail":{"is_ad":false,"content_model":{"standard_biz":{"tts_voice_info":{"tts_voice_reuse_params":null}}},"is_eligible_for_commission":false,"is_paid_partnership":false,"create_time_utc":null,"shop_product_url":null}}'
  recorded_at: Sat, 15 Nov 2025 06:10:04 GMT
recorded_with: VCR 6.3.1
