---
http_interactions:
- request:
    method: get
    uri: https://api.scrapecreators.com/v1/tiktok/video/transcript?url=https://www.tiktok.com/@stoolpresidente/video/7499229683859426602&use_ai_as_fallback=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2b4-abcdef123456"
      Rndr-Id:
      - abc123-def456-7890
      X-Render-Origin-Server:
      - Render
    body:
      encoding: ASCII-8BIT
      string: '{"credits_remaining":24824,"id":"7499229683859426602","url":"https://www.tiktok.com/@stoolpresidente/video/7499229683859426602","transcript":"WEBVTT\n\n\n00:00:00.120
        --> 00:00:01.840\nAlright, pizza review time.\n\n00:00:01.841 --> 00:00:03.761\nSal''s
        Pizza Factory. Oh,\n\n00:00:03.762 --> 00:00:05.721\nit''s Fucking Corn. We''re
        in Charlotte.\n\n00:00:05.722 --> 00:00:07.861\nAlright man, any chance I
        can get a real quick picture?\n\n00:00:07.920 --> 00:00:10.040\nShaq or Dwight
        Howard? I gotta pick one.\n"}'
  recorded_at: Thu, 05 Dec 2025 12:00:00 GMT
recorded_with: VCR 6.3.1
