---
http_interactions:
- request:
    method: get
    uri: https://api.scrapecreators.com/v1/tiktok/video/comments?url=https://www.tiktok.com/@stoolpresidente/video/7445883744370625822
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ff-JZzdNJUpsw1oFcNSzWKizCNTXFA"
      Rndr-Id:
      - 9ab2e20c-1c68-4738
      X-Render-Origin-Server:
      - Render
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"credits_remaining":24896,"comments":null,"extra":{"api_debug_info":null,"fatal_item_ids":null,"now":1763187515000},"log_pb":{"impr_id":"2025111506183588B6ED0C0F65303F906C"},"reply_style":2,"status_code":0,"status_msg":"","top_gifts":null}'
  recorded_at: Sat, 15 Nov 2025 06:18:36 GMT
recorded_with: VCR 6.3.1
