---
http_interactions:
- request:
    method: get
    uri: https://api.scrapecreators.com/v1/tiktok/video/comments?cursor=20&url=https://www.tiktok.com/@programming_hub/video/7340627334321491205
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"159-wzd/7c5STO4+SZgThcGlrFgC7ns"
      Rndr-Id:
      - 1d6304ce-231d-4fcb
      X-Render-Origin-Server:
      - Render
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"credits_remaining":24833,"alias_comment_deleted":false,"comments":[],"cursor":40,"extra":{"api_debug_info":null,"fatal_item_ids":null,"now":1763188427000},"has_filtered_comments":0,"has_more":0,"log_pb":{"impr_id":"202511150633473ED877E3742D3E3467A8"},"reply_style":2,"status_code":0,"status_msg":"","top_gifts":null,"total":20}'
  recorded_at: Sat, 15 Nov 2025 06:33:47 GMT
recorded_with: VCR 6.3.1
