---
http_interactions:
- request:
    method: get
    uri: https://api.scrapecreators.com/v1/tiktok/video/transcript?url=https://www.tiktok.com/@stoolpresidente/video/7445883744370625822
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"77-Qyvgs/2NPF5PQyxvl12/pBJ+lYw"
      Rndr-Id:
      - c6d19c13-293d-44ee
      X-Render-Origin-Server:
      - Render
    body:
      encoding: ASCII-8BIT
      string: '{"credits_remaining":24917,"url":"https://www.tiktok.com/@stoolpresidente/video/7445883744370625822","transcript":null}'
  recorded_at: Sat, 15 Nov 2025 06:10:00 GMT
recorded_with: VCR 6.3.1
