---
http_interactions:
- request:
    method: get
    uri: https://api.scrapecreators.com/v1/tiktok/video/transcript?url=https://www.tiktok.com/@programming_hub/video/7340627334321491205
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"19e-yEWJcp6v6zszQRQs7sCVW2PZWA0"
      Rndr-Id:
      - 1717d2b6-3066-45f0
      X-Render-Origin-Server:
      - Render
    body:
      encoding: ASCII-8BIT
      string: '{"credits_remaining":24834,"id":"7340627334321491205","url":"https://www.tiktok.com/@programming_hub/video/7340627334321491205","transcript":"WEBVTT\n\n\n00:00:00.840
        --> 00:00:03.260\nWonderful app. We need more apps like this.\n\n00:00:03.360
        --> 00:00:04.960\nHopefully you could make one for high school,\n\n00:00:04.961
        --> 00:00:08.061\nprimary school, college and university so that we can learn
        faster.\n"}'
  recorded_at: Sat, 15 Nov 2025 06:33:46 GMT
recorded_with: VCR 6.3.1
