---
http_interactions:
- request:
    method: get
    uri: https://api.scrapecreators.com/v2/tiktok/video?url=https://www.tiktok.com/@user/video/1234567890
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1c4-hr+tCoqN8faNmlK7d9zMJb3l6XI"
      Rndr-Id:
      - cc83a186-b6d1-4f59
      X-Render-Origin-Server:
      - Render
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"credits_remaining":24892,"extra":{"fatal_item_ids":[],"logid":"20251115061853178E7F6DF933B43493FE","now":1763187533000},"log_pb":{"impr_id":"20251115061853178E7F6DF933B43493FE"},"status_code":0,"status_msg":"","aweme_detail":{"is_ad":false,"content_model":{"standard_biz":{"tts_voice_info":{"tts_voice_reuse_params":null}}},"is_eligible_for_commission":false,"is_paid_partnership":false,"create_time_utc":null,"shop_product_url":null}}'
  recorded_at: Sat, 15 Nov 2025 06:18:54 GMT
recorded_with: VCR 6.3.1
