---
http_interactions:
- request:
    method: get
    uri: https://api.scrapecreators.com/v1/tiktok/video/comments?url=https://www.tiktok.com/@user/video/1234567890
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"158-mBCrhG8WXXqAUABO2C1+DZQwFK0"
      Rndr-Id:
      - '0951b0f3-71e6-4956'
      X-Render-Origin-Server:
      - Render
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"credits_remaining":24894,"alias_comment_deleted":false,"comments":[],"cursor":20,"extra":{"api_debug_info":null,"fatal_item_ids":null,"now":1763187518000},"has_filtered_comments":0,"has_more":0,"log_pb":{"impr_id":"20251115061837B558436B43459E37E1F8"},"reply_style":1,"status_code":0,"status_msg":"","top_gifts":null,"total":0}'
  recorded_at: Sat, 15 Nov 2025 06:18:38 GMT
recorded_with: VCR 6.3.1
