---
http_interactions:
- request:
    method: get
    uri: https://api.scrapecreators.com/v1/tiktok/video/transcript?url=https://www.tiktok.com/@user/video/1234567890
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"63-OvAhltRagC4/8wrBqGAM9bW7ovY"
      Rndr-Id:
      - 13d1fd4c-6573-45bb
      X-Render-Origin-Server:
      - Render
    body:
      encoding: ASCII-8BIT
      string: '{"credits_remaining":24917,"url":"https://www.tiktok.com/@user/video/1234567890","transcript":null}'
  recorded_at: Sat, 15 Nov 2025 06:10:02 GMT
recorded_with: VCR 6.3.1
