---
http_interactions:
- request:
    method: get
    uri: https://api.scrapecreators.com/v1/tiktok/video/comments?cursor=20&url=https://www.tiktok.com/@stoolpresidente/video/7445883744370625822
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ff-rgMEklgEsrIT5V3YpwqxwJ9JXmc"
      Rndr-Id:
      - 90e85e69-a83b-463a
      X-Render-Origin-Server:
      - Render
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"credits_remaining":24985,"comments":null,"extra":{"api_debug_info":null,"fatal_item_ids":null,"now":1763186958000},"log_pb":{"impr_id":"20251115060918EC17D4B4B002B23F3AE3"},"reply_style":2,"status_code":0,"status_msg":"","top_gifts":null}'
  recorded_at: Sat, 15 Nov 2025 06:09:18 GMT
recorded_with: VCR 6.3.1
