---
http_interactions:
- request:
    method: get
    uri: https://api.scrapecreators.com/v1/tiktok/video/comments?url=https://www.tiktok.com/@stoolpresidente/video/7445883744370625822
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ff-O8wOyR4nct12vbB2ZCJmdY1RxhI"
      Rndr-Id:
      - 2b00b3db-a091-4721
      X-Render-Origin-Server:
      - Render
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"credits_remaining":24984,"comments":null,"extra":{"api_debug_info":null,"fatal_item_ids":null,"now":1763186959000},"log_pb":{"impr_id":"2025111506091968467F68555FDD3BC4BA"},"reply_style":2,"status_code":0,"status_msg":"","top_gifts":null}'
  recorded_at: Sat, 15 Nov 2025 06:09:20 GMT
recorded_with: VCR 6.3.1
