---
http_interactions:
- request:
    method: get
    uri: https://api.scrapecreators.com/v2/tiktok/video?url=https://www.tiktok.com/@user/video/1234567890
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1c4-YF3MqsHtjZfSp+csVfzsgR49zIc"
      Rndr-Id:
      - 58318fc7-a10b-4315
      X-Render-Origin-Server:
      - Render
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"credits_remaining":24916,"extra":{"fatal_item_ids":[],"logid":"20251115061002EE1079A4A46C0133A003","now":1763187002000},"log_pb":{"impr_id":"20251115061002EE1079A4A46C0133A003"},"status_code":0,"status_msg":"","aweme_detail":{"is_ad":false,"content_model":{"standard_biz":{"tts_voice_info":{"tts_voice_reuse_params":null}}},"is_eligible_for_commission":false,"is_paid_partnership":false,"create_time_utc":null,"shop_product_url":null}}'
  recorded_at: Sat, 15 Nov 2025 06:10:03 GMT
recorded_with: VCR 6.3.1
