---
http_interactions:
- request:
    method: get
    uri: https://api.scrapecreators.com/v1/tiktok/video/comments?cursor=20&url=https://www.tiktok.com/@stoolpresidente/video/7445883744370625822
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ff-tHP+NuyKMG3CpTcMLKeeqomAI24"
      Rndr-Id:
      - 74e55da9-51cb-4c2b
      X-Render-Origin-Server:
      - Render
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"credits_remaining":24895,"comments":null,"extra":{"api_debug_info":null,"fatal_item_ids":null,"now":1763187517000},"log_pb":{"impr_id":"2025111506183640C019D06F2DD13AB62D"},"reply_style":2,"status_code":0,"status_msg":"","top_gifts":null}'
  recorded_at: Sat, 15 Nov 2025 06:18:37 GMT
recorded_with: VCR 6.3.1
