---
http_interactions:
- request:
    method: get
    uri: https://api.scrapecreators.com/v1/tiktok/video/transcript?url=https://www.tiktok.com/@user/video/1234567890
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 503
      message: Service Unavailable
    headers:
      Content-Type:
      - text/plain
    body:
      encoding: UTF-8
      string: 'upstream connect error or disconnect/reset before headers. reset reason:
        remote connection failure, transport failure reason: TLS_error:|268435581:SSL
        routines:OPENSSL_internal:CERTIFICATE_VERIFY_FAILED:TLS_error_end'
  recorded_at: Sat, 15 Nov 2025 06:18:43 GMT
[...]
- request:
    method: get
    uri: https://api.scrapecreators.com/v1/tiktok/video/transcript?url=https://www.tiktok.com/@user/video/1234567890
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"63-D/yTfKnmJasZkg2AhzWsJStjkHs"
      Rndr-Id:
      - 44f85e70-ede9-402e
      X-Render-Origin-Server:
      - Render
    body:
      encoding: ASCII-8BIT
      string: '{"credits_remaining":24894,"url":"https://www.tiktok.com/@user/video/1234567890","transcript":null}'
  recorded_at: Sat, 15 Nov 2025 06:18:51 GMT
recorded_with: VCR 6.3.1
