---
http_interactions:
- request:
    method: get
    uri: https://api.scrapecreators.com/v1/tiktok/video/transcript?language=es&url=https://www.tiktok.com/@programming_hub/video/7340627334321491205
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"92-udD+zzNdgQ95UlgLk7xctxSTzhw"
      Rndr-Id:
      - 05e813b5-6c5d-4b40
      X-Render-Origin-Server:
      - Render
    body:
      encoding: ASCII-8BIT
      string: '{"credits_remaining":24835,"id":"7340627334321491205","url":"https://www.tiktok.com/@programming_hub/video/7340627334321491205","transcript":null}'
  recorded_at: Sat, 15 Nov 2025 06:33:35 GMT
recorded_with: VCR 6.3.1
