---
http_interactions:
- request:
    method: get
    uri: https://api.scrapecreators.com/v1/tiktok/video/transcript?language=es&url=https://www.tiktok.com/@stoolpresidente/video/7445883744370625822
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"77-Dl+8WArH1GsBPUZVyXYvQ3TxLFw"
      Rndr-Id:
      - 137ca804-1da7-4309
      X-Render-Origin-Server:
      - Render
    body:
      encoding: ASCII-8BIT
      string: '{"credits_remaining":24894,"url":"https://www.tiktok.com/@stoolpresidente/video/7445883744370625822","transcript":null}'
  recorded_at: Sat, 15 Nov 2025 06:18:43 GMT
recorded_with: VCR 6.3.1
