---
http_interactions:
- request:
    method: get
    uri: https://api.scrapecreators.com/v1/linkedin/profile?url=https://www.linkedin.com/in/samparr/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"name":"Sam Parr","image":"https://media.licdn.com/dms/image/v2/C4E03AQH3Vz1qV_rNVQ/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1633389534107?e=2147483647&v=beta&t=8x4PIfTIYFOvpI1QRCDyAhNprZv0NY9kAp4EOdvUxLQ","location":"Westport, Connecticut, United States","followers":64803,"connections":"","about":"I founded The Hustle, a business news media company with $12 when I was around 25 years old.","recentPosts":[{"title":"Super excited to watch the success of a company built by a Gauntlet AI grad: One missed contract renewal can cost your company $100k, $250k or more.","activityType":"Posted by Austen Allred","link":"https://www.linkedin.com/posts/austenallred_super-excited-to-watch-the-success-of-a-company-activity-7333305862695919617-zTPI","image":"https://static.licdn.com/aero-v1/sc/h/53n89ecoxpr1qrki1do3alazb"},{"title":"Imagine if software engineers declared that programming does not work if their program did not compile on the first try.","activityType":"Posted by Austen Allred","link":"https://www.linkedin.com/posts/austenallred_imagine-if-software-engineers-declared-that-activity-7325898973485879296-jTB4","image":"https://static.licdn.com/aero-v1/sc/h/53n89ecoxpr1qrki1do3alazb"}],"experience":[{"@type":"Organization","name":"Hampton","url":"https://www.linkedin.com/company/myhampton","location":"Austin, Texas Metropolitan Area","member":{"@type":"OrganizationRole","description":"Building a community for entrepreneurs."}},{"@type":"Organization","name":"The Hustle","member":{"@type":"OrganizationRole","description":"Founded The Hustle, a business news media company."}}],"articles":[{"headline":"RANT: How to PROPERLY analyze risk","author":"Sam Parr","datePublished":"2017-09-17T13:08:55.000+00:00","image":"https://media.licdn.com/dms/image/v2/C5612AQG9YbLJodxr8g/article-cover_image-shrink_720_1280/article-cover_image-shrink_720_1280/0/1520096757452?e=2147483647&v=beta&t=USPma8tkR65yot8_Ye0zDfH2llLpTrZdZGHtbzmPjQ0","articleBody":"I have been talking to a few people who want to leave...."}],"activity":[{"title":"Othership is this cool sauna place in NYC.","activityType":"Shared by Sam Parr","link":"https://www.linkedin.com/posts/parrsam_exclusive-othership-session-qa-with-founder-activity-7328134812047704064-4NUL","image":"https://media.licdn.com/dms/image/sync/v2/D4D27AQGJaeiyu-gbrA/articleshare-shrink_1280_800/B4DZbLDrHUHsAU-/0/1747163460743?e=2147483647&v=beta&t=rZtGF2kjhFfLy-TZil0d_bakH4UfHnK-dcxEsrZSl5s"},{"title":"If you live in SF, LA and want to lead a bunch of startup ceos/founders.","activityType":"Shared by Sam Parr","link":"https://www.linkedin.com/posts/parrsam_careers-activity-7328088180820193281-3j6g","image":"https://media.licdn.com/dms/image/sync/v2/D4E27AQFwp04bg9zFpg/articleshare-shrink_800/articleshare-shrink_800/0/1743914613899?e=2147483647&v=beta&t=PWPWBgbYTxLt6u53gLNzEO0laXD2AFd5LBPKId4Fm9Y"}],"education":[{"@type":"EducationalOrganization","name":"Belmont University","url":"https://www.linkedin.com/school/belmont-university/","member":{"@type":"OrganizationRole","startDate":2008,"endDate":2012}}],"publications":[{"name":"How my partner and I created a unique company in tough times","url":"http://online.wsj.com/article/SB10001424127887324694904578602013087282582.html"},{"name":"Our infographic and app get a shout out in the Huffington Post","url":"http://www.huffingtonpost.com/2013/08/09/roommates-app-la_n_3733587.html"}],"projects":[{"name":"Hustle Con 2015","url":"https://www.linkedin.com/in/elizabethyin","dateRange":"2015","description":"Annual entrepreneurship conference.","contributors":[{"name":"Elizabeth Yin","link":"https://www.linkedin.com/in/elizabethyin","image":"https://media.licdn.com/dms/image/v2/C5603AQFFdhmfyyiZig/profile-displayphoto-shrink_400_400/profile-displayphoto-shrink_400_400/0/1581292451105?e=2147483647&v=beta&t=IwghMTQZZjJzIGbN6e1IYfWVBDAkgLP_kSJJPOkzQDg"}]}],"recommendations":[{"name":"Jackie M.","link":"https://www.linkedin.com/in/jackiemooney","image":"https://static.licdn.com/aero-v1/sc/h/9c8pery4andzj6ohjkjp54ma2","text":"I got to know Sam over 2 years of working at The Hustle."},{"name":"Michael Cheung","link":"https://www.linkedin.com/in/themichaelcheung","image":"https://media.licdn.com/dms/image/v2/C5603AQGBj0wY-4ePhg/profile-displayphoto-shrink_400_400/profile-displayphoto-shrink_400_400/0/1586460717915?e=2147483647&v=beta&t=uGi9GocopqdNH3aUPCv5hEvmnq24YR8VBbzBAz_Pmbw","text":"Sam is a hustler that and serial entrepreneur."}],"similarProfiles":[{"link":"https://ca.linkedin.com/in/stevemcody","name":"Steve Cody","image":"https://media.licdn.com/dms/image/v2/D5603AQEl17hna0u1ew/profile-displayphoto-shrink_400_400/profile-displayphoto-shrink_400_400/0/1673387873184?e=2147483647&v=beta&t=pN-Y2CS1AQ8AOKbTo_2_B0AXjof4nGLKBdhNZTfFYJA"}]}'
  recorded_at: Sat, 23 Nov 2025 10:00:00 GMT
recorded_with: VCR 6.3.1
