---
http_interactions:
- request:
    method: get
    uri: https://api.scrapecreators.com/v1/kick/clip?url=https://kick.com/xqc/clips/clip_01JGJHB6CEVFCQRYTVPM8DW892
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4fa-eHbgfUhhjWANbRUUxTF6c7b7w8o"
      Rndr-Id:
      - 4e6e1c5a-c047-475b
      X-Render-Origin-Server:
      - Render
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"credits_remaining":24630,"clip":{"id":"clip_01JGJHB6CEVFCQRYTVPM8DW892","livestream_id":"45013036","category_id":"15","channel_id":668,"user_id":13035177,"title":"MonkaW","clip_url":"https://clips.kick.com/clips/7a/clip_01JGJHB6CEVFCQRYTVPM8DW892/playlist.m3u8","thumbnail_url":"https://clips.kick.com/clips/7a/clip_01JGJHB6CEVFCQRYTVPM8DW892/thumbnail.webp","privacy":"CLIP_PRIVACY_PUBLIC","likes":0,"liked":false,"views":11902,"duration":50,"started_at":"2025-01-02T03:34:51.825Z","created_at":"2025-01-02T03:37:13.559618Z","vod_starts_at":0,"is_mature":false,"video_url":"https://clips.kick.com/clips/7a/clip_01JGJHB6CEVFCQRYTVPM8DW892/playlist.m3u8","view_count":11902,"likes_count":0,"category":{"id":15,"name":"Just
        Chatting","slug":"just-chatting","responsive":"https://files.kick.com/images/subcategories/15/banner/b697a8a3-62db-4779-aa76-e4e47662af97","banner":"https://files.kick.com/images/subcategories/15/banner/b697a8a3-62db-4779-aa76-e4e47662af97","parent_category":"irl"},"creator":{"id":13035177,"username":"cskorm","slug":"cskorm","profile_picture":null},"channel":{"id":668,"username":"xQc","slug":"xqc","profile_picture":"https://files.kick.com/images/user/676/profile_image/conversion/931b4e8f-5445-427c-bd82-b473530390cc-thumb.webp"}}}'
  recorded_at: Sun, 23 Nov 2025 20:09:08 GMT
recorded_with: VCR 6.3.1
