---
http_interactions:
- request:
    method: get
    uri: https://api.scrapecreators.com/v1/threads/post?trim=true&url=https://www.threads.net/@trendspider/post/DIU8naHS6q_
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"post":{"id":"3608775792320555711_63069450921","pk":"3608775792320555711","code":"DIU8naHS6q_","user":{"pk":"63069450921","username":"trendspider","is_verified":false},"caption":{"text":"NVDA = 36x P/E\n\nNvidia at $110 today carries the same premium as Nvidia at $15 in 2022."},"like_count":28,"taken_at":1744419624,"media_type":1},"comments":[],"relatedPosts":[]}'
  recorded_at: Sun, 23 Nov 2025 06:42:41 GMT
recorded_with: VCR 6.3.1
