---
http_interactions:
- request:
    method: get
    uri: https://api.scrapecreators.com/v1/threads/post?url=https://www.threads.net/@nonexistentuser/post/XXXXXXXXX
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c5-/kXJ9C6VuqCI8zjcyKQYuPm+s84"
      Rndr-Id:
      - b4c71f51-f0b3-4f08
      X-Render-Origin-Server:
      - Render
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"credits_remaining":24722,"error":"not_found","errorStatus":404,"message":"Shoot
        looks like the post is not found, or is private and needs to be accessed by
        a logged in account :("}'
  recorded_at: Sun, 23 Nov 2025 06:42:44 GMT
recorded_with: VCR 6.3.1
