---
http_interactions:
- request:
    method: get
    uri: https://api.scrapecreators.com/v1/threads/post?url=https://www.threads.net/@trendspider/post/DIU8naHS6q_
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"post":{"id":"3608775792320555711_63069450921","pk":"3608775792320555711","user":{"friendship_status":null,"pk":"63069450921","profile_pic_url":"https://scontent-sjc3-1.cdninstagram.com/v/t51.2885-19/358000025_988841669212235_3183384987691331022_n.jpg","username":"trendspider","id":"63069450921","transparency_label":null,"transparency_product":null,"transparency_product_enabled":false,"is_verified":false,"text_post_app_is_private":false,"has_onboarded_to_text_post_app":true},"text_post_app_info":{"show_header_follow":false,"is_markup":false,"custom_feed_preview_info":null,"link_preview_attachment":null,"linked_inline_media":null,"special_effects_enabled_str":"","text_fragments":{"fragments":[{"fragment_type":"plaintext","link_fragment":null,"mention_fragment":null,"plaintext":"NVDA = 36x P/E\n\nNvidia at $110 today carries the same premium as Nvidia at $15 in 2022.","tag_fragment":null,"linkified_web_url":null}]},"reshare_count":1,"direct_reply_count":6,"repost_count":1,"quote_count":0,"share_info":{"quoted_attachment_author_attribution_allowed":true,"quoted_attachment_post_unavailable":false,"quoted_attachment_post":null,"quoted_post":null,"reposted_post":null},"reply_to_author":null,"reply_control":"everyone","private_reply_partner":null,"self_thread_count":null,"tag_header":{"display_name":"NVDA","id":"18402789505032695"},"root_post_author":null,"pinned_post_info":{"is_pinned_to_parent_post":false,"is_pinned_to_profile":false},"related_trends_info":null,"is_reply":false,"is_post_unavailable":false,"post_unavailable_reason":null,"hush_info":null,"can_private_reply":false,"can_reply":false},"is_paid_partnership":null,"audio":null,"caption":{"text":"NVDA = 36x P/E\n\nNvidia at $110 today carries the same premium as Nvidia at $15 in 2022.","pk":"18109768954486098","has_translation":null},"caption_is_edited":false,"transcription_data":null,"carousel_media":null,"code":"DIU8naHS6q_","image_versions2":{"candidates":[{"height":790,"url":"https://scontent-sjc3-1.cdninstagram.com/v/t51.2885-15/489773269_18495263140062925.jpg","width":1079}]},"original_height":790,"original_width":1079,"accessibility_caption":"May be an image of text","video_versions":null,"has_audio":null,"media_type":1,"caption_add_on":null,"giphy_media_info":null,"media_overlay_info":null,"sharing_friction_info":{"should_have_sharing_friction":false,"sharing_friction_payload":null},"like_count":28,"metaPlace":null,"meta_place":null,"gen_ai_detection_method":null,"taken_at":1744419624,"organic_tracking_token":"eyJ2ZXJzaW9uIjo1fQ==","logging_info_token":null,"like_and_view_counts_disabled":false},"comments":[{"id":"3623864305260810977_63153846014","pk":"3623864305260810977","user":{"friendship_status":null,"pk":"63153846014","profile_pic_url":"https://scontent-det1-1.cdninstagram.com/v/t51.2885-19/487938413_586751564386772.jpg","username":"gringo.ronin","id":"63153846014","transparency_label":null,"transparency_product":null,"transparency_product_enabled":false,"is_verified":false,"text_post_app_is_private":false,"has_onboarded_to_text_post_app":true},"text_post_app_info":{"show_header_follow":false,"is_markup":false,"custom_feed_preview_info":null,"link_preview_attachment":null,"linked_inline_media":null,"special_effects_enabled_str":"","text_fragments":{"fragments":[{"fragment_type":"plaintext","link_fragment":null,"mention_fragment":null,"plaintext":"UNLIMITED FIREPOWAHHH","tag_fragment":null,"linkified_web_url":null,"styling_info":null}]},"reshare_count":null,"direct_reply_count":0,"repost_count":0,"quote_count":0,"share_info":{"quoted_attachment_author_attribution_allowed":true,"quoted_attachment_post_unavailable":false,"quoted_attachment_post":null,"quoted_post":null,"reposted_post":null},"reply_to_author":{"username":"culturecrave","id":"63097619970"},"reply_control":"everyone","private_reply_partner":null,"self_thread_count":null,"tag_header":null,"root_post_author":{"pk":"63097619970","id":"63097619970"},"pinned_post[...]
