---
http_interactions:
- request:
    method: get
    uri: https://api.scrapecreators.com/v1/threads/user/posts?handle=thisuserdoesnotexist123456789xyz
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c5-8YT26j4eHFgJruApx2nT4WctUlo"
      Rndr-Id:
      - 2ec189bc-ae3f-499e
      X-Render-Origin-Server:
      - Render
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"credits_remaining":24671,"error":"not_found","errorStatus":404,"message":"Shoot
        looks like the user is not found, or is private and needs to be accessed by
        a logged in account :("}'
  recorded_at: Sun, 23 Nov 2025 19:31:59 GMT
recorded_with: VCR 6.3.1
