---
http_interactions:
- request:
    method: get
    uri: https://api.scrapecreators.com/v1/komi?url=https://komi.io/kimkardashian
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"success":true,"credits_remaining":24500,"id":"64d82830-59aa-4488-bfb0-93426971d139","username":"kimkardashian","avatar":"https://komi-production-assets.s3.amazonaws.com/photos/4Nd69ODJHs61_iNYPlqos.jpg","bio":"","firstName":"Kim","lastName":"Kardashian","displayName":"Kim Kardashian","displayNameImage":null,"instagram":"https://www.instagram.com/kimkardashian/","tiktok":"https://www.tiktok.com/@kimkardashian","youtube":"https://www.youtube.com/@KUWTK","twitter":"https://twitter.com/KimKardashian","facebook":"https://www.facebook.com/KimKardashian","snapchat":"https://www.snapchat.com/add/kimkardashian?locale=en-GB","website":null,"links":[{"id":"6d7086df-ede4-4f8a-85e5-0fa410e60bc2","url":"https://skims.social/shop-skims","order":0,"title":"Visit SKIMS","visible":true,"moduleId":"e6ce39d2-e3df-4040-a5cc-ce016cacbc34","thumbnail":"https://komi-production-assets.s3-accelerate.amazonaws.com/photos/x_LQCBYzoWiel0-yrAnrF.jpg","versionId":"944094bf-f124-4b13-866a-3498c492736d","type":"LINK"},{"id":"f43e198b-2fd5-45f4-80d1-389906c5c840","url":"https://skims.com/products/signature-swim-triangle-bikini-top-dune-crocodile-print","order":0,"price":44,"title":"TRIANGLE BIKINI TOP | DUNE CROCODILE","visible":false,"currency":"USD","moduleId":"5c8bc46c-2d6b-4731-baf3-2f40aec1465c","thumbnail":"https://komi-production-assets.s3-accelerate.amazonaws.com/photos/dzDiYZjZFXPE4E8-ZwnSn.png","versionId":"944094bf-f124-4b13-866a-3498c492736d","type":"PRODUCT"}]}'
  recorded_at: Sun, 24 Nov 2025 20:00:00 GMT
recorded_with: VCR 6.3.1
