---
http_interactions:
- request:
    method: get
    uri: https://api.scrapecreators.com/v1/truthsocial/post?url=https://truthsocial.com/@nonexistent/999999999999999999
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6e-jUFFw45BnQpDYLMkDCWCQBEMtcU"
      Rndr-Id:
      - 28fc93fc-4029-4167
      X-Render-Origin-Server:
      - Render
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"credits_remaining":24719,"error":"not_found","errorStatus":404,"message":"Post not found"}'
  recorded_at: Sun, 23 Nov 2025 06:45:01 GMT
recorded_with: VCR 6.3.1
