---
http_interactions:
- request:
    method: get
    uri: https://api.scrapecreators.com/v1/truthsocial/post?url=https://truthsocial.com/@realDonaldTrump/114315219437063160
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"abc-xyz"
      Rndr-Id:
      - d4e74e6a-1809-4a93
      X-Render-Origin-Server:
      - Render
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"credits_remaining":24720,"text":"It''s so hard to watch as Highly Qualified and Respected Ambassadors, who we desperately need representing our Country in Faraway Lands, are purposefully meant to wait as the Democrat Senators take maximum time for every single one of them, even though they were confirmed with Bipartisan Support, also at maximum time, and only done to hurt our Country. A process that should take a matter of minutes is forced into taking months, making it very hard on the new Ambassadors'' families, and not good, at all, for the Good Ole'' U.S.A. In a true sense, in numerous cases, what they do is actually a Threat to National Security. John Thune and the Republicans are doing a great job, but nothing much can be done when the Democrats make everyone sit, day after day, pushing the limits. The level of hostility is not to be believed!","id":"114315219437063160","created_at":"2025-04-10T19:03:40.023Z","in_reply_to_id":null,"quote_id":null,"in_reply_to_account_id":null,"sensitive":false,"spoiler_text":"","visibility":"public","language":"en","uri":"https://truthsocial.com/@realDonaldTrump/114315219437063160","url":"https://truthsocial.com/@realDonaldTrump/114315219437063160","content":"<p>It''s so hard to watch as Highly Qualified and Respected Ambassadors...</p>","account":{"id":"107780257626128497","username":"realDonaldTrump","acct":"realDonaldTrump","display_name":"Donald J. Trump","locked":false,"bot":false,"discoverable":false,"group":false,"created_at":"2022-02-11T16:16:57.705Z","note":"<p></p>","url":"https://truthsocial.com/@realDonaldTrump","avatar":"https://static-assets-1.truthsocial.com/tmtg:prime-ts-assets/accounts/avatars/107/780/257/626/128/497/original/454286ac07a6f6e6.jpeg","avatar_static":"https://static-assets-1.truthsocial.com/tmtg:prime-ts-assets/accounts/avatars/107/780/257/626/128/497/original/454286ac07a6f6e6.jpeg","header":"https://static-assets-1.truthsocial.com/tmtg:prime-ts-assets/accounts/headers/107/780/257/626/128/497/original/ba3b910ba387bf4e.jpeg","header_static":"https://static-assets-1.truthsocial.com/tmtg:prime-ts-assets/accounts/headers/107/780/257/626/128/497/original/ba3b910ba387bf4e.jpeg","followers_count":9528704,"following_count":72,"statuses_count":26249,"last_status_at":"2025-04-10","verified":true,"location":"","website":"www.DonaldJTrump.com","unauth_visibility":true,"chats_onboarded":true,"feeds_onboarded":true,"accepting_messages":false,"show_nonmember_group_statuses":null,"emojis":[],"fields":[],"tv_onboarded":false,"tv_account":false},"media_attachments":[],"mentions":[],"tags":[],"card":null,"group":null,"quote":null,"in_reply_to":null,"reblog":null,"sponsored":false,"replies_count":797,"reblogs_count":2423,"favourites_count":8552,"favourited":false,"reblogged":false,"muted":false,"pinned":false,"bookmarked":false,"poll":null,"emojis":[]}'
  recorded_at: Sun, 23 Nov 2025 06:45:00 GMT
recorded_with: VCR 6.3.1
