---
http_interactions:
- request:
    method: get
    uri: https://api.scrapecreators.com/v1/truthsocial/profile?handle=realDonaldTrump
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5a1-YiKXmh9TpaoG0FBc/hGpAIa6RCI"
      Rndr-Id:
      - d4e74e6a-1809-4a92
      X-Render-Origin-Server:
      - Render
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"credits_remaining":24721,"id":"107780257626128497","username":"realDonaldTrump","acct":"realDonaldTrump","display_name":"Donald
        J. Trump","locked":false,"bot":false,"discoverable":null,"group":false,"created_at":"2022-02-11T16:16:57.705Z","note":"<p></p>","url":"https://truthsocial.com/@realDonaldTrump","avatar":"https://static-assets-1.truthsocial.com/tmtg:prime-ts-assets/accounts/avatars/107/780/257/626/128/497/original/454286ac07a6f6e6.jpeg","avatar_static":"https://static-assets-1.truthsocial.com/tmtg:prime-ts-assets/accounts/avatars/107/780/257/626/128/497/original/454286ac07a6f6e6.jpeg","header":"https://static-assets-1.truthsocial.com/tmtg:prime-ts-assets/accounts/headers/107/780/257/626/128/497/original/ba3b910ba387bf4e.jpeg","header_static":"https://static-assets-1.truthsocial.com/tmtg:prime-ts-assets/accounts/headers/107/780/257/626/128/497/original/ba3b910ba387bf4e.jpeg","followers_count":11109506,"following_count":67,"statuses_count":30006,"last_status_at":"2025-11-23","verified":true,"location":"","website":"www.DonaldJTrump.com","accepting_messages":false,"chats_onboarded":true,"feeds_onboarded":true,"tv_onboarded":false,"bookmarks_onboarded":true,"show_nonmember_group_statuses":false,"pleroma":{"accepts_chat_messages":false},"tv_account":false,"receive_only_follow_mentions":false,"group_reactions_onboarded":true,"premium":true,"accepted_status_edit_prompt":false,"emojis":[],"fields":[]}'
  recorded_at: Sun, 23 Nov 2025 06:44:21 GMT
recorded_with: VCR 6.3.1
