---
http_interactions:
- request:
    method: get
    uri: https://api.scrapecreators.com/v1/truthsocial/user/posts?handle=realDonaldTrump
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"credits_remaining":24700,"posts":[{"text":"https://www.youtube.com/live/BK2YxPPRqlg?si=LvQtR-YoCJQd059_","id":"114315232218538121","created_at":"2025-04-10T19:06:55.053Z","in_reply_to_id":null,"quote_id":null,"in_reply_to_account_id":null,"sensitive":false,"spoiler_text":"","visibility":"public","language":null,"uri":"https://truthsocial.com/@realDonaldTrump/114315232218538121","url":"https://truthsocial.com/@realDonaldTrump/114315232218538121","content":"<p><a href=\"https://www.youtube.com/live/BK2YxPPRqlg?si=LvQtR-YoCJQd059_\" rel=\"nofollow noopener noreferrer\" target=\"_blank\"><span class=\"invisible\">https://www.</span><span class=\"ellipsis\">youtube.com/live/BK2YxPPRqlg?s</span><span class=\"invisible\">i=LvQtR-YoCJQd059_</span></a></p>","account":{"id":"107780257626128497","username":"realDonaldTrump","acct":"realDonaldTrump","display_name":"Donald J. Trump","locked":false,"bot":false,"discoverable":false,"group":false,"created_at":"2022-02-11T16:16:57.705Z","note":"<p></p>","url":"https://truthsocial.com/@realDonaldTrump","avatar":"https://static-assets-1.truthsocial.com/tmtg:prime-ts-assets/accounts/avatars/107/780/257/626/128/497/original/454286ac07a6f6e6.jpeg","avatar_static":"https://static-assets-1.truthsocial.com/tmtg:prime-ts-assets/accounts/avatars/107/780/257/626/128/497/original/454286ac07a6f6e6.jpeg","header":"https://static-assets-1.truthsocial.com/tmtg:prime-ts-assets/accounts/headers/107/780/257/626/128/497/original/ba3b910ba387bf4e.jpeg","header_static":"https://static-assets-1.truthsocial.com/tmtg:prime-ts-assets/accounts/headers/107/780/257/626/128/497/original/ba3b910ba387bf4e.jpeg","followers_count":9528800,"following_count":72,"statuses_count":26249,"last_status_at":"2025-04-10","verified":true,"location":"","website":"www.DonaldJTrump.com","unauth_visibility":true,"chats_onboarded":true,"feeds_onboarded":true,"accepting_messages":false,"show_nonmember_group_statuses":null,"emojis":[],"fields":[],"tv_onboarded":false,"tv_account":false},"media_attachments":[],"mentions":[],"tags":[],"card":{"id":null,"url":"https://www.youtube.com/live/BK2YxPPRqlg?si=LvQtR-YoCJQd059_","title":"Trump holds Cabinet meeting after House passes budget bill","description":"President Donald Trump holds a Cabinet meeting after Republicans narrowly passed his big, beautiful budget bill.","type":"video","author_name":"","author_url":"","provider_name":"www.youtube.com","provider_url":"","html":"<iframe src=\"https://www.youtube.com/embed/BK2YxPPRqlg\" width=\"1280\" height=\"720\" allowtransparency=\"true\" scrolling=\"no\" frameborder=\"0\"></iframe>","width":1280,"height":720,"image":"https://static-assets-1.truthsocial.com/tmtg:prime-ts-assets/cache/preview_cards/images/052/070/680/original/04aa67804597eebe.jpg","embed_url":"","blurhash":"UECr=-~VXmWAiaROIUS1^jxuaJRjI=kWx]xu","links":null,"group":null},"group":null,"quote":null,"in_reply_to":null,"reblog":null,"sponsored":false,"replies_count":601,"reblogs_count":1607,"favourites_count":6282,"favourited":false,"reblogged":false,"muted":false,"pinned":false,"bookmarked":false,"poll":null,"emojis":[]}],"next_max_id":"114308258545250117"}'
  recorded_at: Sun, 23 Nov 2025 07:00:00 GMT
recorded_with: VCR 6.3.1
